Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

Revert "Bump awalsh128/cache-apt-pkgs-action from 1.6.0 to 1.6.2 (#17286)" (#17289)
  .github/workflows/ci.yml
Due: none

[agents] Add English language AI guidelines for documentation (#17290)
  AGENTS.md
Due: none

[qmi8658] Motion platform for QMI8658 IMU (#16889)
  CODEOWNERS
  esphome/components/qmi8658/__init__.py
  esphome/components/qmi8658/motion.py
  esphome/components/qmi8658/qmi8658.cpp
  esphome/components/qmi8658/qmi8658.h
  esphome/components/qmi8658/sensor.py
  tests/components/qmi8658/common.yaml
  tests/components/qmi8658/test.esp32-idf.yaml
  tests/components/qmi8658/test.esp8266-ard.yaml
Due: pylint

[cst9220] Add CST9220 and CST9217 touchscreen support (#16888)
  CODEOWNERS
  esphome/components/cst9220/__init__.py
  esphome/components/cst9220/touchscreen/__init__.py
  esphome/components/cst9220/touchscreen/cst9220_touchscreen.cpp
  esphome/components/cst9220/touchscreen/cst9220_touchscreen.h
  tests/components/cst9220/common.yaml
  tests/components/cst9220/test.esp32-idf.yaml
Due: pylint

[pixoo] Add Divoom Pixoo display component (#16974)
  CODEOWNERS
  esphome/components/pixoo/__init__.py
  esphome/components/pixoo/display.py
  esphome/components/pixoo/light/__init__.py
  esphome/components/pixoo/light/pixoo_light.h
  esphome/components/pixoo/pixoo.cpp
  esphome/components/pixoo/pixoo.h
  tests/components/pixoo/common.yaml
  tests/components/pixoo/test.esp32-idf.yaml
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

[libretiny] Update LibreTiny to v1.13.0 (#17288)
  docker/test_configs/ln882x-arduino.yaml
  esphome/components/bk72xx/boards.py
  esphome/components/libretiny/__init__.py
  esphome/components/libretiny/generate_components.py
  esphome/components/ln882x/boards.py
  esphome/components/rtl87xx/boards.py
  platformio.ini
  tests/test_build_components/build_components_base.ln882x-ard.yaml
Due: pylint, clang-tidy-hash

[mqtt] Add LN882X (LN882H) platform support (#17297)
  esphome/components/mqtt/__init__.py
  tests/components/mqtt/test.ln882x-ard.yaml
Due: pylint

[devcontainer] Align base image with production, fix Python venv and build tools (#17296)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  script/setup
Due: none

[mipi_spi] Bug fixes (#17247)
  esphome/components/mipi_spi/display.py
  esphome/components/mipi_spi/mipi_spi.h
  esphome/components/mipi_spi/models/ili.py
  tests/component_tests/mipi_spi/test_init.py
Due: pylint

[qmi8658] Pin i2c_id in test config to fix grouped component test conflict (#17303)
  tests/components/qmi8658/common.yaml
Due: none

[ci] Fix nRF52 zigbee/network test-grouping conflict (#17295)
  script/helpers.py
  script/test_build_components.py
  tests/components/api/test.nrf52-adafruit.yaml
  tests/components/mdns/test.nrf52-adafruit.yaml
  tests/components/network/test.nrf52-adafruit.yaml
  tests/components/network/test.nrf52-mcumgr.yaml
  tests/components/network/test.nrf52-xiao-ble.yaml
  tests/script/test_helpers.py
Due: pylint

[ci] Widen import-time margin for CI runner variance (#17287)
  script/import_time_budget.json
Due: none

[modbus] Update client components to use ModbusClientDevice (#11987)
  esphome/components/growatt_solar/growatt_solar.h
  esphome/components/growatt_solar/sensor.py
  esphome/components/havells_solar/havells_solar.h
  esphome/components/havells_solar/sensor.py
  esphome/components/kuntze/kuntze.h
  esphome/components/kuntze/sensor.py
  esphome/components/modbus/__init__.py
  esphome/components/modbus/modbus.h
  esphome/components/modbus_controller/__init__.py
  esphome/components/pzemac/pzemac.h
  esphome/components/pzemac/sensor.py
  esphome/components/pzemdc/pzemdc.h
  esphome/components/pzemdc/sensor.py
  esphome/components/sdm_meter/sdm_meter.h
  esphome/components/sdm_meter/sensor.py
  esphome/components/selec_meter/selec_meter.h
  esphome/components/selec_meter/sensor.py
Due: pylint

[espidf] Install native ESP-IDF into a machine-global cache dir (#17306)
  docker/docker_entrypoint.sh
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
  esphome/__main__.py
  esphome/espidf/clang_tidy.py
  esphome/espidf/framework.py
  esphome/writer.py
  requirements.txt
  tests/unit_tests/test_espidf_framework.py
  tests/unit_tests/test_writer.py
Due: pylint

[bluetooth_proxy] Fix -Wtype-limits warning with active: false (#17273)
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
Due: none

[espnow] Drop oversized received frames to prevent buffer overflow (#17271)
  esphome/components/espnow/espnow_component.cpp
Due: none

[tests] Add esp32-c61-idf base file for grouped component tests (#17293)
  tests/test_build_components/build_components_base.esp32-c61-idf.yaml
Due: none

[ethernet] Fix ETH_SPEED_1000M build on IDF 6.0 (enum added in 6.1) (#17311)
  esphome/components/ethernet/ethernet_component_esp32.cpp
Due: none

[adc] Only call cyw43_thread_enter/exit for VSYS when WiFi is active on RP2040 (#17203)
  esphome/components/adc/adc_sensor_rp2040.cpp
Due: none

[config_validation] Fix multicast typo in error message (#17206)
  esphome/config_validation.py
Due: pylint

[es8388] Fix DAC unable to unmute once muted (#17221)
  esphome/components/es8388/es8388.cpp
  esphome/components/es8388/es8388_const.h
Due: none

Bump version to 2026.6.4
  Doxyfile
  esphome/const.py
Due: pylint

[modbus_server] Fix register range issues and allow partial reads (#17205)
  esphome/components/modbus_server/__init__.py
  esphome/components/modbus_server/const.py
  esphome/components/modbus_server/modbus_server.cpp
  esphome/components/modbus_server/modbus_server.h
  tests/component_tests/modbus_server/test_modbus_server.py
  tests/components/modbus_server/common.yaml
  tests/components/modbus_server/modbus_server_test.cpp
Due: pylint

[esp8266] Strip dead libstdc++ throw message strings from DRAM (#17341)
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/throw_stubs.h
Due: pylint

[usb_uart] Fix format specifier warnings for uint32_t in ft23xx and pl2303 (#17342)
  esphome/components/usb_uart/ft23xx.cpp
  esphome/components/usb_uart/pl2303.cpp
Due: none

[power_supply] Make enable_on_boot high priority (#16914)
  esphome/components/power_supply/power_supply.cpp
  esphome/core/component.h
  tests/components/power_supply/test_setup_priority.cpp
Due: none

[usb_uart] Add per-device-type maximum baud rate cap (#17259)
  esphome/components/usb_uart/__init__.py
Due: pylint

[epaper_spi] Add Waveshare 7.5" V2 BWR support (#15719)
  esphome/components/epaper_spi/epaper_waveshare_bwr.cpp
  esphome/components/epaper_spi/epaper_waveshare_bwr.h
  esphome/components/epaper_spi/models/waveshare_bwr.py
  tests/components/epaper_spi/test.esp32-s3-idf.yaml
Due: pylint

[st7123] add ST7123 touch controller component (M5Stack Tab5) (#12075)
  CODEOWNERS
  esphome/components/st7123/__init__.py
  esphome/components/st7123/touchscreen/__init__.py
  esphome/components/st7123/touchscreen/st7123_touchscreen.cpp
  esphome/components/st7123/touchscreen/st7123_touchscreen.h
  tests/components/st7123/common.yaml
  tests/components/st7123/test.esp32-idf.yaml
Due: pylint

[zephyr][nrf52] Rebuild native build when config inputs change (#17318)
  esphome/components/nrf52/__init__.py
  esphome/components/zephyr/__init__.py
Due: pylint

[nrf52] Build PlatformIO libraries as Zephyr modules (sdk-nrf) (#17250)
  esphome/components/nrf52/__init__.py
  esphome/components/zephyr/library.py
  esphome/espidf/component.py
  esphome/platformio/library.py
  tests/unit_tests/test_espidf_component.py
  tests/unit_tests/test_platformio_library.py
  tests/unit_tests/test_zephyr_library.py
Due: pylint
