Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[mqtt] Reduce heap allocations in publish path (#13372)
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_client.h
Due: none

[am43][lightwaverf][rf_bridge][spi_led_strip] Replace sprintf with safe alternatives (#13302)
  esphome/components/am43/am43_base.cpp
  esphome/components/lightwaverf/lightwaverf.cpp
  esphome/components/rf_bridge/rf_bridge.cpp
  esphome/components/spi_led_strip/spi_led_strip.cpp
Due: none

[ezo_pmp] Replace sprintf with bounds-checked snprintf (#13304)
  esphome/components/ezo_pmp/ezo_pmp.cpp
Due: none

[debug] Use shared buf_append_printf helper from core (#13260)
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_component.h
  esphome/components/debug/debug_esp32.cpp
  esphome/components/debug/debug_esp8266.cpp
  esphome/components/debug/debug_libretiny.cpp
  esphome/components/debug/debug_rp2040.cpp
  esphome/components/debug/debug_zephyr.cpp
Due: none

[statsd] Use direct appends and stack buffer instead of str_sprintf (#13223)
  esphome/components/statsd/statsd.cpp
Due: none

[lock] Extract set_state_ helper to reduce code duplication (#13359)
  esphome/components/lock/lock.cpp
  esphome/components/lock/lock.h
Due: none

[cs5460a] Remove unnecessary empty loop override (#13357)
  esphome/components/cs5460a/cs5460a.h
Due: none

[mqtt] Eliminate per-entity loop overhead and heap churn (#13356)
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
Due: none

[mapping] Use stack buffers for numeric key error logging (#13299)
  esphome/components/mapping/mapping.h
Due: none

[x9c] Fix potentiometer unable to decrement (#13382)
  esphome/components/x9c/x9c.cpp
  esphome/components/x9c/x9c.h
Due: none

[wifi_info] Fix missing state when both IP+DNS or SSID+BSSID configure (#13385)
  esphome/components/wifi_info/text_sensor.py
Due: pylint

[helpers] Allow reading capacity of FixedVector (#13391)
  esphome/core/helpers.h
Due: none

[api] Fix truncation of Home Assistant attributes longer than 255 characters (#13348)
  esphome/components/api/api_connection.cpp
  esphome/components/i2c/i2c.cpp
  esphome/components/i2c/i2c_bus.h
  esphome/core/helpers.h
  tests/integration/fixtures/api_homeassistant.yaml
  tests/integration/test_api_homeassistant.py
Due: pylint

[core] Fix state leakage and module caching when processing multiple configurations (#13368)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

Bump version to 2026.1.0b4
  Doxyfile
  esphome/const.py
Due: pylint

[network] Fix IPAddress::str_to() to lowercase IPv6 hex digits (#13325)
  esphome/components/network/ip_address.h
Due: none

Add the max_delta filter (#12605)
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
  tests/components/template/common-base.yaml
  tests/integration/fixtures/sensor_filters_delta.yaml
  tests/integration/test_sensor_filters_delta.py
Due: pylint

Bump version to 2026.1.0
  Doxyfile
  esphome/const.py
Due: pylint

[wifi] Process scan results one at a time to avoid heap allocation (#13400)
  esphome/components/wifi/wifi_component_esp_idf.cpp
Due: none

[datetime] Add const char * overloads for string parsing to avoid heap allocation (#13363)
  esphome/components/datetime/date_entity.cpp
  esphome/components/datetime/date_entity.h
  esphome/components/datetime/datetime_entity.cpp
  esphome/components/datetime/datetime_entity.h
  esphome/components/datetime/time_entity.cpp
  esphome/components/datetime/time_entity.h
  esphome/core/time.cpp
  esphome/core/time.h
Due: none

[wifi] ESP8266: Use direct SDK calls to reduce flash and heap allocation (#13349)
  esphome/components/wifi/wifi_component_esp8266.cpp
Due: none

[debug] ESP8266: Eliminate heap allocations from Arduino String functions (#13352)
  esphome/components/debug/debug_esp8266.cpp
Due: none

[api] Use stack buffers for noise handshake messages (#13399)
  esphome/components/api/api_frame_helper_noise.cpp
Due: none

[esp32_ble_tracker] Optimize loop with state change tracking for ~85% CPU reduction (#13337)
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.cpp
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
Due: none

[core] Eliminate global constructor overhead for component vectors (#13386)
  esphome/core/component.cpp
Due: none

[cc1101] Add on_packet listener callback code (packet_transport) (#13344)
  esphome/components/cc1101/cc1101.cpp
  esphome/components/cc1101/cc1101.h
Due: none

[json] Use ESP-IDF component registry for ArduinoJson on ESP32 (#13280)
  .clang-tidy.hash
  esphome/components/json/__init__.py
  esphome/idf_component.yml
  platformio.ini
Due: pylint, clang-tidy-hash

[esp32] Add support for native ESP-IDF builds (#13272)
  esphome/__main__.py
  esphome/build_gen/espidf.py
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/espidf_api.py
Due: pylint

[core] Simplify LazyCallbackManager memory management (#13387)
  esphome/core/helpers.h
Due: none

[esp32] [libretiny] Use stack buffer for preference comparison (#13398)
  esphome/components/esp32/preferences.cpp
  esphome/components/libretiny/preferences.cpp
Due: none

[mdns] Use stack buffer for txt records on ESP32 (#13401)
  esphome/components/mdns/mdns_esp32.cpp
  esphome/core/helpers.h
Due: none

[logger] Use raw pointer for task log buffer to match tx_buffer pattern (#13402)
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
Due: none

[libretiny] Disable unused LWIP statistics to save RAM and flash (#13404)
  esphome/components/libretiny/__init__.py
Due: pylint

[web_server_idf] Use direct member for ListEntitiesIterator instead of unique_ptr (#13405)
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
Due: none

[ci] Block sprintf/vsprintf usage, suggest snprintf alternatives (#13305)
  script/ci-custom.py
Due: pylint

[core] Avoid heap allocation in str_equals_case_insensitive with string literals (#13312)
  esphome/core/helpers.h
Due: none

[audio] Bump esp-audio-libs to 2.0.3 (#13346)
  .clang-tidy.hash
  esphome/components/audio/__init__.py
  esphome/components/audio/audio_decoder.cpp
  esphome/idf_component.yml
  platformio.ini
Due: pylint, clang-tidy-hash

[lvgl] Validate LVGL dropdown symbols require Unicode codepoint ≥ 0x100 (#13394)
  esphome/components/lvgl/widgets/dropdown.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
