Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[core] Attribute placement new storage symbols to components (#15092)
  esphome/analyze_memory/__init__.py
  esphome/analyze_memory/cli.py
  esphome/cpp_generator.py
  tests/component_tests/deep_sleep/test_deep_sleep.py
  tests/component_tests/image/test_init.py
  tests/component_tests/mipi_dsi/test_mipi_dsi_config.py
  tests/component_tests/status_led/test_status_led.py
  tests/unit_tests/analyze_memory/test_pstorage_attribution.py
Due: pylint

[mqtt] Fix const-correctness for trigger constructors (#15093)
  esphome/components/mqtt/mqtt_client.h
Due: none

[core] Fix placement new storage name for templated types (#15096)
  esphome/cpp_generator.py
  tests/unit_tests/test_codegen.py
Due: pylint

[benchmark] Add binary sensor publish and sensor filter benchmarks (#15035)
  tests/benchmarks/components/binary_sensor/__init__.py
  tests/benchmarks/components/binary_sensor/bench_binary_sensor_publish.cpp
  tests/benchmarks/components/binary_sensor/benchmark.yaml
  tests/benchmarks/components/sensor/__init__.py
  tests/benchmarks/components/sensor/bench_sensor_filter.cpp
  tests/benchmarks/components/sensor/benchmark.yaml
Due: pylint

[scheduler] Use placement-new for std::function move in set_timer_common_ (#14757)
  esphome/core/scheduler.cpp
Due: none

[network] Inline get_use_address() to eliminate function call overhead (#14942)
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/network/util.cpp
  esphome/components/network/util.h
  esphome/components/openthread/openthread.cpp
  esphome/components/openthread/openthread.h
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
Due: none

[esp32] Patch DRAM segment for testing mode to fix grouped component test overflow (#15102)
  esphome/components/esp32/iram_fix.py.script
Due: none

[uart] Rename `FlushResult` to `UARTFlushResult` with `UART_FLUSH_RESULT_` prefix (#15101)
  esphome/components/api/api_connection.cpp
  esphome/components/ble_nus/ble_nus.cpp
  esphome/components/ble_nus/ble_nus.h
  esphome/components/serial_proxy/serial_proxy.cpp
  esphome/components/serial_proxy/serial_proxy.h
  esphome/components/uart/uart.h
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_component_esp8266.cpp
  esphome/components/uart/uart_component_esp8266.h
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_component_esp_idf.h
  esphome/components/uart/uart_component_host.cpp
  esphome/components/uart/uart_component_host.h
  esphome/components/uart/uart_component_libretiny.cpp
  esphome/components/uart/uart_component_libretiny.h
  esphome/components/uart/uart_component_rp2040.cpp
  esphome/components/uart/uart_component_rp2040.h
  esphome/components/usb_cdc_acm/usb_cdc_acm.h
  esphome/components/usb_cdc_acm/usb_cdc_acm_esp32.cpp
  esphome/components/usb_uart/usb_uart.cpp
  esphome/components/usb_uart/usb_uart.h
  esphome/components/weikai/weikai.cpp
  esphome/components/weikai/weikai.h
  tests/components/ld2450/common.h
  tests/components/uart/common.h
  tests/integration/fixtures/external_components/uart_mock/uart_mock.cpp
  tests/integration/fixtures/external_components/uart_mock/uart_mock.h
Due: none

[api] Devirtualize API command dispatch (#15044)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[test] Fix flakey ld2412 integration test race condition (#15100)
  tests/integration/test_uart_mock_ld2412.py
Due: pylint

[wireguard] bump esp_wireguard to 0.4.4 for mbedtls 4.0+ compatibility (#15104)
  .clang-tidy.hash
  esphome/components/wireguard/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[audio] Bump microOpus to avoid creating an extra opus-staged directory (#14974)
  esphome/components/audio/__init__.py
  esphome/idf_component.yml
  script/analyze_component_buses.py
Due: pylint

[lvgl] Various fixes (#15098)
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/widgets/textarea.py
Due: pylint

[time] Point to valid IANA timezone list on validation failure (#15110)
  esphome/components/time/__init__.py
Due: pylint

[gpio] Compile out interlock fields when unused (#15111)
  esphome/components/gpio/switch/__init__.py
  esphome/components/gpio/switch/gpio_switch.cpp
  esphome/components/gpio/switch/gpio_switch.h
  esphome/core/defines.h
Due: pylint

[api] Make ProtoDecodableMessage::decode() non-virtual (#15076)
  esphome/components/api/api_pb2.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[text_sensor] Guard raw_callback_ behind USE_TEXT_SENSOR_FILTER, save 4 bytes per instance (#15097)
  esphome/components/text_sensor/text_sensor.cpp
  esphome/components/text_sensor/text_sensor.h
Due: none

[ci] Ban std::bind in new C++ code (#14969)
  script/ci-custom.py
Due: pylint

[wifi] Fix roaming attempt counter reset on disconnect during scan (#15099)
  esphome/components/wifi/wifi_component.cpp
Due: none

[spi] Add LOG_SPI_DEVICE macro (#15118)
  esphome/components/spi/spi.h
  script/ci-custom.py
Due: pylint

[ethernet] Add ENC28J60 SPI Ethernet support (#14945)
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.h
  esphome/components/ethernet/ethernet_component_esp32.cpp
  esphome/components/ethernet/ethernet_component_rp2040.cpp
  tests/components/ethernet/common-enc28j60-rp2040.yaml
  tests/components/ethernet/common-enc28j60.yaml
  tests/components/ethernet/test-enc28j60.esp32-idf.yaml
  tests/components/ethernet/test-enc28j60.rp2040-ard.yaml
Due: pylint

[spa06_spi] Add SPA06-003 Temperature and Pressure Sensor - SPI support (Part 3 of 3) (#14523)
  CODEOWNERS
  esphome/components/spa06_spi/__init__.py
  esphome/components/spa06_spi/sensor.py
  esphome/components/spa06_spi/spa06_spi.cpp
  esphome/components/spa06_spi/spa06_spi.h
  tests/components/spa06_spi/common.yaml
  tests/components/spa06_spi/test.esp32-idf.yaml
  tests/components/spa06_spi/test.esp8266-ard.yaml
  tests/components/spa06_spi/test.rp2040-ard.yaml
Due: pylint

[text] Add text_sensor for read-only view of text component (#15090)
  esphome/components/text/text_sensor/__init__.py
  esphome/components/text/text_sensor/text_text_sensor.cpp
  esphome/components/text/text_sensor/text_text_sensor.h
  tests/components/text/common.yaml
Due: pylint

[substitutions] substitutions pass and !include redesign (package refactor part 2b) (#14918)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  esphome/components/substitutions/jinja.py
  esphome/config.py
  esphome/yaml_util.py
  tests/component_tests/packages/test_packages.py
  tests/unit_tests/fixtures/substitutions/00-simple_var.approved.yaml
  tests/unit_tests/fixtures/substitutions/00-simple_var.input.yaml
  tests/unit_tests/fixtures/substitutions/02-expressions.approved.yaml
  tests/unit_tests/fixtures/substitutions/02-expressions.input.yaml
  tests/unit_tests/fixtures/substitutions/07-package_merging.approved.yaml
  tests/unit_tests/fixtures/substitutions/07-package_merging.input.yaml
  tests/unit_tests/fixtures/substitutions/09-include_vars_without_substs.approved.yaml
  tests/unit_tests/fixtures/substitutions/09-include_vars_without_substs.input.yaml
  tests/unit_tests/test_substitutions.py
  tests/unit_tests/test_yaml_util.py
Due: pylint

[number] Add sensor platform (#15125)
  esphome/components/number/sensor/__init__.py
  esphome/components/number/sensor/number_sensor.cpp
  esphome/components/number/sensor/number_sensor.h
  tests/components/number/common.yaml
  tests/components/number/test.esp32-idf.yaml
  tests/components/number/test.esp8266-ard.yaml
Due: pylint

[esp32] Add sram1_as_iram option and bootloader version detection (#14874)
  esphome/components/esp32/__init__.py
  esphome/core/application.cpp
  esphome/core/defines.h
  tests/components/esp32/test.esp32-idf.yaml
Due: pylint

[benchmark] Add noise handshake benchmark (#15039)
  tests/benchmarks/components/api/bench_noise_encrypt.cpp
Due: none

[api] Store dump strings in PROGMEM to save RAM on ESP8266 (#14982)
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[api] Avoid heap allocation in PSK update timeout lambda (#14921)
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Due: none

[gpio] Remove redundant last_state_ and pack GPIOBinarySensor fields (#15113)
  esphome/components/gpio/binary_sensor/gpio_binary_sensor.cpp
  esphome/components/gpio/binary_sensor/gpio_binary_sensor.h
Due: none

[light] Reorder LightState fields to eliminate padding (#15112)
  esphome/components/light/light_state.h
Due: none

[wifi] Reduce ESP8266 roaming scan dwell time to match ESP32 (#15127)
  esphome/components/wifi/wifi_component_esp8266.cpp
Due: none

[substitutions] refactor substitute() as a pure function (package refactor part 3) (#15031)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  tests/unit_tests/test_substitutions.py
Due: pylint

[sensor] Deprecate .raw_state, guard raw_callback_ behind USE_SENSOR_FILTER (#15094)
  esphome/components/haier/hon_climate.cpp
  esphome/components/nextion/sensor/nextion_sensor.cpp
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
Due: none

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

[api] Precompute tag bytes for forced varint and length-delimited fields (#15067)
  esphome/components/api/api_pb2.cpp
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[substitutions] speed up config loading: substitutions pass and `!include` redesign (package refactor part 4) (#12126)
  esphome/components/packages/__init__.py
  esphome/config.py
  tests/component_tests/packages/test_init.py
  tests/component_tests/packages/test_packages.py
  tests/unit_tests/fixtures/substitutions/06-remote_packages.approved.yaml
  tests/unit_tests/fixtures/substitutions/06-remote_packages.input.yaml
  tests/unit_tests/fixtures/substitutions/07-package_merging.approved.yaml
  tests/unit_tests/fixtures/substitutions/08-include_hierarchy.approved.yaml
  tests/unit_tests/fixtures/substitutions/08-include_hierarchy.input.yaml
  tests/unit_tests/fixtures/substitutions/10-dynamic_packages.approved.yaml
  tests/unit_tests/fixtures/substitutions/10-dynamic_packages.input.yaml
  tests/unit_tests/fixtures/substitutions/level1_package.yaml
  tests/unit_tests/fixtures/substitutions/level2_package.yaml
  tests/unit_tests/fixtures/substitutions/level3_package.yaml
  tests/unit_tests/fixtures/substitutions/package2.yaml
  tests/unit_tests/test_substitutions.py
  tests/unit_tests/test_yaml_util.py
Due: pylint

[core] Fix cg.add_define propagation to dependencies in native ESP-IDF builds (#15137)
  esphome/build_gen/espidf.py
Due: pylint
