Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[mitsubishi_cn105] Simplified protocol lookups (#16399)
  esphome/components/mitsubishi_cn105/mitsubishi_cn105.cpp
Due: none

[tests] Add CodSpeed benchmark for compiled-config cache fast path (#16402)
  .github/workflows/ci.yml
  requirements_test.txt
  tests/benchmarks/python/__init__.py
  tests/benchmarks/python/conftest.py
  tests/benchmarks/python/fixtures/bluetooth_proxy_device.yaml
  tests/benchmarks/python/test_compiled_config_bench.py
Due: pylint

[espidf] Run PIO extraScript with SCons-env shim (#16404)
  esphome/espidf/component.py
  esphome/espidf/extra_script.py
  tests/unit_tests/test_espidf_component.py
Due: pylint

[mitsubishi_cn105] Add vane and wide-vane support (#16405)
  esphome/components/mitsubishi_cn105/mitsubishi_cn105.cpp
  esphome/components/mitsubishi_cn105/mitsubishi_cn105.h
  esphome/components/mitsubishi_cn105/mitsubishi_cn105_climate.cpp
  tests/components/mitsubishi_cn105/climate/mitsubishi_cn105_tests.cpp
  tests/components/mitsubishi_cn105/common.h
Due: none

[writer] Clean ESP-IDF build artifacts in clean_build (#16410)
  esphome/writer.py
  tests/unit_tests/test_writer.py
Due: pylint

[espidf] Regenerate bundled CMakeLists; auto-REQUIRE via IDF build properties (#16406)
  esphome/build_gen/espidf.py
  esphome/components/esp32/__init__.py
  esphome/espidf/component.py
  esphome/espidf/toolchain.py
  tests/unit_tests/build_gen/test_espidf.py
  tests/unit_tests/test_espidf_component.py
Due: pylint

Bump version to 2026.5.0b1
  Doxyfile
  esphome/const.py
Due: pylint

Bump version to 2026.6.0-dev
  Doxyfile
  esphome/const.py
Due: pylint

[clang-tidy] Enable readability-container-contains (#16438)
  .clang-tidy
  .clang-tidy.hash
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/spi/spi.cpp
  esphome/components/touchscreen/touchscreen.cpp
  esphome/components/uponor_smatrix/uponor_smatrix.cpp
  esphome/components/web_server/web_server.cpp
Due: clang-tidy-hash

[esp32] Sweep ESP-IDF toolchain warnings + bump deprecated mark_failed (#16432)
  esphome/components/esp32/__init__.py
  esphome/components/hdc2080/hdc2080.cpp
  esphome/components/heatpumpir/climate.py
  esphome/components/pulse_meter/pulse_meter_sensor.cpp
  esphome/components/sim800l/sim800l.cpp
  esphome/components/tuya/tuya.cpp
  esphome/components/tx20/tx20.cpp
  esphome/components/usb_uart/usb_uart.h
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/wiegand/wiegand.cpp
Due: pylint

[sound_level] Use RingBufferAudioSource (#16436)
  esphome/components/sound_level/sound_level.cpp
  esphome/components/sound_level/sound_level.h
Due: none

[ci] pr-title-check: skip all bot authors, not just dependabot (#16453)
  .github/workflows/pr-title-check.yml
Due: none

[ci] Log top 30 pytest durations (#16455)
  .github/workflows/ci.yml
Due: none

[wifi] Refuse to compile when wifi_ssid is the device-builder placeholder (#16444)
  esphome/__main__.py
  esphome/components/wifi/__init__.py
  esphome/const.py
  tests/unit_tests/components/test_wifi.py
Due: pylint

[espidf] Switch direct framework downloader to esphome-libs/esp-idf tarballs (#16484)
  esphome/espidf/framework.py
Due: pylint

[tinyusb] Reject `logger.hardware_uart: USB_CDC` (#16417)
  esphome/components/tinyusb/__init__.py
  tests/components/tinyusb/test.esp32-s2-idf.yaml
  tests/components/usb_cdc_acm/test.esp32-s2-idf.yaml
Due: pylint

[multiple] Fix -Wformat= mismatches in component .cpp sources (#16433)
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/esp32_hosted/update/esp32_hosted_update.cpp
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/fastled_base/fastled_light.cpp
  esphome/components/inkplate/inkplate.cpp
  esphome/components/midea/air_conditioner.cpp
  esphome/components/ota/ota_partitions_esp_idf.cpp
  esphome/components/remote_receiver/remote_receiver.cpp
  esphome/components/sendspin/sendspin_hub.cpp
  esphome/components/total_daily_energy/total_daily_energy.cpp
Due: none

[tests] Fix -Wformat= mismatches in test YAML lambdas/logger.log (#16435)
  esphome/components/logger/__init__.py
  esphome/components/lvgl/helpers.py
  tests/components/esp32_ble_tracker/common.yaml
  tests/components/ld2412/common.yaml
  tests/components/lvgl/lvgl-package.yaml
  tests/components/modbus_server/common.yaml
  tests/components/mqtt/common.yaml
  tests/components/nextion/common.yaml
  tests/components/remote_receiver/common-actions.yaml
  tests/components/script/common.yaml
  tests/components/udp/common.yaml
  tests/components/udp/test.host.yaml
Due: pylint

[espidf] Gate esp_idf_size --ng on IDF version (#16441)
  esphome/build_gen/espidf.py
  tests/unit_tests/build_gen/test_espidf.py
Due: pylint

[i2s_audio] Compute ring buffer size with SPDIF sample count (#16400)
  esphome/components/i2s_audio/speaker/i2s_audio_spdif.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker_standard.cpp
Due: none

[i2s_audio] Optimize SPDIF encoder and suport higher bit depth audio (#16504)
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_spdif.cpp
  esphome/components/i2s_audio/speaker/spdif_encoder.cpp
  esphome/components/i2s_audio/speaker/spdif_encoder.h
  tests/components/i2s_audio/common-spdif_mode.yaml
  tests/components/i2s_audio/test-spdif_speaker.esp32-idf.yaml
Due: pylint

[esp32] Decouple esp-idf toolchain version check from PIO, honor framework source: override (#16516)
  esphome/components/esp32/__init__.py
  esphome/espidf/framework.py
  esphome/espidf/toolchain.py
  tests/unit_tests/test_espidf_toolchain.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

[espidf] Fix tarfile extract crashing on Python 3.11 with None mode (#16530)
  esphome/espidf/framework.py
Due: pylint

[esp32] Defer esp_panic_handler wrap so arduino-esp32 IDF component skips it (#16538)
  esphome/components/esp32/__init__.py
Due: pylint

[api] Break api_connection/api_server include cycle to drop custom unique_ptr deleter (#16542)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_connection_buffer.h
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
Due: none

[sendspin] Bump sendspin-cpp to v0.6.1 (#16553)
  esphome/components/sendspin/__init__.py
  esphome/idf_component.yml
Due: pylint

[libretiny] Fix LN882H IRAM_ATTR injection point in patch_linker.py (#16570)
  esphome/components/libretiny/patch_linker.py.script
Due: none

[bluetooth_proxy] Recover slot stuck in DISCONNECTING when CLOSE_EVT is dropped (#16588)
  esphome/components/bluetooth_proxy/bluetooth_connection.cpp
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Due: none

[esp32] Replace per-class -Wno-error=X demotes with blanket -Wno-error for ESP-IDF toolchain (#16599)
  esphome/components/esp32/__init__.py
Due: pylint

[espidf] Backport ninja linux-arm64 entry into tools.json on aarch64 hosts (#16527)
  esphome/espidf/framework.py
Due: pylint

[espidf] Honor the dict shorthand for library.json dependencies (#16537)
  esphome/espidf/component.py
  tests/unit_tests/test_espidf_component.py
Due: pylint

[uart] Wake main loop on ESP8266 software serial RX (#16562)
  esphome/components/uart/__init__.py
  esphome/components/uart/uart_component_esp8266.cpp
Due: pylint
