Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[ble_client] Fix RSSI sensor reporting same value for all clients (#14939)
  esphome/components/ble_client/sensor/ble_rssi_sensor.cpp
Due: none

[openthread] Guard InstanceLock against uninitialized semaphore (#14940)
  esphome/components/openthread/openthread.h
  esphome/components/openthread/openthread_esp.cpp
Due: none

[api] Extract overflow buffer from frame helper into APIOverflowBuffer (#14871)
  esphome/components/api/__init__.py
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_plaintext.cpp
  esphome/components/api/api_overflow_buffer.cpp
  esphome/components/api/api_overflow_buffer.h
Due: pylint

[preferences] Devirtualize preference backend and manager classes (#14825)
  esphome/components/esp32/preference_backend.h
  esphome/components/esp32/preferences.cpp
  esphome/components/esp32/preferences.h
  esphome/components/esp8266/preference_backend.h
  esphome/components/esp8266/preferences.cpp
  esphome/components/esp8266/preferences.h
  esphome/components/host/preference_backend.h
  esphome/components/host/preferences.cpp
  esphome/components/host/preferences.h
  esphome/components/libretiny/preference_backend.h
  esphome/components/libretiny/preferences.cpp
  esphome/components/libretiny/preferences.h
  esphome/components/rp2040/preference_backend.h
  esphome/components/rp2040/preferences.cpp
  esphome/components/rp2040/preferences.h
  esphome/components/zephyr/preference_backend.h
  esphome/components/zephyr/preferences.cpp
  esphome/components/zephyr/preferences.h
  esphome/core/preference_backend.h
  esphome/core/preferences.h
Due: none

[mqtt] Support JSON payload with code for alarm control panel commands (#14731)
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
Due: none

[speaker_source] Reshuffle playlist on repeat all restart (#14773)
  esphome/components/speaker_source/speaker_source_media_player.cpp
Due: none

[substitutions] substitutions pass and !include redesign (package refactor part 2a) (#14917)
  esphome/yaml_util.py
  tests/unit_tests/test_yaml_util.py
Due: pylint

[core] Disable LeakSanitizer in C++ unit tests (#14712)
  script/cpp_unit_test.py
Due: pylint

[esp32] Add custom partitions and refactor partition table generation (#7682)
  esphome/components/esp32/__init__.py
  esphome/config_validation.py
  tests/components/esp32/test.esp32-s3-idf.yaml
Due: pylint

[spa06_base] Add SPA06-003 Temperature and Pressure Sensor (Part 1 of 3) (#14521)
  CODEOWNERS
  esphome/components/spa06_base/__init__.py
  esphome/components/spa06_base/spa06_base.cpp
  esphome/components/spa06_base/spa06_base.h
Due: pylint

[absolute_humidity] loop() improvement (#14684)
  esphome/components/absolute_humidity/absolute_humidity.cpp
  esphome/components/absolute_humidity/absolute_humidity.h
Due: none

[remote_base] add support for brennenstuhl comfort-line switches (#9407)
  esphome/components/remote_base/__init__.py
  esphome/components/remote_base/brennenstuhl_protocol.cpp
  esphome/components/remote_base/brennenstuhl_protocol.h
  tests/components/remote_receiver/common-actions.yaml
  tests/components/remote_transmitter/common-buttons.yaml
Due: pylint

[binary_sensor] Replace std::bind with inline lambda in MultiClickTrigger (#14956)
  esphome/components/binary_sensor/automation.h
Due: none

[wireguard] Replace std::bind with inline lambdas (#14957)
  esphome/components/wireguard/wireguard.cpp
Due: none

[nau7802] Replace std::bind with lambda to fit std::function SBO (#14958)
  esphome/components/nau7802/nau7802.cpp
Due: none

[xiaomi_rtcgq02lm] Drop unused capture from timeout lambdas (#14959)
  esphome/components/xiaomi_rtcgq02lm/xiaomi_rtcgq02lm.cpp
Due: none

[bme68x_bsec2] Store trigger time as member to avoid std::function SBO overflow (#14960)
  esphome/components/bme68x_bsec2/bme68x_bsec2.cpp
  esphome/components/bme68x_bsec2/bme68x_bsec2.h
Due: none

[core] Replace std::bind with lambdas across 13 components (#14961)
  esphome/components/dps310/dps310.cpp
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/max31855/max31855.cpp
  esphome/components/max31856/max31856.cpp
  esphome/components/max31865/max31865.cpp
  esphome/components/max6675/max6675.cpp
  esphome/components/midea/appliance_base.h
  esphome/components/ms5611/ms5611.cpp
  esphome/components/ms8607/ms8607.cpp
  esphome/components/sht4x/sht4x.cpp
  esphome/components/sprinkler/sprinkler.cpp
Due: none

[api] Replace std::bind with lambdas in CustomAPIDevice (#14963)
  esphome/components/api/custom_api_device.h
Due: none

[mqtt] Replace std::bind with lambdas in CustomMQTTDevice (#14964)
  esphome/components/mqtt/custom_mqtt_device.h
Due: none

[mqtt] Replace std::bind with lambda in MQTTPublishJsonAction (#14965)
  esphome/components/mqtt/mqtt_client.h
Due: none

[http_request] Replace std::bind with lambdas in HttpRequestSendAction (#14966)
  esphome/components/http_request/http_request.h
Due: none

[core] Replace std::bind with lambda in DelayAction (#14968)
  esphome/core/base_automation.h
Due: none

[time] Fix lookup of top-level IANA timezone keys like UTC and GMT (#14952)
  esphome/components/time/__init__.py
Due: pylint

[core] Replace std::bind with placeholders to lambdas (#14962)
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/smartair2_climate.cpp
  esphome/components/homeassistant/number/homeassistant_number.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
Due: none

[preferences] Compile out loop() when flash_write_interval is non-zero (#14943)
  esphome/components/preferences/__init__.py
  esphome/components/preferences/syncer.h
  esphome/core/defines.h
Due: pylint

[core] Inline calculate_looping_components_ into header (#14944)
  esphome/core/application.cpp
  esphome/core/application.h
Due: none

[logger] Fix ESP8266 crash with VERY_VERBOSE log level (#14980)
  esphome/components/logger/__init__.py
  esphome/core/config.py
  esphome/coroutine.py
  esphome/writer.py
Due: pylint

[mhz19] Fix unused function warning for detection_range_to_log_string (#14981)
  esphome/components/mhz19/mhz19.cpp
Due: none

[ci] Add libretiny and zephyr to memory impact platform filter (#14985)
  script/determine-jobs.py
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

[sdl] Fix get_width()/height() when rotation used (#14950)
  esphome/components/sdl/sdl_esphome.cpp
  esphome/components/sdl/sdl_esphome.h
Due: none

Ensure lvgl libs available when editing for host (#14987)
  .clang-tidy.hash
  platformio.ini
Due: clang-tidy-hash

[template] alarm_control_panel collapse SensorDataStore and bypassed_sensor_indicies into SensorInfo (#14852)
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.cpp
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.h
Due: none

[wifi] Reject WiFi config on RP2040/RP2350 boards without CYW43 chip (#14990)
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/boards.py
  esphome/components/rp2040/generate_boards.py
  esphome/components/wifi/__init__.py
  tests/unit_tests/components/test_rp2040_generate_boards.py
Due: pylint

[uart] Fix UART0 default pin IOMUX loopback on ESP32 (#14978)
  esphome/components/uart/uart_component_esp_idf.cpp
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
