Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[esphome][ota] Disable loop while idle, wake on listening-socket activity (#15636)
  esphome/components/esphome/ota/__init__.py
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/core/lwip_fast_select.c
  esphome/core/lwip_fast_select.h
  tests/component_tests/ota/test_esphome_ota.py
Due: pylint

[core] Inline Millis64Impl::compute() on single-threaded platforms (#15684)
  esphome/core/scheduler.h
  esphome/core/time_64.cpp
  esphome/core/time_64.h
Due: none

[core] Inline feed_wdt hot path with out-of-line slow path (#15656)
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/scheduler.cpp
Due: none

[light] Avoid addressable transition stall at low gamma-corrected values (#15726)
  esphome/components/light/addressable_light.cpp
  esphome/components/light/addressable_light.h
  tests/integration/fixtures/addressable_light_transition.yaml
  tests/integration/fixtures/external_components/mock_addressable_light/__init__.py
  tests/integration/fixtures/external_components/mock_addressable_light/light.py
  tests/integration/fixtures/external_components/mock_addressable_light/mock_addressable_light.h
  tests/integration/test_addressable_light_transition.py
Due: pylint

[nextion] Fix command spacing pacer never throttling sends (#15664)
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
Due: none

[api] Add speed_optimized proto option for hot encode paths (#15691)
  esphome/components/api/api.proto
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[api] Add speed_optimized to SubscribeLogsResponse (#15698)
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[esp32] Update the recommended platform to 55.03.38-1 (#15705)
  .clang-tidy.hash
  esphome/components/esp32/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[packages] fix support `packages: !include mypackages.yaml` (#15677)
  esphome/components/packages/__init__.py
  tests/component_tests/packages/test_packages.py
  tests/unit_tests/fixtures/substitutions/13-packages_as_included_list.approved.yaml
  tests/unit_tests/fixtures/substitutions/13-packages_as_included_list.input.yaml
  tests/unit_tests/fixtures/substitutions/13-packages_list.yaml
  tests/unit_tests/fixtures/substitutions/14-packages_as_included_dict.approved.yaml
  tests/unit_tests/fixtures/substitutions/14-packages_as_included_dict.input.yaml
  tests/unit_tests/fixtures/substitutions/14-packages_dict.yaml
Due: pylint

[micro_wake_word] Bugfix: Use es-nn v1.1.2 (last known working version) (#15703)
  esphome/components/micro_wake_word/__init__.py
Due: pylint

[adc] Place ADC oneshot control functions in IRAM for cache safety (#15717)
  esphome/components/adc/sensor.py
  esphome/components/esp32/__init__.py
Due: pylint

[esp32] Fix some compiler warnings & bugs (#15610)
  esphome/components/atm90e32/atm90e32.h
  esphome/components/midea/air_conditioner.cpp
  esphome/components/mipi_spi/mipi_spi.h
  esphome/components/tcs34725/tcs34725.cpp
  esphome/cpp_helpers.py
Due: pylint

[core] Fix PlatformIO progress bar rendering in subprocess mode (#15681)
  esphome/platformio_api.py
  esphome/platformio_runner.py
Due: pylint

[globals] Fix TemplatableFn deprecation warning for globals.set (#15733)
  esphome/components/globals/__init__.py
  tests/components/globals/common.yaml
Due: pylint

[esphome] Skip missing extra flash images in upload_using_esptool (#15723)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

Bump version to 2026.4.0b3
  Doxyfile
  esphome/const.py
Due: pylint

[web_server] Reset OTA backend on new upload to avoid brick after interrupted OTA (#15720)
  esphome/components/web_server/ota/ota_web_server.cpp
Due: none

[i2s_audio] Add PDM mics support for ESP32-P4 (#15333)
  esphome/components/i2s_audio/microphone/__init__.py
Due: pylint

Pin GitHub Actions to commit SHAs
  .github/workflows/lock.yml
Due: none

Bump version to 2026.4.0
  Doxyfile
  esphome/const.py
Due: pylint

[st7789v] Fix swapped offset_width/offset_height in model presets (#15755)
  esphome/components/st7789v/display.py
Due: pylint

[sx126x][sx127x] Fix frequency precision loss from float32 codegen (#15753)
  esphome/components/sx126x/__init__.py
  esphome/components/sx127x/__init__.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

[status_led] Disable loop when idle (#15642)
  esphome/components/status_led/status_led.cpp
  esphome/core/application.cpp
Due: none

[core] Deduplicate entity type boilerplate with X-macro pattern (#15618)
  esphome/components/web_server/list_entities.h
  esphome/core/application.h
  esphome/core/component_iterator.cpp
  esphome/core/component_iterator.h
  esphome/core/controller.h
  esphome/core/controller_registry.cpp
  esphome/core/controller_registry.h
  esphome/core/entity_includes.h
  esphome/core/entity_types.h
  esphome/writer.py
  script/ci-custom.py
  script/helpers.py
Due: pylint

[lvgl] Clean the build if lv_conf.h changes (#15777)
  esphome/components/lvgl/__init__.py
Due: pylint

[mitsubishi_cn105] use HEAT_COOL mode to enable temperature slider (#15748)
  esphome/components/mitsubishi_cn105/mitsubishi_cn105_climate.cpp
Due: none

[core] Diagnose missing cg.templatable in codegen for TEMPLATABLE_VALUE fields (#15758)
  esphome/core/automation.h
Due: none

[time] Fix RTC is_valid() rejecting valid times after day_of_year cleanup (#15763)
  esphome/components/bm8563/bm8563.cpp
  esphome/components/ds1307/ds1307.cpp
  esphome/components/pcf85063/pcf85063.cpp
  esphome/components/pcf8563/pcf8563.cpp
  esphome/components/rx8130/rx8130.cpp
  esphome/core/time.h
  tests/components/time/is_valid.cpp
Due: none

[zephyr_ble_server] add support for on_numeric_comparison_request (#14400)
  esphome/components/zephyr_ble_server/__init__.py
  esphome/components/zephyr_ble_server/ble_server.cpp
  esphome/components/zephyr_ble_server/ble_server.h
  tests/components/zephyr_ble_server/test.nrf52-xiao-ble.yaml
Due: pylint

[tm1637] Add set_brightness method (#15322)
  esphome/components/tm1637/tm1637.cpp
  esphome/components/tm1637/tm1637.h
Due: none

[mipi_spi] Add Waveshare C6 LCD 1.47 (#15776)
  esphome/components/mipi_spi/models/waveshare.py
Due: pylint

[core] Add missing exception chaining (raise from) across codebase (#15648)
  esphome/automation.py
  esphome/components/as5600/__init__.py
  esphome/components/audio_file/__init__.py
  esphome/components/binary_sensor/__init__.py
  esphome/components/bme68x_bsec2/__init__.py
  esphome/components/font/__init__.py
  esphome/components/ili9xxx/display.py
  esphome/components/shelly_dimmer/light.py
  esphome/components/speaker/media_player/__init__.py
  esphome/components/stepper/__init__.py
  esphome/components/substitutions/__init__.py
  esphome/components/time/__init__.py
  esphome/components/wifi/wpa2_eap.py
  esphome/components/wireguard/__init__.py
  esphome/config_validation.py
  esphome/external_files.py
  esphome/voluptuous_schema.py
  esphome/yaml_util.py
Due: pylint

[qmc5883l] Move per-update log line from DEBUG to VERBOSE (#15781)
  esphome/components/qmc5883l/qmc5883l.cpp
Due: none

[bundle] Force-resolve nested IncludeFile during file discovery (#15762)
  esphome/bundle.py
  tests/unit_tests/fixtures/bundle/bundle_test.yaml
  tests/unit_tests/fixtures/bundle/common/wifi.yaml
  tests/unit_tests/test_bundle.py
Due: pylint

[gpio] Keep interrupts enabled for gpio binary_sensor shared with deep_sleep wakeup pin (#15020)
  esphome/components/gpio/binary_sensor/__init__.py
  esphome/components/gpio/binary_sensor/gpio_binary_sensor.cpp
Due: pylint
