Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[hc8, mhz19] Moving constant CONF_WARMUP_TIME to const.py (#13392)
  esphome/components/hc8/sensor.py
  esphome/components/mhz19/sensor.py
  esphome/const.py
Due: pylint

[zephyr] Small build fixes for the logger/gpio subsystems (#13242)
  esphome/components/zephyr/gpio.h
Due: none

[adc] Fix indent (#11933)
  esphome/components/adc/sensor.py
Due: pylint

[http_request] Fix verify_ssl: false not working on ESP32 (#13422)
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
Due: pylint

[heatpumpir] Add ESP-IDF support, bump to 1.0.40 (#13042)
  .clang-tidy.hash
  esphome/components/heatpumpir/climate.py
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/heatpumpir.h
  esphome/components/heatpumpir/ir_sender_esphome.cpp
  esphome/components/heatpumpir/ir_sender_esphome.h
  platformio.ini
  tests/components/heatpumpir/test.esp32-idf.yaml
Due: pylint, clang-tidy-hash

[debug] Print reg0 value from config if mismatched on nrf52 (#11867)
  esphome/components/debug/debug_zephyr.cpp
  esphome/core/helpers.h
  tests/components/debug/test.nrf52-adafruit.yaml
Due: none

Expose sockaddr to string formatter (#12351)
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
Due: none

[esp32] Add warning for experimental 400MHz on ESP32-P4 (#13433)
  esphome/components/esp32/__init__.py
Due: pylint

[wifi] Fix bk72xx manual_ip preventing API connection (#13426)
  esphome/components/wifi/wifi_component_libretiny.cpp
Due: none

[spi] Fix display init failure by marking displays as write-only for half-duplex mode (#13431)
  esphome/components/epaper_spi/display.py
  esphome/components/ili9xxx/display.py
  esphome/components/max7219/display.py
  esphome/components/max7219digit/display.py
  esphome/components/mipi_rgb/display.py
  esphome/components/mipi_spi/display.py
  esphome/components/pcd8544/display.py
  esphome/components/qspi_dbi/display.py
  esphome/components/spi/__init__.py
  esphome/components/spi/spi_esp_idf.cpp
  esphome/components/ssd1306_spi/display.py
  esphome/components/ssd1322_spi/display.py
  esphome/components/ssd1325_spi/display.py
  esphome/components/ssd1327_spi/display.py
  esphome/components/ssd1331_spi/display.py
  esphome/components/ssd1351_spi/display.py
  esphome/components/st7567_spi/display.py
  esphome/components/st7701s/display.py
  esphome/components/st7735/display.py
  esphome/components/st7789v/display.py
  esphome/components/st7920/display.py
  esphome/components/waveshare_epaper/display.py
Due: pylint

[esp32] Bump Arduino to 3.3.6, platform to 55.03.36 (#13438)
  .clang-tidy.hash
  esphome/components/esp32/__init__.py
  esphome/core/defines.h
  platformio.ini
Due: pylint, clang-tidy-hash

[nextion] Add configurable startup and queue timeout constants (#11098)
  esphome/components/nextion/base_component.py
  esphome/components/nextion/display.py
  esphome/components/nextion/nextion.cpp
  esphome/components/nextion/nextion.h
  tests/components/nextion/common.yaml
Due: pylint

[mqtt] Use stack buffers for discovery message formatting (#13216)
  esphome/components/mqtt/custom_mqtt_device.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_number.cpp
Due: none

[mqtt] Reduce heap allocations in hot paths (#13362)
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_date.cpp
  esphome/components/mqtt/mqtt_datetime.cpp
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_text.cpp
  esphome/components/mqtt/mqtt_time.cpp
  esphome/components/mqtt/mqtt_valve.cpp
  esphome/core/automation.h
Due: none

[esp8266] Use SmallBufferWithHeapFallback in preferences (#13397)
  esphome/components/esp8266/preferences.cpp
Due: none

[alarm_control_panel] Reduce heap allocations in arm/disarm methods (#13358)
  esphome/components/alarm_control_panel/alarm_control_panel.cpp
  esphome/components/alarm_control_panel/alarm_control_panel.h
  esphome/components/alarm_control_panel/alarm_control_panel_call.cpp
  esphome/components/alarm_control_panel/alarm_control_panel_call.h
  esphome/components/alarm_control_panel/automation.h
Due: none

[http_request] Fix OTA failures on ESP8266/Arduino by making read semantics consistent (#13435)
  esphome/components/esp32_hosted/update/esp32_hosted_update.cpp
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/ota/ota_http_request.cpp
  esphome/components/http_request/update/http_request_update.cpp
Due: none

[dht] Increase delay for DHT22 and RHT03 (#13446)
  esphome/components/dht/dht.cpp
Due: none

[mipi_dsi] Add M5Stack Tab5 (Rev2/V2) DriverChip (#12074)
  esphome/components/mipi_dsi/models/m5stack.py
Due: pylint

[bthome_mithermometer] add encrypted beacon support (#13428)
  esphome/components/bthome_mithermometer/__init__.py
  esphome/components/bthome_mithermometer/bthome_ble.cpp
  esphome/components/bthome_mithermometer/bthome_ble.h
  tests/components/bthome_mithermometer/common.yaml
Due: pylint

[api] Limit Nagle batching for log messages to reduce LWIP buffer pressure (#13439)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_frame_helper.h
Due: none

[wifi] Fix stale error_from_callback_ causing immediate connection failures (#13450)
  esphome/components/wifi/wifi_component.cpp
Due: none

[fingerprint_grow] Use buffer-based dump_summary to fix deprecation warnings (#13447)
  esphome/components/fingerprint_grow/fingerprint_grow.cpp
Due: none

[aqi] Remove unit_of_measurement to fix Home Assistant warning (#13448)
  esphome/components/aqi/sensor.py
Due: pylint

Update webserver local assets to 20260122-204614 (#13455)
  esphome/components/web_server/server_index_v2.h
  esphome/components/web_server/server_index_v3.h
Due: none

[heatpumpir] Fix ambiguous millis() call with HeatpumpIR library (#13458)
  esphome/components/heatpumpir/heatpumpir.cpp
  esphome/components/heatpumpir/ir_sender_esphome.cpp
  esphome/components/heatpumpir/ir_sender_esphome.h
Due: none

[time] Always call time sync callbacks even when time unchanged (#13456)
  esphome/components/time/real_time_clock.cpp
Due: none

[wifi] Process scan results one at a time to avoid heap allocation (#13400)
  esphome/components/wifi/wifi_component_esp_idf.cpp
Due: none

[lvgl] Validate LVGL dropdown symbols require Unicode codepoint ≥ 0x100 (#13394)
  esphome/components/lvgl/widgets/dropdown.py
Due: pylint

Bump version to 2026.1.1
  Doxyfile
  esphome/const.py
Due: pylint
