Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[helpers] Document write_file's external consumer contract (esphome-device-builder) (#16290)
  esphome/helpers.py
Due: pylint

[ci] Skip needs-docs for new components without CONFIG_SCHEMA (#16303)
  .github/scripts/auto-label-pr/detectors.js
  .github/scripts/auto-label-pr/index.js
Due: none

[core] Move core ring buffer to helper component (#16298)
  CODEOWNERS
  esphome/components/audio/__init__.py
  esphome/components/audio/audio_decoder.cpp
  esphome/components/audio/audio_decoder.h
  esphome/components/audio/audio_reader.cpp
  esphome/components/audio/audio_reader.h
  esphome/components/audio/audio_resampler.cpp
  esphome/components/audio/audio_resampler.h
  esphome/components/audio/audio_transfer_buffer.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker_standard.cpp
  esphome/components/micro_wake_word/__init__.py
  esphome/components/micro_wake_word/micro_wake_word.cpp
  esphome/components/micro_wake_word/micro_wake_word.h
  esphome/components/mixer/speaker/mixer_speaker.cpp
  esphome/components/mixer/speaker/mixer_speaker.h
  esphome/components/resampler/speaker/resampler_speaker.cpp
  esphome/components/resampler/speaker/resampler_speaker.h
  esphome/components/ring_buffer/__init__.py
  esphome/components/ring_buffer/ring_buffer.cpp
  esphome/components/ring_buffer/ring_buffer.h
  esphome/components/sound_level/sound_level.cpp
  esphome/components/sound_level/sound_level.h
  esphome/components/speaker/media_player/audio_pipeline.cpp
  esphome/components/speaker/media_player/audio_pipeline.h
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/core/config.py
  esphome/core/ring_buffer.h
  esphome/writer.py
Due: pylint

[modbus_server] Reduce log spam (#16283)
  esphome/components/modbus_server/modbus_server.cpp
Due: none

[clang-tidy] Enable readability-redundant-string-init (#16310)
  .clang-tidy
  .clang-tidy.hash
  esphome/components/graph/graph.h
  esphome/components/nfc/ndef_message.cpp
  esphome/components/online_image/online_image.h
  esphome/components/remote_receiver/remote_receiver.h
  esphome/components/remote_transmitter/remote_transmitter.h
  esphome/components/rtttl/rtttl.h
  esphome/components/tuya/tuya.h
  esphome/components/uart/uart_component_host.h
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  esphome/components/web_server_idf/web_server_idf.h
Due: clang-tidy-hash

[climate][ektf2232] Remove deprecations scheduled for 2026.5.0 (#16289)
  esphome/components/climate/climate_traits.h
  esphome/components/ektf2232/touchscreen/__init__.py
Due: pylint

[htu31d][kamstrup_kmp][ms8607] Use CRC functions from helpers.h (#16313)
  esphome/components/htu31d/htu31d.cpp
  esphome/components/kamstrup_kmp/kamstrup_kmp.cpp
  esphome/components/kamstrup_kmp/kamstrup_kmp.h
  esphome/components/ms8607/ms8607.cpp
  tests/components/ms8607/common.yaml
  tests/components/ms8607/test.esp32-idf.yaml
  tests/components/ms8607/test.esp8266-ard.yaml
  tests/components/ms8607/test.rp2040-ard.yaml
Due: none

[speaker] Add SPDIF output support (#8065)
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_spdif.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_spdif.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/i2s_audio/speaker/spdif_encoder.cpp
  esphome/components/i2s_audio/speaker/spdif_encoder.h
  esphome/core/defines.h
  tests/components/speaker/spdif_mode.esp32-idf.yaml
Due: pylint

[i2s_audio] Refactor SPDIF output, fixing synchronization problems (#16319)
  esphome/components/i2s_audio/speaker/i2s_audio_spdif.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/i2s_audio/speaker/spdif_encoder.cpp
  esphome/components/i2s_audio/speaker/spdif_encoder.h
Due: none

[openthread] add coroutine-with-priority COMMUNICATION (#16318)
  esphome/components/openthread/__init__.py
Due: pylint

[ota] Add bootloader update functionality to ota component (#16238)
  esphome/__main__.py
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/ota/ota_backend.h
  esphome/components/ota/ota_backend_esp_idf.cpp
  esphome/components/ota/ota_backend_esp_idf.h
  esphome/components/ota/ota_bootloader_esp_idf.cpp
  esphome/components/ota/ota_partitions_esp_idf.cpp
  esphome/core/__init__.py
  esphome/espota2.py
  tests/unit_tests/test_core.py
  tests/unit_tests/test_espota2.py
  tests/unit_tests/test_main.py
Due: pylint

[docker] Silence CopyIgnoredFile warning for build context root (#16311)
  .dockerignore
Due: none

[lvgl] Ensure that `on_value` events fire on checked change (#16119)
  esphome/components/lvgl/__init__.py
  esphome/components/lvgl/automation.py
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/encoders.py
  esphome/components/lvgl/gradient.py
  esphome/components/lvgl/helpers.py
  esphome/components/lvgl/keypads.py
  esphome/components/lvgl/light/lvgl_light.h
  esphome/components/lvgl/lv_validation.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/lvgl_esphome.cpp
  esphome/components/lvgl/lvgl_esphome.h
  esphome/components/lvgl/number/__init__.py
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/sensor/__init__.py
  esphome/components/lvgl/styles.py
  esphome/components/lvgl/switch/__init__.py
  esphome/components/lvgl/text/__init__.py
  esphome/components/lvgl/text_sensor/__init__.py
  esphome/components/lvgl/touchscreens.py
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/animimg.py
  esphome/components/lvgl/widgets/button.py
  esphome/components/lvgl/widgets/buttonmatrix.py
  esphome/components/lvgl/widgets/dropdown.py
  esphome/components/lvgl/widgets/keyboard.py
  esphome/components/lvgl/widgets/meter.py
  esphome/components/lvgl/widgets/msgbox.py
  esphome/components/lvgl/widgets/roller.py
  tests/component_tests/lvgl/config/widget_state_test.yaml
  tests/component_tests/lvgl/test_widget_state.py
Due: pylint

[config_validation] Add a visibility UI-hint kwarg (#16267)
  esphome/components/time/__init__.py
  esphome/config_validation.py
  script/build_language_schema.py
  tests/unit_tests/test_config_validation.py
Due: pylint

[wifi][rp2040] Add stable wifi-capability helpers for device-builder (#16300)
  esphome/components/rp2040/__init__.py
  esphome/components/wifi/__init__.py
  tests/unit_tests/components/test_rp2040.py
  tests/unit_tests/components/test_wifi.py
Due: pylint

[cli] Tighten command_rename: scoped name rewrite, target-collision check (#16296)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

[core] Native idf full support (#14678)
  .github/workflows/ci.yml
  esphome/__main__.py
  esphome/build_gen/espidf.py
  esphome/components/esp32/__init__.py
  esphome/components/ethernet/__init__.py
  esphome/components/neopixelbus/light.py
  esphome/components/nrf52/ota.py
  esphome/const.py
  esphome/core/__init__.py
  esphome/espidf/__init__.py
  esphome/espidf/api.py
  esphome/espidf/component.py
  esphome/espidf/framework.py
  esphome/espidf/get_idf_tool_paths.py
  esphome/espidf/get_idf_version.py
  esphome/espidf/runner.py
  esphome/espidf_api.py
  esphome/espota2.py
  esphome/helpers.py
  esphome/web_server_ota.py
  script/ci-custom.py
  script/test_build_components.py
  tests/component_tests/esp32/test_esp32.py
  tests/unit_tests/test_core.py
  tests/unit_tests/test_espidf_component.py
  tests/unit_tests/test_espota2.py
  tests/unit_tests/test_main.py
Due: pylint

[ci] sync-device-classes: mint least-privilege App token (#16350)
  .github/workflows/sync-device-classes.yml
Due: none

[ci] codeowner-review-request: mint least-privilege App token (#16351)
  .github/workflows/codeowner-review-request.yml
Due: none

[ci] Tighten workflow permissions to least-privilege (#16349)
  .github/workflows/auto-label-pr.yml
  .github/workflows/ci-api-proto.yml
  .github/workflows/ci-clang-tidy-hash.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-memory-impact-comment.yml
  .github/workflows/ci.yml
  .github/workflows/close-pr-from-fork-default-branch.yml
  .github/workflows/codeowner-approved-label-update.yml
  .github/workflows/codeql.yml
  .github/workflows/external-component-bot.yml
  .github/workflows/issue-codeowner-notify.yml
  .github/workflows/lock.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/status-check-labels.yml
Due: none

[ci] Fix external-component-bot 403 on PR comments (#16354)
  .github/workflows/external-component-bot.yml
Due: none

[tuya] allow status pin that doesn't match the reported one (#16353)
  esphome/components/tuya/tuya.cpp
Due: none

[core] Move platformio files to subfolder (#16347)
  esphome/__main__.py
  esphome/analyze_memory/__init__.py
  esphome/analyze_memory/cli.py
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/nrf52/__init__.py
  esphome/components/rp2040/__init__.py
  esphome/dashboard/web_server.py
  esphome/espidf/runner.py
  esphome/espidf/toolchain.py
  esphome/platformio/__init__.py
  esphome/platformio/runner.py
  esphome/platformio/toolchain.py
  script/build_helpers.py
  script/ci_memory_impact_extract.py
  tests/dashboard/test_web_server.py
  tests/integration/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/test_main.py
  tests/unit_tests/test_platformio_toolchain.py
Due: pylint

[wifi] Accept lowercase variant in variant_has_wifi (#16345)
  esphome/components/wifi/__init__.py
  tests/unit_tests/components/test_wifi.py
Due: pylint

[core] Add stable esphome.upload_targets module for port classification (#16346)
  esphome/__main__.py
  esphome/components/nrf52/__init__.py
  esphome/upload_targets.py
  tests/unit_tests/test_upload_targets.py
Due: pylint

[openthread] Remove-freertos-portmacro-header-include (#16338)
  esphome/components/openthread/openthread.cpp
Due: none

[logger] fix crash on zephyr (#16330)
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger_zephyr.cpp
Due: none

[nrf52] add message that west update is running (#16321)
  .clang-tidy.hash
  esphome/components/nrf52/__init__.py
  platformio.ini
  tests/components/nrf52/test.nrf52-adafruit.yaml
Due: pylint, clang-tidy-hash

[esp32_camera] Downgrade esp32-camera to 2.1.5 (#16293)
  esphome/components/camera_encoder/__init__.py
  esphome/components/esp32_camera/__init__.py
  esphome/idf_component.yml
Due: pylint

[thermostat] Fix supplemental action never firing via max run time (#16308)
  esphome/components/thermostat/thermostat_climate.cpp
Due: none

[nrf52][zephyr] prepare for native builds (#16193)
  esphome/components/nrf52/__init__.py
  esphome/components/nrf52/boards.py
  esphome/components/nrf52/pre_build.py.script
  esphome/components/zephyr/__init__.py
Due: pylint

[zigbee] Add sensor support on esp32 (#16026)
  esphome/components/zigbee/__init__.py
  esphome/components/zigbee/const.py
  esphome/components/zigbee/const_esp32.py
  esphome/components/zigbee/zigbee_attribute_esp32.h
  esphome/components/zigbee/zigbee_ep_esp32.py
  esphome/components/zigbee/zigbee_esp32.py
  esphome/components/zigbee/zigbee_helpers_esp32.c
  esphome/components/zigbee/zigbee_zephyr.py
  esphome/const.py
  tests/components/zigbee/common_esp32.yaml
Due: pylint

[ota] Implement host platform OTA backend with re-exec for integration testing (#16304)
  esphome/components/esphome/ota/__init__.py
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/host/core.cpp
  esphome/components/host/core.h
  esphome/components/host/hal.cpp
  esphome/components/ota/__init__.py
  esphome/components/ota/ota_backend_host.cpp
  esphome/components/ota/ota_backend_host.h
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/core/__init__.py
  tests/integration/fixtures/host_ota_rejects_garbage.yaml
  tests/integration/fixtures/host_ota_self_update.yaml
  tests/integration/test_host_ota.py
  tests/unit_tests/test_core.py
Due: pylint
