Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[api] Skip class generation for empty SOURCE_CLIENT protobuf messages (#13880)
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[scheduler] Make core timer ID collisions impossible with type-safe internal IDs (#13882)
  esphome/components/binary_sensor/automation.cpp
  esphome/components/binary_sensor/filter.cpp
  esphome/components/sensor/filter.cpp
  esphome/core/base_automation.h
  esphome/core/component.cpp
  esphome/core/component.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/scheduler_internal_id_no_collision.yaml
  tests/integration/test_scheduler_internal_id_no_collision.py
Due: pylint

[mipi_rgb] Allow use on P4 (#13740)
  esphome/components/mipi_rgb/display.py
  esphome/components/mipi_rgb/mipi_rgb.cpp
  esphome/components/mipi_rgb/mipi_rgb.h
  tests/components/mipi_rgb/common.yaml
  tests/components/mipi_rgb/test.esp32-p4-idf.yaml
  tests/components/mipi_rgb/test.esp32-s3-idf.yaml
  tests/test_build_components/common/spi/esp32-p4-idf.yaml
Due: pylint

[voice_assistant] Replace timer unordered_map with vector to eliminate per-tick heap allocation (#13857)
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  tests/components/voice_assistant/common-idf.yaml
  tests/components/voice_assistant/common.yaml
Due: pylint

Add get_away and get_on in WaterHeaterCall and deprecate get_state (#13891)
  esphome/components/water_heater/water_heater.h
Due: none

[nrf52,zigee] print reporting status (#13890)
  esphome/components/zigbee/zigbee_zephyr.cpp
  esphome/components/zigbee/zigbee_zephyr.h
Due: none

[uart] Change available() return type from int to size_t (#13893)
  esphome/components/bl0942/bl0942.cpp
  esphome/components/tormatic/tormatic_cover.cpp
  esphome/components/uart/uart.h
  esphome/components/uart/uart_component.cpp
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_component_esp8266.cpp
  esphome/components/uart/uart_component_esp8266.h
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_component_esp_idf.h
  esphome/components/uart/uart_component_host.cpp
  esphome/components/uart/uart_component_host.h
  esphome/components/uart/uart_component_libretiny.cpp
  esphome/components/uart/uart_component_libretiny.h
  esphome/components/uart/uart_component_rp2040.cpp
  esphome/components/uart/uart_component_rp2040.h
  esphome/components/usb_cdc_acm/usb_cdc_acm.h
  esphome/components/usb_cdc_acm/usb_cdc_acm_esp32.cpp
  esphome/components/usb_uart/usb_uart.h
  esphome/components/weikai/weikai.cpp
  esphome/components/weikai/weikai.h
  tests/components/uart/common.h
Due: none

[mipi_dsi] Add WAVESHARE-ESP32-P4-WIFI6-TOUCH-LCD 3.4C and 4C (#13840)
  esphome/components/mipi_dsi/models/waveshare.py
Due: pylint

[uart] Convert parity_to_str to PROGMEM_STRING_TABLE (#13805)
  esphome/components/uart/uart.cpp
Due: none

[logger] Resolve thread name once and pass through logging chain (#13836)
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/task_log_buffer_esp32.cpp
  esphome/components/logger/task_log_buffer_esp32.h
  esphome/components/logger/task_log_buffer_host.cpp
  esphome/components/logger/task_log_buffer_host.h
  esphome/components/logger/task_log_buffer_libretiny.cpp
  esphome/components/logger/task_log_buffer_libretiny.h
Due: none

[pylontech] Batch UART reads to reduce loop overhead (#13824)
  esphome/components/pylontech/pylontech.cpp
Due: none

[hlk_fm22x] Replace per-cycle vector allocation with member buffer (#13859)
  esphome/components/hlk_fm22x/hlk_fm22x.cpp
  esphome/components/hlk_fm22x/hlk_fm22x.h
Due: none

[dlms_meter] Batch UART reads to reduce per-loop overhead (#13828)
  esphome/components/dlms_meter/dlms_meter.cpp
Due: none

[ld2420] Batch UART reads to reduce loop overhead (#13821)
  esphome/components/ld2420/ld2420.cpp
  esphome/components/ld2420/ld2420.h
Due: none

[aqi] Fix AQI calculation for specific pm2.5 or pm10 readings (#13770)
  esphome/components/aqi/aqi_calculator.h
  esphome/components/aqi/caqi_calculator.h
Due: none

[dsmr] Batch UART reads to reduce per-loop overhead (#13826)
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
Due: none

[uart] Fix available() return type to size_t across components (#13898)
  esphome/components/cse7766/cse7766.cpp
  esphome/components/dfplayer/dfplayer.cpp
  esphome/components/dsmr/dsmr.cpp
  esphome/components/ld2410/ld2410.cpp
  esphome/components/ld2412/ld2412.cpp
  esphome/components/ld2450/ld2450.cpp
  esphome/components/modbus/modbus.cpp
  esphome/components/nextion/nextion.cpp
  esphome/components/pipsolar/pipsolar.cpp
  esphome/components/pylontech/pylontech.cpp
  esphome/components/rd03d/rd03d.cpp
  esphome/components/rf_bridge/rf_bridge.cpp
  esphome/components/seeed_mr24hpc1/seeed_mr24hpc1.cpp
  esphome/components/seeed_mr60bha2/seeed_mr60bha2.cpp
  esphome/components/seeed_mr60fda2/seeed_mr60fda2.cpp
  esphome/components/tuya/tuya.cpp
Due: none

[ld2450] add on_data callback (#13601)
  esphome/components/ld2450/__init__.py
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
  tests/components/ld2450/common.yaml
Due: pylint

[api] Deprecate WATER_HEATER_COMMAND_HAS_STATE (#13892)
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
Due: none

[water_heater] Add On/Off and Away mode support to template platform (#13839)
  esphome/components/template/water_heater/__init__.py
  esphome/components/template/water_heater/automation.h
  esphome/components/template/water_heater/template_water_heater.cpp
  esphome/components/template/water_heater/template_water_heater.h
  tests/components/template/common-base.yaml
  tests/integration/fixtures/water_heater_template.yaml
  tests/integration/test_water_heater_template.py
Due: pylint

[http_request] Fix IDF chunked response completion detection (#13886)
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
Due: none

[resampler] Refactor for stability and to support Sendspin (#12254)
  esphome/components/resampler/speaker/__init__.py
  esphome/components/resampler/speaker/resampler_speaker.cpp
  esphome/components/resampler/speaker/resampler_speaker.h
Due: pylint

[pulse_counter] Migrate from legacy PCNT API to new ESP-IDF 5.x API (#13904)
  esphome/components/esp32/__init__.py
  esphome/components/hlw8012/sensor.py
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.h
  esphome/components/pulse_counter/sensor.py
Due: pylint

[esp32_hosted] Bump esp_wifi_remote and esp_hosted versions (#13911)
  esphome/components/esp32_hosted/__init__.py
  esphome/idf_component.yml
Due: pylint

[esp32_rmt_led_strip, remote_receiver, pulse_counter] Replace hardcoded clock frequencies with runtime queries (#13908)
  esphome/components/esp32_rmt_led_strip/led_strip.cpp
  esphome/components/pulse_counter/pulse_counter_sensor.cpp
  esphome/components/remote_receiver/remote_receiver_esp32.cpp
Due: none

[ci] Pin ESP-IDF version for Arduino framework builds (#13909)
  .clang-tidy.hash
  platformio.ini
Due: clang-tidy-hash

[api] Remove duplicate peername storage to save RAM (#13540)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_plaintext.cpp
  esphome/components/api/api_server.cpp
  esphome/components/voice_assistant/voice_assistant.cpp
Due: none

[lvgl] Fix crash with unconfigured `top_layer` (#13846)
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/test.host.yaml
Due: pylint

[ota] Fix CLI upload option shown when only http_request platform configured (#13784)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

[core] Add capacity check to register_component_ (#13778)
  esphome/core/application.cpp
Due: none

[nrf52,logger] fix printk (#13874)
  esphome/components/logger/logger_zephyr.cpp
Due: none

[dashboard] Close WebSocket after process exit to prevent zombie connections (#13834)
  esphome/dashboard/web_server.py
  tests/dashboard/test_web_server.py
Due: pylint

[rd03d] Revert incorrect field order swap (#13769)
  esphome/components/rd03d/rd03d.cpp
Due: none

[esp32] Set UV_CACHE_DIR inside data dir so Clean All clears it (#13888)
  esphome/components/esp32/__init__.py
Due: pylint

[ssd1306_base] Move switch tables to PROGMEM with lookup tables (#13814)
  esphome/components/ssd1306_base/ssd1306_base.cpp
  esphome/components/ssd1306_base/ssd1306_base.h
  esphome/components/ssd1306_i2c/ssd1306_i2c.cpp
  esphome/components/ssd1306_spi/ssd1306_spi.cpp
Due: none

Bump version to 2026.1.5
  Doxyfile
  esphome/const.py
Due: pylint

[http_request] Reduce heap allocations in update check by parsing JSON directly from buffer (#13588)
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/json/json_util.cpp
  esphome/components/json/json_util.h
Due: none

[bmp3xx_base/bmp581_base] Convert oversampling and IIR filter strings to PROGMEM_STRING_TABLE (#13808)
  esphome/components/bmp3xx_base/bmp3xx_base.cpp
  esphome/components/bmp581_base/bmp581_base.cpp
Due: none
