Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[hub75] Add Huidu HD-WF1 board configuration (#13341)
  esphome/components/hub75/boards/huidu.py
Due: pylint

[esp32] Add pin definitions for adafruit_feather_esp32s3_reversetft (#13273)
  esphome/components/esp32/boards.py
Due: pylint

[wifi] Filter scan results to only store matching networks (#13409)
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
Due: none

[nrf52,zigbee] Time synchronization (#12236)
  esphome/components/time/real_time_clock.cpp
  esphome/components/zigbee/__init__.py
  esphome/components/zigbee/time/__init__.py
  esphome/components/zigbee/time/zigbee_time_zephyr.cpp
  esphome/components/zigbee/time/zigbee_time_zephyr.h
  esphome/components/zigbee/zigbee_binary_sensor_zephyr.cpp
  esphome/components/zigbee/zigbee_sensor_zephyr.cpp
  esphome/components/zigbee/zigbee_switch_zephyr.cpp
  esphome/components/zigbee/zigbee_zephyr.cpp
  esphome/components/zigbee/zigbee_zephyr.h
  esphome/components/zigbee/zigbee_zephyr.py
  esphome/core/helpers.h
  tests/components/zigbee/common.yaml
Due: pylint

[ld2450] preserve precision of angle (#13600)
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/sensor.py
Due: pylint

[runtime_stats] Eliminate heap churn by using stack-allocated buffer for sorting (#13586)
  esphome/components/runtime_stats/runtime_stats.cpp
  esphome/components/runtime_stats/runtime_stats.h
Due: none

[nrf52,zigbee] Address change (#13580)
  esphome/components/zigbee/__init__.py
  esphome/components/zigbee/const_zephyr.py
  esphome/components/zigbee/zigbee_zephyr.py
  tests/components/zigbee/test.nrf52-xiao-ble.yaml
Due: pylint

[wifi] Fix ESP8266 yield panic when WiFi scan fails (#13603)
  esphome/components/wifi/wifi_component_esp8266.cpp
Due: none

[http_request] Fix empty body for chunked transfer encoding responses (#13599)
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_idf.cpp
Due: none

[globals] Convert restoring globals to PollingComponent to reduce CPU usage (#13345)
  esphome/components/globals/__init__.py
  esphome/components/globals/globals_component.h
  tests/components/globals/common.yaml
Due: pylint

[workflows] Refactor auto-label-pr script into modular JS (#13582)
  .github/scripts/auto-label-pr/constants.js
  .github/scripts/auto-label-pr/detectors.js
  .github/scripts/auto-label-pr/index.js
  .github/scripts/auto-label-pr/labels.js
  .github/scripts/auto-label-pr/reviews.js
  .github/workflows/auto-label-pr.yml
Due: none

[waveshare_epaper] Add deprecation message (#13583)
  esphome/components/waveshare_epaper/__init__.py
Due: pylint

[workflows] Add deprecation check (#13584)
  .github/scripts/auto-label-pr/constants.js
  .github/scripts/auto-label-pr/detectors.js
  .github/scripts/auto-label-pr/index.js
  .github/scripts/auto-label-pr/reviews.js
Due: none

[tx20] Eliminate heap allocations in wind sensor (#13298)
  esphome/components/tx20/tx20.cpp
Due: none

[es8156] Add `bits_per_sample` validation, comment code (#13612)
  esphome/components/es8156/audio_dac.py
  esphome/components/es8156/es8156.cpp
Due: pylint

[mdns] Do not broadcast registration when using openthread component (#13592)
  esphome/components/mdns/mdns_esp32.cpp
Due: none

[esp32] Add advanced sdkconfig options to reduce build time and binary size (#13611)
  esphome/components/esp32/__init__.py
  tests/components/esp32/test.esp32-idf.yaml
  tests/components/esp32/test.esp32-p4-idf.yaml
  tests/components/esp32/test.esp32-s3-idf.yaml
Due: pylint

[const] Move `CONF_AUDIO_DAC` (#13614)
  esphome/components/es8156/audio_dac.py
  esphome/components/speaker/__init__.py
  esphome/const.py
Due: pylint

[nrf52,zigbee] Support for number component (#13581)
  esphome/components/number/__init__.py
  esphome/components/zigbee/__init__.py
  esphome/components/zigbee/const_zephyr.py
  esphome/components/zigbee/zigbee_number_zephyr.cpp
  esphome/components/zigbee/zigbee_number_zephyr.h
  esphome/components/zigbee/zigbee_switch_zephyr.cpp
  esphome/components/zigbee/zigbee_zephyr.cpp
  esphome/components/zigbee/zigbee_zephyr.h
  esphome/components/zigbee/zigbee_zephyr.py
  tests/components/zigbee/common.yaml
Due: pylint

[esp32] Reduce compile time by excluding unused IDF components (#13610)
  esphome/components/adc/sensor.py
  esphome/components/audio/__init__.py
  esphome/components/display/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
  esphome/components/esp32_rmt_led_strip/light.py
  esphome/components/esp32_touch/__init__.py
  esphome/components/ethernet/__init__.py
  esphome/components/http_request/__init__.py
  esphome/components/i2s_audio/__init__.py
  esphome/components/mqtt/__init__.py
  esphome/components/neopixelbus/light.py
  esphome/components/nextion/display.py
  esphome/components/remote_receiver/__init__.py
  esphome/components/remote_transmitter/__init__.py
  tests/components/esp32/test.esp32-idf.yaml
Due: pylint

[ch423] Add CH423 I/O expander component (#13079)
  CODEOWNERS
  esphome/components/ch423/__init__.py
  esphome/components/ch423/ch423.cpp
  esphome/components/ch423/ch423.h
  tests/components/ch423/common.yaml
  tests/components/ch423/test.esp32-idf.yaml
  tests/components/ch423/test.esp8266-ard.yaml
  tests/components/ch423/test.rp2040-ard.yaml
  tests/unit_tests/components/test_ch423.py
Due: pylint

[socket] ESP8266: call delay(0) instead of esp_delay(0, cb) for zero timeout (#13530)
  esphome/components/socket/lwip_raw_tcp_impl.cpp
Due: none

[web_server] Add name_id to SSE for entity ID format migration (#13535)
  esphome/components/web_server/web_server.cpp
Due: none

Update webserver local assets to 20260127-190637 (#13573)
  esphome/components/web_server/server_index_v2.h
  esphome/components/web_server/server_index_v3.h
Due: none

[mhz19] Fix Uninitialized var warning message (#13526)
  esphome/components/mhz19/mhz19.cpp
Due: none

Update webserver local assets to 20260122-204614 (#13455)
  esphome/components/web_server/server_index_v2.h
  esphome/components/web_server/server_index_v3.h
Due: none

[ota] Improve error message when device closes connection without responding (#13562)
  esphome/espota2.py
  tests/unit_tests/test_espota2.py
Due: pylint

Bump version to 2026.1.3
  Doxyfile
  esphome/const.py
Due: pylint

[logger] Fix USB Serial JTAG VFS linker errors when using UART on IDF (#13628)
  esphome/components/esp32/__init__.py
  esphome/components/logger/__init__.py
Due: pylint

[pmsx003] Improvements (#13626)
  esphome/components/pmsx003/pmsx003.cpp
  esphome/components/pmsx003/pmsx003.h
  esphome/components/pmsx003/sensor.py
  tests/components/pmsx003/common.yaml
Due: pylint

[core] ESP32 chip revision text (#13647)
  esphome/core/application.cpp
Due: none

[web_server_base] Update ESPAsyncWebServer to 3.9.6 (#13639)
  .clang-tidy.hash
  esphome/components/web_server_base/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[mqtt] Restore ESP8266 on_message defer to prevent stack overflow (#13648)
  esphome/components/mqtt/mqtt_client.cpp
Due: none

[pmsx003] support device-types `PMS1003`, `PMS3003`, `PMS9003M` (#13640)
  esphome/components/pmsx003/pmsx003.cpp
  esphome/components/pmsx003/pmsx003.h
  esphome/components/pmsx003/sensor.py
Due: pylint

[mipi_spi] Fix log_pin() FlashStringHelper compatibility (#13624)
  esphome/components/mipi_spi/mipi_spi.cpp
  esphome/components/mipi_spi/mipi_spi.h
  tests/components/mipi_spi/test.esp8266-ard.yaml
Due: none

[core] Simplify generation of Lambda during `to_code()` (#13533)
  esphome/components/udp/__init__.py
  esphome/core/__init__.py
  esphome/cpp_generator.py
  tests/unit_tests/test_cpp_generator.py
Due: pylint

[esp32] Disable unused per-tag log filtering, saving ~536 bytes RAM (#13662)
  esphome/components/esp32/__init__.py
  esphome/components/i2c/i2c.cpp
  esphome/components/logger/logger_esp32.cpp
  esphome/components/usb_cdc_acm/usb_cdc_acm_esp32.cpp
Due: pylint
