Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

[esp32] Pin Names for Seeed XIAO C3 / C6 / S3 (#17002)
  esphome/components/esp32/boards.py
Due: pylint

[wifi] Add runtime suppression of post-connect roaming scans (#17012)
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/core/defines.h
  tests/components/wifi/test.esp32-idf.yaml
Due: pylint

[build] Skip target-platform deps when populating host unit-test config (#17039)
  script/build_helpers.py
  tests/script/test_build_helpers.py
  tests/script/test_test_helpers.py
Due: pylint

[esp32] Support `esphome idedata` with the native ESP-IDF toolchain (#17040)
  esphome/__main__.py
  esphome/espidf/toolchain.py
  tests/unit_tests/test_espidf_toolchain.py
  tests/unit_tests/test_main.py
Due: pylint

[logger] Hold recursion guard while draining the task log buffer (#17044)
  esphome/components/logger/logger.cpp
  tests/integration/fixtures/logger_buffered_recursion_guard.yaml
  tests/integration/test_logger_buffered_recursion_guard.py
Due: pylint

[core] Honor transferred address cache in has_resolvable_address (#17025)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

[espidf] Resolve IDF tools path to avoid unnormalized path warning (#17055)
  esphome/espidf/framework.py
Due: pylint

[ethernet] Defer clk_mode removal to 2026.9.0 (#17114)
  esphome/components/ethernet/__init__.py
Due: pylint

[core] Remove deprecated std::string GPIOPin::dump_summary() (#17115)
  esphome/core/gpio.h
Due: none

[core] Remove deprecated value_accuracy_to_string() (#17116)
  esphome/core/alloc_helpers.cpp
  esphome/core/alloc_helpers.h
Due: none

[web_server] Deprecate version 1 (#17109)
  esphome/components/web_server/__init__.py
Due: pylint

[core] Clarify resolve error when a device has no network log/OTA transport (#17107)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

[hub75] Remove deprecated scan_wiring name aliases (#17118)
  esphome/components/hub75/display.py
Due: pylint

[core] Remove deprecated std::string scheduler/timer overloads (#17111)
  esphome/core/component.cpp
  esphome/core/component.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/external_components/scheduler_bulk_cleanup_component/scheduler_bulk_cleanup_component.cpp
  tests/integration/fixtures/external_components/scheduler_rapid_cancellation_component/rapid_cancellation_component.cpp
  tests/integration/fixtures/external_components/scheduler_simultaneous_callbacks_component/simultaneous_callbacks_component.cpp
  tests/integration/fixtures/external_components/scheduler_string_lifetime_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_string_lifetime_component/string_lifetime_component.cpp
  tests/integration/fixtures/external_components/scheduler_string_lifetime_component/string_lifetime_component.h
  tests/integration/fixtures/external_components/scheduler_string_name_stress_component/__init__.py
  tests/integration/fixtures/external_components/scheduler_string_name_stress_component/string_name_stress_component.cpp
  tests/integration/fixtures/external_components/scheduler_string_name_stress_component/string_name_stress_component.h
  tests/integration/fixtures/scheduler_pool.yaml
  tests/integration/fixtures/scheduler_string_lifetime.yaml
  tests/integration/fixtures/scheduler_string_name_stress.yaml
  tests/integration/fixtures/scheduler_string_test.yaml
  tests/integration/test_scheduler_string_lifetime.py
  tests/integration/test_scheduler_string_name_stress.py
  tests/integration/test_scheduler_string_test.py
Due: pylint

[esp8266] Drop stale esphome-docker-base reference (#17123)
  esphome/components/esp8266/__init__.py
Due: pylint

Mark configurable classes as final (21/21: zhlt01-zyaura) (#16972)
  esphome/components/zhlt01/zhlt01.h
  esphome/components/zigbee/automation.h
  esphome/components/zigbee/time/zigbee_time_zephyr.h
  esphome/components/zigbee/zigbee_attribute_esp32.h
  esphome/components/zigbee/zigbee_binary_sensor_zephyr.h
  esphome/components/zigbee/zigbee_esp32.h
  esphome/components/zigbee/zigbee_number_zephyr.h
  esphome/components/zigbee/zigbee_sensor_zephyr.h
  esphome/components/zigbee/zigbee_switch_zephyr.h
  esphome/components/zigbee/zigbee_zephyr.h
  esphome/components/zio_ultrasonic/zio_ultrasonic.h
  esphome/components/zwave_proxy/zwave_proxy.h
  esphome/components/zyaura/zyaura.h
Due: none

Mark configurable classes as final (3/21: ble_scanner-ch423) (#16954)
  esphome/components/b_parasite/b_parasite.h
  esphome/components/ble_scanner/ble_scanner.h
  esphome/components/bm8563/bm8563.h
  esphome/components/bme280_i2c/bme280_i2c.h
  esphome/components/bme280_spi/bme280_spi.h
  esphome/components/bme680/bme680.h
  esphome/components/bme680_bsec/bme680_bsec.h
  esphome/components/bme68x_bsec2_i2c/bme68x_bsec2_i2c.h
  esphome/components/bmi160/bmi160.h
  esphome/components/bmi270/bmi270.h
  esphome/components/bmp085/bmp085.h
  esphome/components/bmp280_i2c/bmp280_i2c.h
  esphome/components/bmp280_spi/bmp280_spi.h
  esphome/components/bmp3xx_i2c/bmp3xx_i2c.h
  esphome/components/bmp3xx_spi/bmp3xx_spi.h
  esphome/components/bmp581_i2c/bmp581_i2c.h
  esphome/components/bmp581_spi/bmp581_spi.h
  esphome/components/bp1658cj/bp1658cj.h
  esphome/components/bp5758d/bp5758d.h
  esphome/components/bthome_mithermometer/bthome_ble.h
  esphome/components/button/automation.h
  esphome/components/camera_encoder/encoder_buffer_impl.h
  esphome/components/camera_encoder/esp32_camera_jpeg_encoder.h
  esphome/components/canbus/canbus.h
  esphome/components/cap1188/cap1188.h
  esphome/components/captive_portal/captive_portal.h
  esphome/components/cc1101/cc1101.h
  esphome/components/ccs811/ccs811.h
  esphome/components/cd74hc4067/cd74hc4067.h
  esphome/components/ch422g/ch422g.h
  esphome/components/ch423/ch423.h
Due: none

[mipi_rgb] Fix offsets for Wave 5 1024x600 (#17057)
  esphome/components/mipi/__init__.py
  tests/components/mipi_rgb/test.esp32-s3-idf.yaml
Due: pylint

[rp2040] Bump arduino-pico framework to 5.6.1 (#17122)
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/boards.py
  platformio.ini
Due: pylint, clang-tidy-hash

Mark configurable classes as final (6/21) (#16957)
  esphome/components/esp32_ble_client/ble_characteristic.h
  esphome/components/esp32_ble_client/ble_service.h
  esphome/components/esp32_ble_server/ble_characteristic.h
  esphome/components/esp32_ble_server/ble_server.h
  esphome/components/esp32_ble_server/ble_server_automations.h
  esphome/components/esp32_ble_server/ble_service.h
  esphome/components/esp32_ble_tracker/automation.h
  esphome/components/esp32_ble_tracker/esp32_ble_tracker.h
  esphome/components/esp32_camera/esp32_camera.h
  esphome/components/esp32_camera_web_server/camera_web_server.h
  esphome/components/esp32_can/esp32_can.h
  esphome/components/esp32_dac/esp32_dac.h
  esphome/components/esp32_hosted/update/esp32_hosted_update.h
  esphome/components/esp32_improv/automation.h
  esphome/components/esp32_improv/esp32_improv_component.h
  esphome/components/esp32_rmt_led_strip/led_strip.h
  esphome/components/esp32_touch/esp32_touch.h
  esphome/components/esp8266/gpio.h
  esphome/components/esp8266_pwm/esp8266_pwm.h
  esphome/components/esp_ldo/esp_ldo.h
  esphome/components/espnow/automation.h
  esphome/components/espnow/espnow_component.h
  esphome/components/espnow/packet_transport/espnow_transport.h
  esphome/components/ethernet/automation.h
  esphome/components/event/automation.h
  esphome/components/exposure_notifications/exposure_notifications.h
  esphome/components/ezo/ezo.h
  esphome/components/ezo_pmp/ezo_pmp.h
  esphome/components/factory_reset/button/factory_reset_button.h
  esphome/components/factory_reset/factory_reset.h
  esphome/components/factory_reset/switch/factory_reset_switch.h
  esphome/components/fan/automation.h
  esphome/components/fastled_base/fastled_light.h
  esphome/components/feedback/feedback_cover.h
  esphome/components/fingerprint_grow/fingerprint_grow.h
  esphome/components/font/font.h
  esphome/components/fs3000/fs3000.h
  esphome/components/ft5x06/touchscreen/ft5x06_touchscreen.h
  esphome/components/ft63x6/ft63x6.h
  esphome/components/fujitsu_general/fujitsu_general.h
Due: none

Mark configurable classes as final (5/21) (#16956)
  esphome/components/dfrobot_sen0395/automation.h
  esphome/components/dfrobot_sen0395/dfrobot_sen0395.h
  esphome/components/dfrobot_sen0395/switch/dfrobot_sen0395_switch.h
  esphome/components/dht/dht.h
  esphome/components/dht12/dht12.h
  esphome/components/display/display.h
  esphome/components/display_menu_base/automation.h
  esphome/components/display_menu_base/menu_item.h
  esphome/components/dlms_meter/dlms_meter.h
  esphome/components/dps310/dps310.h
  esphome/components/ds1307/ds1307.h
  esphome/components/ds2484/ds2484.h
  esphome/components/dsmr/dsmr.h
  esphome/components/duty_cycle/duty_cycle_sensor.h
  esphome/components/duty_time/duty_time_sensor.h
  esphome/components/e131/e131.h
  esphome/components/ee895/ee895.h
  esphome/components/ektf2232/touchscreen/ektf2232.h
  esphome/components/emc2101/emc2101.h
  esphome/components/emc2101/output/emc2101_output.h
  esphome/components/emc2101/sensor/emc2101_sensor.h
  esphome/components/emmeti/emmeti.h
  esphome/components/emontx/emontx.h
  esphome/components/emontx/sensor/emontx_sensor.h
  esphome/components/endstop/endstop_cover.h
  esphome/components/ens160_i2c/ens160_i2c.h
  esphome/components/ens160_spi/ens160_spi.h
  esphome/components/ens210/ens210.h
  esphome/components/es7210/es7210.h
  esphome/components/es7243e/es7243e.h
  esphome/components/es8156/es8156.h
  esphome/components/es8311/es8311.h
  esphome/components/es8388/es8388.h
  esphome/components/es8388/select/adc_input_mic_select.h
  esphome/components/es8388/select/dac_output_select.h
  esphome/components/esp32/gpio.h
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.h
Due: none

[graphical_display_menu] Mark configurable classes as final (#17129)
  esphome/components/graphical_display_menu/graphical_display_menu.cpp
  esphome/components/graphical_display_menu/graphical_display_menu.h
Due: none

[dashboard_import] Store package_import_url in flash on ESP8266 (#17127)
  esphome/components/dashboard_import/__init__.py
  esphome/components/dashboard_import/dashboard_import.cpp
  esphome/components/dashboard_import/dashboard_import.h
Due: pylint

[ble_nus] Atomic log-line framing (no partial ring-buffer writes) (#17105)
  esphome/components/ble_nus/ble_nus.cpp
Due: none

[motion] Make motion test configs mergeable in CI (#17149)
  tests/components/bmi270/common.yaml
  tests/components/lsm6ds/common.yaml
Due: none

[epaper_spi] Add support for the Inkplate 2 (#16856)
  esphome/components/epaper_spi/colorconv.h
  esphome/components/epaper_spi/epaper_spi_inkplate2.cpp
  esphome/components/epaper_spi/epaper_spi_inkplate2.h
  esphome/components/epaper_spi/models/inkplate2.py
  tests/components/epaper_spi/test.esp32-s3-idf.yaml
Due: pylint

[epaper_spi] Add support for Waveshare 2.13" V4 series B (R/B/W) (#16828)
  esphome/components/epaper_spi/epaper_waveshare_b.cpp
  esphome/components/epaper_spi/epaper_waveshare_b.h
  esphome/components/epaper_spi/epaper_weact_3c.cpp
  esphome/components/epaper_spi/epaper_weact_3c.h
  esphome/components/epaper_spi/models/waveshare_b.py
  tests/components/epaper_spi/test.esp32-s3-idf.yaml
Due: pylint

[core] Use CORE.is_* platform helpers in __main__ (#17144)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
