Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[esp32_ble_server] Fix duplicate Device Information Service with string UUIDs (#16784)
  esphome/components/esp32_ble_server/__init__.py
  tests/component_tests/esp32_ble_server/__init__.py
  tests/component_tests/esp32_ble_server/test_esp32_ble_server.py
Due: pylint

[usb_uart] Add FTDI FT23XX USB UART driver (#14587)
  esphome/components/usb_uart/__init__.py
  esphome/components/usb_uart/ft23xx.cpp
  esphome/components/usb_uart/usb_uart.h
  tests/components/usb_uart/common.yaml
Due: pylint

[usb_host][usb_cdc_acm][tinyusb] Fix clang-tidy findings (#16836)
  esphome/components/tinyusb/tinyusb_component.cpp
  esphome/components/tinyusb/tinyusb_component.h
  esphome/components/usb_cdc_acm/usb_cdc_acm_esp32.cpp
  esphome/components/usb_host/usb_host.h
  esphome/components/usb_host/usb_host_client.cpp
Due: none

[qmp6988] fix publishing bogus zero values on i2c error (#16840)
  esphome/components/qmp6988/qmp6988.cpp
  esphome/components/qmp6988/qmp6988.h
Due: none

[tuya] Fixed hysteresis bug for Tuya climate (#16832)
  esphome/components/tuya/climate/tuya_climate.cpp
Due: none

[scripts] Fix build_language_schema (#16816)
  script/build_language_schema.py
Due: pylint

[esp32_camera] Bump esp32-camera to 2.1.7 (#16846)
  .clang-tidy.hash
  esphome/components/camera_encoder/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/esp32_camera/__init__.py
  esphome/components/zigbee/zigbee_esp32.py
  esphome/idf_component.yml
Due: pylint

Exit nginx bypass placeholder cleanly on SIGTERM (#16845)
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/run
Due: none

[fastled_base] Use FastLED IDF component on ESP32 (#16804)
  .clang-tidy.hash
  esphome/components/fastled_base/__init__.py
  esphome/components/fastled_base/fastled_light.h
  esphome/espidf/clang_tidy.py
  esphome/idf_component.yml
  platformio.ini
  script/clang-tidy
  tests/unit_tests/test_espidf_clang_tidy.py
Due: pylint, clang-tidy-hash

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

[esp32] Make no-default-board variant test explicit about platformio toolchain (#16847)
  tests/component_tests/esp32/test_esp32.py
Due: pylint

[heatpumpir] Bump tonia/HeatpumpIR to 1.0.42 (#16880)
  .clang-tidy.hash
  esphome/components/heatpumpir/climate.py
  platformio.ini
Due: pylint, clang-tidy-hash

[dsmr] Update dsmr_parser library to 1.9.0 (#16881)
  .clang-tidy.hash
  esphome/components/dsmr/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[dlms_meter] dlms_parser library (#15458)
  .clang-tidy.hash
  CODEOWNERS
  esphome/components/dlms_meter/__init__.py
  esphome/components/dlms_meter/binary_sensor/__init__.py
  esphome/components/dlms_meter/dlms.h
  esphome/components/dlms_meter/dlms_meter.cpp
  esphome/components/dlms_meter/dlms_meter.h
  esphome/components/dlms_meter/mbus.h
  esphome/components/dlms_meter/obis.h
  esphome/components/dlms_meter/sensor/__init__.py
  esphome/components/dlms_meter/text_sensor/__init__.py
  esphome/idf_component.yml
  platformio.ini
  tests/components/dlms_meter/common-generic.yaml
  tests/components/dlms_meter/common-netznoe.yaml
  tests/components/dlms_meter/common.yaml
  tests/components/dlms_meter/test.esp32-ard.yaml
  tests/components/dlms_meter/test.esp32-idf.yaml
  tests/components/dlms_meter/test.esp8266-ard.yaml
  tests/components/dlms_meter/test.rp2040-ard.yaml
Due: pylint, clang-tidy-hash

[xdb401] XDB401 Pressure Sensor (#15108)
  CODEOWNERS
  esphome/components/xdb401/__init__.py
  esphome/components/xdb401/sensor.py
  esphome/components/xdb401/xdb401.cpp
  esphome/components/xdb401/xdb401.h
  tests/components/xdb401/common.yaml
  tests/components/xdb401/test.esp32-idf.yaml
  tests/components/xdb401/test.esp8266-ard.yaml
Due: pylint

[espidf] Fix idedata generation on Windows (#16894)
  esphome/espidf/idedata.py
  tests/unit_tests/test_espidf_idedata.py
Due: pylint

[lsm6ds] Add motion platform for STMicro LSM6DS IMU (#16232)
  CODEOWNERS
  esphome/components/lsm6ds/__init__.py
  esphome/components/lsm6ds/lsm6ds.cpp
  esphome/components/lsm6ds/lsm6ds.h
  esphome/components/lsm6ds/motion.py
  esphome/components/lsm6ds/sensor.py
  tests/components/lsm6ds/common.yaml
  tests/components/lsm6ds/test.esp32-idf.yaml
Due: pylint

[tests] Isolate ESPHOME_LOG_STATES in main logs-states tests (#16905)
  tests/unit_tests/test_main.py
Due: pylint

[resampler] Allow resampler to passthrough bits per sample instead of converting (#16892)
  esphome/components/resampler/speaker/__init__.py
  esphome/components/resampler/speaker/resampler_speaker.cpp
  esphome/components/resampler/speaker/resampler_speaker.h
  tests/components/resampler/common.yaml
Due: pylint

Bump version to 2026.7.0-dev
  Doxyfile
  esphome/const.py
Due: pylint

[tests] Mock target branch in memory-impact exclusion test (#16913)
  tests/script/test_determine_jobs.py
Due: pylint

[xpt2046] touchscreen driver enhancement (#16414)
  esphome/components/xpt2046/touchscreen/xpt2046.cpp
Due: none

[runtime_image] Improve error logging (#16943)
  esphome/components/online_image/online_image.cpp
  esphome/components/runtime_image/image_decoder.h
  esphome/components/runtime_image/jpeg_decoder.cpp
  esphome/components/runtime_image/png_decoder.cpp
Due: none

Add PEP 572 walrus operator preference to coding conventions (#16951)
  AGENTS.md
Due: none

[mipi_dsi] Add SWRESET command to M5Stack Tab5-V2 init sequence (#16975)
  esphome/components/mipi_dsi/models/m5stack.py
Due: pylint

[audio] Bump microMP3 to v0.2.3 (#16977)
  .clang-tidy.hash
  esphome/components/audio/__init__.py
  esphome/idf_component.yml
Due: pylint

[openthread] Fix InstanceLock releasing the lock twice on try_acquire (#16980)
  esphome/components/openthread/openthread.cpp
  esphome/components/openthread/openthread.h
  esphome/components/openthread/openthread_esp.cpp
  esphome/components/openthread_info/openthread_info_text_sensor.h
Due: none

[docker] Bundle device-builder 1.0.1, make HA add-on builder-only (#16989)
  docker/Dockerfile
  docker/docker_entrypoint.sh
  docker/ha-addon-rootfs/etc/cont-init.d/40-device-builder.sh
  docker/ha-addon-rootfs/etc/nginx/includes/mime.types
  docker/ha-addon-rootfs/etc/nginx/includes/proxy_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/server_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/ssl_params.conf
  docker/ha-addon-rootfs/etc/nginx/includes/upstream.conf
  docker/ha-addon-rootfs/etc/nginx/nginx.conf
  docker/ha-addon-rootfs/etc/nginx/servers/.gitkeep
  docker/ha-addon-rootfs/etc/nginx/templates/direct.gtpl
  docker/ha-addon-rootfs/etc/nginx/templates/ingress.gtpl
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/dependencies.d/nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/discovery/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/finish
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/esphome/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/dependencies.d/base
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/init-nginx/up
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/dependencies.d/esphome
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/dependencies.d/init-nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/finish
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/run
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/nginx/type
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-nginx
  docker/ha-addon-rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/nginx
Due: none

[core] Stop parent git repos from breaking ESP-IDF/PlatformIO builds (#16994)
  esphome/espidf/toolchain.py
  esphome/helpers.py
  esphome/platformio/toolchain.py
  tests/unit_tests/test_espidf_toolchain.py
  tests/unit_tests/test_helpers.py
  tests/unit_tests/test_platformio_toolchain.py
Due: pylint

[ci] Push branch-tagged docker images to ghcr.io for local testing (#16992)
  .github/workflows/ci-docker.yml
  docker/build.py
  tests/script/test_docker_build.py
Due: pylint

[esp32_hosted] Bump esp_hosted to 2.12.9 (#16999)
  .clang-tidy.hash
  esphome/components/esp32_hosted/__init__.py
  esphome/idf_component.yml
Due: pylint

Bump version to 2026.6.0b4
  Doxyfile
  esphome/const.py
Due: pylint

[ufm01] Add UFM-01 ultrasonic flow meter component (#16582)
  CODEOWNERS
  esphome/components/ufm01/__init__.py
  esphome/components/ufm01/binary_sensor.py
  esphome/components/ufm01/sensor.py
  esphome/components/ufm01/ufm01.cpp
  esphome/components/ufm01/ufm01.h
  tests/components/ufm01/common.yaml
  tests/components/ufm01/test.esp32-idf.yaml
  tests/components/ufm01/test.esp8266-ard.yaml
  tests/components/ufm01/test.rp2040-ard.yaml
  tests/test_build_components/common/uart_2400_even/esp32-idf.yaml
  tests/test_build_components/common/uart_2400_even/esp8266-ard.yaml
  tests/test_build_components/common/uart_2400_even/rp2040-ard.yaml
Due: pylint

[nrf52] add support for native builds (#16898)
  esphome/build_gen/espidf.py
  esphome/components/nrf52/__init__.py
  esphome/components/nrf52/framework.py
  esphome/components/nrf52/requirements.txt
  esphome/framework_helpers.py
  tests/unit_tests/build_gen/test_espidf.py
  tests/unit_tests/test_framework_helpers.py
  tests/unit_tests/test_nrf52_framework.py
Due: pylint

[esp32] Make ESP-IDF the default toolchain (#16910)
  esphome/components/esp32/__init__.py
  tests/component_tests/esp32/config/flash_mode_idf.yaml
  tests/component_tests/esp32/test_esp32.py
Due: pylint
