Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[time] Fix RTC is_valid() rejecting valid times after day_of_year cleanup (#15763)
  esphome/components/bm8563/bm8563.cpp
  esphome/components/ds1307/ds1307.cpp
  esphome/components/pcf85063/pcf85063.cpp
  esphome/components/pcf8563/pcf8563.cpp
  esphome/components/rx8130/rx8130.cpp
  esphome/core/time.h
  tests/components/time/is_valid.cpp
Due: none

[lvgl] Clean the build if lv_conf.h changes (#15777)
  esphome/components/lvgl/__init__.py
Due: pylint

[lvgl] Guard lv_image_set_src wrapper with LV_USE_IMAGE (#15789)
  esphome/components/lvgl/lvgl_esphome.h
Due: none

[core] coerce set_interval(0) / update_interval: 0ms to 1ms (#15799)
  esphome/config_validation.py
  esphome/core/scheduler.cpp
  tests/integration/fixtures/scheduler_interval_zero_coerced.yaml
  tests/integration/test_scheduler_interval_zero_coerced.py
  tests/unit_tests/test_config_validation.py
Due: pylint

[mipi_spi] Drawing fixes for native display (#15802)
  esphome/components/mipi_spi/display.py
  esphome/components/mipi_spi/mipi_spi.h
  tests/component_tests/mipi_spi/test_final_validate.py
Due: pylint

[runtime_image] Fix RGB order (#15813)
  esphome/components/runtime_image/runtime_image.cpp
Due: none

[ethernet] Fix SPI3_HOST default breaking compile on variants without SPI3 (#15809)
  esphome/components/ethernet/ethernet_component.h
  tests/components/ethernet/test.esp32-c3-idf.yaml
  tests/components/ethernet/test.esp32-idf.yaml
Due: none

[image] Fix byte order handling (#15800)
  esphome/components/image/__init__.py
  esphome/components/image/image.cpp
Due: pylint

[core] Feed WDT unconditionally in main loop to fix empty-config panic (#15830)
  esphome/core/application.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[packages] Improve error messages with include stack and fix missing path propagation (#15844)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  tests/component_tests/packages/test_packages.py
  tests/unit_tests/test_substitutions.py
Due: pylint

Bump version to 2026.4.1
  Doxyfile
  esphome/const.py
Due: pylint

[core] Default PollingComponent() to 1ms when codegen is bypassed (#15831)
  esphome/core/component.h
Due: none

[substitutions] Fix `substitutions: !include file.yaml` regression (#15850)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  tests/unit_tests/fixtures/substitutions/15-substitutions_as_include.approved.yaml
  tests/unit_tests/fixtures/substitutions/15-substitutions_as_include.input.yaml
  tests/unit_tests/fixtures/substitutions/15-substitutions_inc.yaml
  tests/unit_tests/fixtures/substitutions/16-substitutions_as_include_with_packages.approved.yaml
  tests/unit_tests/fixtures/substitutions/16-substitutions_as_include_with_packages.input.yaml
  tests/unit_tests/fixtures/substitutions/17-substitutions_include_cli_var.approved.yaml
  tests/unit_tests/fixtures/substitutions/17-substitutions_include_cli_var.input.yaml
  tests/unit_tests/test_substitutions.py
Due: pylint

[runtime_stats] Track main loop active time and report overhead (#15743)
  esphome/components/runtime_stats/runtime_stats.cpp
  esphome/components/runtime_stats/runtime_stats.h
  esphome/core/application.h
  esphome/core/component.cpp
  esphome/core/component.h
  tests/integration/test_runtime_stats.py
Due: pylint

[lvgl] Fix angles for arc (#15860)
  esphome/components/lvgl/widgets/arc.py
Due: pylint

[mipi_rgb] Add definitions for sunton displays (#15858)
  esphome/components/mipi_rgb/models/sunton.py
Due: pylint

[rtttl] allow any control parameters order and default value fallback (#14438)
  esphome/components/rtttl/rtttl.cpp
  tests/components/rtttl/common.yaml
Due: none

[lvgl] Fix format of hello world page (#15868)
  esphome/components/lvgl/hello_world.yaml
Due: none

[lvgl] Fix overloads for setting images on styles (#15864)
  esphome/components/lvgl/lvgl_esphome.h
Due: none

[lvgl] Fix update of textarea attached to keyboard (#15866)
  esphome/components/lvgl/widgets/keyboard.py
Due: pylint

[modbus] Simplify payload size validation in modbus_helpers (#15838)
  esphome/components/modbus/modbus_helpers.cpp
  tests/components/modbus/modbus_helpers_test.cpp
Due: none

[mipi_dsi] Add Seeed reTerminal d1001 display (#15867)
  esphome/components/mipi_dsi/models/seeed.py
  tests/component_tests/mipi_dsi/test_mipi_dsi_config.py
Due: pylint

[epaper_spi] Support SSD1683 and GDEY042T81 4.2 inch display (#13910)
  esphome/components/epaper_spi/epaper_spi_ssd1683.cpp
  esphome/components/epaper_spi/epaper_spi_ssd1683.h
  esphome/components/epaper_spi/models/ssd1683.py
  tests/components/epaper_spi/test.esp32-s3-idf.yaml
Due: pylint

[micro_wake_word] Use ESPMicroSpeechFeatures from Espressif registry (v1.2.3) (#15879)
  .clang-tidy.hash
  esphome/components/micro_wake_word/__init__.py
  esphome/idf_component.yml
  platformio.ini
Due: pylint, clang-tidy-hash

[image] Fix rodata bloat for multi-frame RGB565+alpha animations (#15873)
  esphome/components/image/__init__.py
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

[core] Fix Pvariable placement new losing subclass identity (#15881)
  esphome/cpp_generator.py
  tests/component_tests/ili9xxx/__init__.py
  tests/component_tests/ili9xxx/config/ili9xxx_test.yaml
  tests/component_tests/ili9xxx/test_ili9xxx.py
Due: pylint

[light] Force-inline LightCall::set_flag_/clear_flag_ (#15729)
  esphome/components/light/light_call.h
Due: none

[core] raise WDT_FEED_INTERVAL_MS from 3 ms to 300 ms (#15846)
  esphome/core/application.cpp
  esphome/core/application.h
Due: none

[core] Move heap-allocating helpers to alloc_helpers.h/cpp (#15623)
  esphome/components/anova/anova_base.cpp
  esphome/components/http_request/http_request.cpp
  esphome/components/http_request/http_request.h
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_host.cpp
  esphome/components/http_request/http_request_idf.cpp
  esphome/core/alloc_helpers.cpp
  esphome/core/alloc_helpers.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  script/ci-custom.py
Due: pylint

[core] Remove pre-sleep socket scan from fast select path (#15639)
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/bsd_sockets_impl.h
  esphome/components/socket/lwip_sockets_impl.cpp
  esphome/components/socket/lwip_sockets_impl.h
  esphome/components/socket/socket.h
  esphome/core/application.cpp
  esphome/core/application.h
Due: none

[ltr390] Reduce data polling delay and timeout (#15507)
  esphome/components/ltr390/ltr390.cpp
Due: none

[core] Make buf_append_str PROGMEM-aware on ESP8266 (#15738)
  esphome/core/helpers.h
Due: none

[sensor] Specialize `throttle_with_priority` NaN-only case (#15823)
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.cpp
  esphome/components/sensor/filter.h
Due: pylint

[ld2412] Fix null deref in set_basic_config when entities unconfigured (#15893)
  esphome/components/ld2412/ld2412.cpp
Due: none

[qmc5883l] Use GPIO interrupt when DRDY pin is configured (#15876)
  esphome/components/qmc5883l/qmc5883l.cpp
  esphome/components/qmc5883l/qmc5883l.h
Due: none

[api] Replace clients_ std::vector with compile-time std::array + uint8_t count (#15889)
  esphome/components/api/__init__.py
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
  esphome/core/defines.h
Due: pylint
