Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[zigbee] add on_join trigger for esp32 (#16060)
  esphome/components/zigbee/__init__.py
  esphome/components/zigbee/time/zigbee_time_zephyr.cpp
  esphome/components/zigbee/zigbee_esp32.cpp
  esphome/components/zigbee/zigbee_esp32.h
  esphome/components/zigbee/zigbee_esp32.py
  esphome/components/zigbee/zigbee_zephyr.cpp
  esphome/components/zigbee/zigbee_zephyr.h
  esphome/components/zigbee/zigbee_zephyr.py
  tests/components/zigbee/common_esp32.yaml
Due: pylint

[zigbee] Add power_source option to esp32 (#16062)
  esphome/components/zigbee/__init__.py
  esphome/components/zigbee/zigbee_esp32.cpp
  esphome/components/zigbee/zigbee_esp32.h
  esphome/components/zigbee/zigbee_esp32.py
  tests/components/zigbee/common_esp32.yaml
Due: pylint

[helpers] Re-enable ProgressBar under --dashboard mode (#16357)
  esphome/helpers.py
  tests/unit_tests/test_helpers.py
Due: pylint

[lvgl] Add new trigger `on_update` and new number option (#16312)
  esphome/components/lvgl/defines.py
  esphome/components/lvgl/lvcode.py
  esphome/components/lvgl/number/__init__.py
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/schemas.py
  esphome/components/lvgl/sensor/__init__.py
  esphome/components/lvgl/trigger.py
  esphome/components/lvgl/types.py
  esphome/components/lvgl/widgets/__init__.py
  esphome/components/lvgl/widgets/spinbox.py
  tests/components/lvgl/common.yaml
  tests/components/lvgl/lvgl-package.yaml
Due: pylint

[lvgl] Check for user defined LV_USE items (#16362)
  esphome/components/lvgl/__init__.py
Due: pylint

[ota] Improve OTA error messages (#16327)
  esphome/components/ota/ota_backend_esp_idf.cpp
  esphome/espota2.py
  tests/unit_tests/test_espota2.py
Due: pylint

[cli] Add --no-states flag to run command (#16366)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

[core] Fix PROGMEM_STRING_TABLE placement on ESP8266 without flash log strings (#16373)
  esphome/core/progmem.h
Due: none

[script] Fix array-type parameters in script.execute (#16374)
  esphome/components/script/__init__.py
  tests/components/script/common.yaml
  tests/integration/fixtures/script_array_params.yaml
  tests/integration/test_script_array_params.py
Due: pylint

[script] Preserve source order of enum options in language schema (#16371)
  script/build_language_schema.py
  tests/script/test_build_language_schema.py
Due: pylint

[core] allow defining run_compile in external_components (#16179)
  esphome/__main__.py
Due: pylint

[ci] Comment on PRs that touch the legacy dashboard (#16378)
  .github/workflows/dashboard-deprecation-comment.yml
Due: none

[rp2040] Bump arduino-pico framework to 5.6.0 (#16375)
  .clang-tidy.hash
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/boards.py
  platformio.ini
Due: pylint, clang-tidy-hash

[sendspin] Fix client_id MAC mismatch with ethernet (#16331)
  esphome/components/sendspin/sendspin_hub.cpp
  esphome/components/sendspin/sendspin_hub.h
  tests/components/sendspin/test-ethernet.esp32-idf.yaml
Due: none

[mitsubishi_cn105] Add C++ API for setting/clearing remote room temperature (#15558)
  esphome/components/mitsubishi_cn105/climate.py
  esphome/components/mitsubishi_cn105/mitsubishi_cn105.cpp
  esphome/components/mitsubishi_cn105/mitsubishi_cn105.h
  esphome/components/mitsubishi_cn105/mitsubishi_cn105_climate.h
  tests/components/mitsubishi_cn105/climate/mitsubishi_cn105_tests.cpp
  tests/components/mitsubishi_cn105/common.h
  tests/components/mitsubishi_cn105/common.yaml
Due: pylint

[sendspin] Updates sendspin-cpp to v0.5.0 (#16380)
  esphome/components/sendspin/__init__.py
  esphome/components/sendspin/media_source/sendspin_media_source.cpp
  esphome/components/sendspin/media_source/sendspin_media_source.h
  esphome/idf_component.yml
Due: pylint

[cli] Add config-hash command (#15548)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

Move AI instructions to AGENTS.md (#16382)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

[zigbee] Fix init-order and missing-field warnings on native ESP-IDF (#16389)
  esphome/components/zigbee/zigbee_attribute_esp32.cpp
  esphome/components/zigbee/zigbee_attribute_esp32.h
  esphome/components/zigbee/zigbee_esp32.cpp
Due: none

[ms8607] Pin humidity i2c_id in test fixture (#16386)
  tests/components/ms8607/common.yaml
Due: none

[audio] Add a RingBufferAudioSource (#16314)
  esphome/components/audio/audio_transfer_buffer.cpp
  esphome/components/audio/audio_transfer_buffer.h
Due: none

[ci] Add validate.*.yaml for config-only component tests (#16384)
  .github/workflows/ci.yml
  AGENTS.md
  script/analyze_component_buses.py
  script/ci-custom.py
  script/determine-jobs.py
  script/helpers.py
  script/split_components_for_ci.py
  script/test_build_components.py
  tests/script/test_determine_jobs.py
  tests/script/test_helpers.py
Due: pylint

[micro_wake_word] Increase INFERENCE_TASK_STACK_SIZE to 8192 for P4 chip (#16390)
  esphome/components/micro_wake_word/micro_wake_word.cpp
Due: none

[i2s_audio] Speaker uses new RingBufferAudioSource (#16315)
  esphome/components/i2s_audio/speaker/i2s_audio_spdif.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker_standard.cpp
Due: none

[mixer] Use RingBufferAudioSource (#16316)
  esphome/components/mixer/speaker/mixer_speaker.cpp
  esphome/components/mixer/speaker/mixer_speaker.h
Due: none

[esp32] Relax -Werror=reorder and -Werror=maybe-uninitialized on native ESP-IDF (#16392)
  esphome/components/esp32/__init__.py
Due: pylint

[safe_mode] Allow recovering soft-bricked devices via reboot to recovery partition (#16339)
  esphome/components/safe_mode/safe_mode.cpp
  esphome/components/safe_mode/safe_mode.h
Due: none

[audio] Document ring buffer source thread safety (#16393)
  esphome/components/audio/audio_transfer_buffer.h
Due: none

[i2s_audio] Properly track DMA input/output (#16317)
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker_standard.cpp
Due: none

[api][voice_assistant] Add second audio channel for voice_assistant (#16265)
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/voice_assistant/__init__.py
  esphome/components/voice_assistant/voice_assistant.cpp
  esphome/components/voice_assistant/voice_assistant.h
  tests/components/voice_assistant/common-idf.yaml
  tests/components/voice_assistant/test.esp32-idf.yaml
Due: pylint

[esp32] Print PlatformIO-format RAM/Flash summary after native ESP-IDF builds (#16394)
  esphome/build_gen/espidf.py
  esphome/espidf/runner.py
  esphome/espidf/size_summary.py
  esphome/espidf/toolchain.py
Due: pylint

[radio_frequency] Add on_control trigger; ir_rf_proxy driver-agnostic (#16368)
  esphome/components/ir_rf_proxy/ir_rf_proxy.cpp
  esphome/components/ir_rf_proxy/ir_rf_proxy.h
  esphome/components/ir_rf_proxy/radio_frequency.py
  esphome/components/radio_frequency/__init__.py
  esphome/components/radio_frequency/radio_frequency.cpp
  esphome/components/radio_frequency/radio_frequency.h
  tests/components/ir_rf_proxy/common-cc1101.yaml
  tests/components/ir_rf_proxy/test-cc1101.esp32-idf.yaml
  tests/components/ir_rf_proxy/test-cc1101.esp8266-ard.yaml
Due: pylint

[core] Fix !include vars not being substituted in !lambda values (#16320)
  esphome/yaml_util.py
  tests/unit_tests/test_substitutions.py
Due: pylint

[mitsubishi_cn105] Unified timeout handling (#16385)
  esphome/components/mitsubishi_cn105/mitsubishi_cn105.cpp
  esphome/components/mitsubishi_cn105/mitsubishi_cn105.h
  tests/components/mitsubishi_cn105/climate/mitsubishi_cn105_tests.cpp
  tests/components/mitsubishi_cn105/common.h
Due: none

[core] Cache validated config to skip re-validation on upload/logs (#16381)
  esphome/__main__.py
  esphome/compiled_config.py
  esphome/storage_json.py
  esphome/writer.py
  tests/unit_tests/test_compiled_config.py
Due: pylint

[ci] Skip native ESP-IDF compile test when no relevant files changed (#16395)
  .github/workflows/ci.yml
  script/determine-jobs.py
  tests/script/test_determine_jobs.py
Due: pylint

[tests] Cover top-level !include failure path in track_yaml_loads (#16396)
  tests/unit_tests/test_yaml_util.py
Due: pylint

[core] Retry PlatformIO downloads on transport-layer errors (#16397)
  esphome/platformio/runner.py
  tests/unit_tests/test_platformio_toolchain.py
Due: pylint

[espidf] Partition pio_components cache by framework (#16401)
  esphome/espidf/component.py
Due: pylint

[espidf] Emit -W warning flags at project scope so managed components also see them (#16403)
  esphome/build_gen/espidf.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
