Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[i2c] Handle ESP_ERR_INVALID_RESPONSE as NACK for IDF 6.0 (#14867)
  esphome/components/i2c/i2c_bus_esp_idf.cpp
Due: none

[i2s_audio] Fix ESP-IDF 6.0 compatibility for I2S port types (#14818)
  esphome/components/i2s_audio/__init__.py
  esphome/components/i2s_audio/i2s_audio.cpp
  esphome/components/i2s_audio/i2s_audio.h
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
Due: pylint

[web_server] Fix wrong printf format specifier (#14836)
  esphome/components/web_server/web_server.cpp
Due: none

[mipi_rgb] Make h- and v-sync pins optional (#14870)
  esphome/components/mipi_rgb/display.py
  esphome/components/mipi_rgb/mipi_rgb.cpp
Due: pylint

[runtime_image] Update jpegdec lib version (#14726)
  .clang-tidy.hash
  esphome/components/runtime_image/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[gpio][dallas_temp] Fix one_wire read64() and DS18S20 division by zero (#14866)
  esphome/components/dallas_temp/dallas_temp.cpp
  esphome/components/gpio/one_wire/gpio_one_wire.cpp
Due: none

[fastled] Include esp_lcd IDF component for ESP32-S3 compatibility (#14839)
  esphome/components/fastled_base/__init__.py
  tests/components/fastled_clockless/test.esp32-s3-ard.yaml
Due: pylint

[as3935] Fix ENERGY_MASK dropping bit 4 of lightning energy MMSB (#14861)
  esphome/components/as3935/as3935.h
Due: none

[ble_nus] fix uart debug (#14850)
  esphome/components/ble_nus/ble_nus.cpp
Due: none

[lilygo_t5_47] Fix Y coordinate mapping and clamp touch point count (#14865)
  esphome/components/lilygo_t5_47/touchscreen/lilygo_t5_47_touchscreen.cpp
Due: none

[runtime_image] Add esp-dsp dependency for JPEGDEC SIMD on ESP32 (#14840)
  esphome/components/runtime_image/__init__.py
  esphome/idf_component.yml
  tests/components/online_image/test.esp32-s3-ard.yaml
  tests/components/online_image/test.esp32-s3-idf.yaml
Due: pylint

[am43] Fix battery update throttle using wrong type (#14864)
  esphome/components/am43/sensor/am43_sensor.h
Due: none

[core] Support both dot and dash separators in Version.parse (#14858)
  esphome/config_validation.py
Due: pylint

Bump version to 2026.3.0b3
  Doxyfile
  esphome/const.py
Due: pylint

[core] Small improvements (#14884)
  esphome/components/bme68x_bsec2/__init__.py
  script/merge_component_configs.py
Due: pylint

[microphone] Switch IDF test to new I2S driver (#14886)
  tests/components/microphone/common.yaml
  tests/components/microphone/test.esp32-idf.yaml
Due: none

[api] Fix ProtoMessage protected destructor compile error on host platform (#14882)
  esphome/components/api/proto.h
Due: none

[ethernet] Mark EthernetComponent as final (#14842)
  esphome/components/ethernet/ethernet_component.h
Due: none

[core] Extract shared C++ build helpers from cpp_unit_test.py (#14883)
  script/cpp_unit_test.py
  script/test_helpers.py
Due: pylint

[speaker] Fix media playlist using announcement delay (#14889)
  esphome/components/speaker/media_player/speaker_media_player.cpp
Due: none

[core] Add back deprecated set_internal() for external projects (#14887)
  esphome/core/entity_base.h
Due: none

[gree] Fix IR checksum for YAA/YAC/YAC1FB9/GENERIC models (#14888)
  esphome/components/gree/gree.cpp
Due: none

[espnow] Fix EventPool/LockFreeQueue sizing off-by-one (#14893)
  esphome/components/espnow/espnow_component.cpp
  esphome/components/espnow/espnow_component.h
Due: none

[usb_cdc_acm] Fix EventPool/LockFreeQueue sizing off-by-one (#14894)
  esphome/components/usb_cdc_acm/usb_cdc_acm.cpp
  esphome/components/usb_cdc_acm/usb_cdc_acm.h
Due: none

[usb_host] Fix EventPool/LockFreeQueue sizing off-by-one (#14896)
  esphome/components/usb_host/usb_host.h
  esphome/components/usb_host/usb_host_client.cpp
Due: none

[usb_uart] Fix EventPool/LockFreeQueue sizing off-by-one (#14895)
  esphome/components/usb_uart/usb_uart.cpp
  esphome/components/usb_uart/usb_uart.h
Due: none

[esp32_ble] Fix EventPool/LockFreeQueue sizing off-by-one (#14892)
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
Due: none

[core] Add CodSpeed C++ benchmarks for protobuf, main loop, and helpers (#14878)
  .github/workflows/ci.yml
  esphome/core/component.h
  script/clang-tidy
  script/cpp_benchmark.py
  script/determine-jobs.py
  script/setup_codspeed_lib.py
  tests/benchmarks/components/.gitignore
  tests/benchmarks/components/api/bench_proto_decode.cpp
  tests/benchmarks/components/api/bench_proto_encode.cpp
  tests/benchmarks/components/api/bench_proto_varint.cpp
  tests/benchmarks/components/api/benchmark.yaml
  tests/benchmarks/components/main.cpp
  tests/benchmarks/core/bench_application_loop.cpp
  tests/benchmarks/core/bench_helpers.cpp
  tests/benchmarks/core/bench_logger.cpp
  tests/benchmarks/core/bench_scheduler.cpp
  tests/script/test_determine_jobs.py
Due: pylint

[esp32_ble][esp32_ble_server] Inline is_active/is_running and remove STL bloat (#14875)
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
  esphome/components/esp32_ble_server/ble_server.cpp
  esphome/components/esp32_ble_server/ble_server.h
Due: none

[ci] Run CodSpeed benchmarks on push to dev for baseline (#14899)
  .github/workflows/ci.yml
Due: none

[core] Document EventPool sizing requirement with LockFreeQueue (#14897)
  esphome/core/event_pool.h
Due: none

[debug][bme680_bsec] Use fnv1_hash_extend to avoid temporary string allocations (#14876)
  esphome/components/bme680_bsec/bme680_bsec.cpp
  esphome/components/debug/debug_esp32.cpp
Due: none

[esp32_ble_server] Remove vestigial semaphore from BLECharacteristic (#14900)
  esphome/components/esp32_ble_server/ble_characteristic.cpp
  esphome/components/esp32_ble_server/ble_characteristic.h
Due: none

[sensor][ee895][hdc2010] Fix misc bugs found during component scan (#14890)
  esphome/components/ee895/ee895.cpp
  esphome/components/hdc2010/hdc2010.cpp
  esphome/components/sensor/__init__.py
Due: pylint

[ci] Add CodSpeed badge to README (#14901)
  README.md
Due: none

[mqtt] Fix data race on inbound event queue (#14891)
  esphome/components/mqtt/mqtt_backend_esp32.cpp
  esphome/components/mqtt/mqtt_backend_esp32.h
Due: none

[core] cpp tests: Allow customizing code generation during tests (#14681)
  esphome/core/__init__.py
  esphome/loader.py
  script/build_helpers.py
  script/cpp_benchmark.py
  script/cpp_unit_test.py
  script/determine-jobs.py
  script/helpers.py
  tests/benchmarks/components/core/__init__.py
  tests/benchmarks/components/host/__init__.py
  tests/benchmarks/components/json/__init__.py
  tests/benchmarks/components/logger/__init__.py
  tests/benchmarks/components/time/__init__.py
  tests/components/README.md
  tests/components/core/__init__.py
  tests/components/host/__init__.py
  tests/components/logger/__init__.py
  tests/components/time/__init__.py
  tests/script/test_determine_jobs.py
  tests/script/test_helpers.py
  tests/script/test_test_helpers.py
  tests/testing_helpers.py
  tests/unit_tests/test_loader.py
Due: pylint

[scheduler] Fix UB in cross-thread counter/vector reads, add atomic fast-path (#14880)
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
