Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[light] Fix pulse and other effects (#17645)
  esphome/components/light/light_call.cpp
  esphome/components/light/light_state.cpp
  tests/integration/fixtures/light_effect_zero_brightness.yaml
  tests/integration/fixtures/light_initial_state.yaml
  tests/integration/test_light_calls.py
  tests/integration/test_light_effect_zero_brightness.py
  tests/integration/test_light_initial_state.py
Due: pylint

[core] Auto-clean the PlatformIO build environment when the Python version changes (#17671)
  esphome/platformio/toolchain.py
  esphome/writer.py
  requirements.txt
  tests/unit_tests/test_platformio_toolchain.py
Due: pylint

[espidf] Suggest installing missing system libraries when the tools install fails (#17619)
  esphome/espidf/framework.py
  tests/unit_tests/test_espidf_framework.py
Due: pylint

[git] Detect interrupted clones and re-clone automatically (#17690)
  esphome/git.py
  tests/unit_tests/test_git.py
Due: pylint

[micro_wake_word] Download models in parallel (#17701)
  esphome/components/micro_wake_word/__init__.py
  esphome/external_files.py
  tests/unit_tests/components/micro_wake_word/__init__.py
  tests/unit_tests/components/micro_wake_word/test_init.py
Due: pylint

[core] Fix srcFilter exclusions being silently ignored on Windows (#17648)
  esphome/platformio/library.py
  tests/unit_tests/test_espidf_component.py
Due: pylint

[nrf52] Install PlatformIO toolchain Python packages into a dedicated venv (#17635)
  esphome/components/nrf52/__init__.py
  esphome/components/nrf52/framework.py
  tests/unit_tests/test_nrf52_framework.py
  tests/unit_tests/test_nrf52_upload.py
Due: pylint

[esp32] Bump recommended ESP-IDF to 5.5.5 and Arduino to 3.3.10 (#17669)
  esphome/components/esp32/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[espidf] Resume interrupted toolchain downloads instead of restarting (#17706)
  esphome/espidf/framework.py
  esphome/espidf/get_tool_downloads.py
  esphome/framework_helpers.py
  tests/unit_tests/fixtures/idf_tools_stub/idf_tools.py
  tests/unit_tests/test_espidf_framework.py
  tests/unit_tests/test_framework_helpers.py
Due: pylint

[platformio] Re-download library when cached copy is missing its manifest (#17691)
  esphome/platformio/library.py
  tests/unit_tests/test_platformio_library.py
Due: pylint

[platformio] Include cache path in invalid library error (#17692)
  esphome/platformio/library.py
  tests/unit_tests/test_platformio_library.py
Due: pylint

[http_request] Fix usage of http response body (#17713)
  esphome/components/http_request/http_request.h
  tests/components/http_request/http_request.yaml
Due: none

[wireguard] Mark private keys sensitive, stop redacting public keys (#17736)
  esphome/__main__.py
  esphome/components/wireguard/__init__.py
  tests/component_tests/wireguard/__init__.py
  tests/component_tests/wireguard/test_init.py
  tests/unit_tests/test_main.py
Due: pylint

Bump version to 2026.7.1
  Doxyfile
  esphome/const.py
Due: pylint

[esp8266] Fail fast when Rosetta 2 is missing on Apple Silicon Macs (#17737)
  esphome/__main__.py
  esphome/components/esp8266/__init__.py
  tests/unit_tests/components/test_esp8266.py
  tests/unit_tests/test_main.py
Due: pylint

[haier] Fix outdoor defrost temperature reporting the coil temperature (#17492)
  esphome/components/haier/hon_climate.cpp
Due: none

[zephyr] implement ISRInternalGPIOPin::digital_write (#17601)
  esphome/components/zephyr/gpio.cpp
Due: none

[emc2101] Fix negative external temperatures reported as large positives (#17494)
  esphome/components/emc2101/emc2101.cpp
Due: none

ci: build each branch against its target esphome version only
  .github/workflows/esphome-compile.yml
Due: none

patched mqtt and dht
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

Update versions: add 2026.7.1 as latest
  .versions.yml
Due: none

ci: use Python 3.12 (required by esphome 2026.7+)
  .github/workflows/esphome-compile.yml
Due: none

docs: add 2026.7.1 badge to README
  README.md
Due: none

[sen5x] Add model option to override autodetection (#17764)
  esphome/components/sen5x/sen5x.cpp
  esphome/components/sen5x/sen5x.h
  esphome/components/sen5x/sensor.py
  tests/components/sen5x/common.yaml
Due: pylint

[bundle] Remap absolute file paths when compiling an extracted bundle (#17765)
  esphome/bundle.py
  esphome/config_validation.py
  tests/unit_tests/test_bundle.py
  tests/unit_tests/test_config_validation.py
Due: pylint

[sendspin] Bump sendspin-cpp to v0.7.0 (#17781)
  esphome/components/sendspin/__init__.py
  esphome/components/sendspin/sendspin_hub.cpp
  esphome/idf_component.yml
Due: pylint

[mipi_spi] fix partial update bug (#17747)
  esphome/components/mipi_spi/mipi_spi.h
Due: none

Bump version to 2026.7.2
  Doxyfile
  esphome/const.py
Due: pylint

fix mqtt: use CORE.is_rp2 instead of deprecated CORE.is_rp2040
  components/mqtt/__init__.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
