Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[ili9xxx] Guard against null buffer in display_() when allocation fails (#15786)
  esphome/components/ili9xxx/ili9xxx_defines.h
  esphome/components/ili9xxx/ili9xxx_display.cpp
Due: none

[esp32] Accept unquoted minimum_chip_revision values (#15785)
  esphome/components/esp32/__init__.py
Due: pylint

[libretiny] Make IRAM_ATTR functional on RTL87xx and LN882H (#15766)
  esphome/components/bk72xx/__init__.py
  esphome/components/libretiny/__init__.py
  esphome/components/libretiny/generate_components.py
  esphome/components/libretiny/patch_linker.py.script
  esphome/components/ln882x/__init__.py
  esphome/components/rtl87xx/__init__.py
  esphome/core/application.h
  esphome/core/hal.h
  esphome/core/main_task.h
  esphome/core/wake.cpp
  esphome/core/wake.h
Due: pylint

[lvgl] Guard lv_image_set_src wrapper with LV_USE_IMAGE (#15789)
  esphome/components/lvgl/lvgl_esphome.h
Due: none

Fix typo in devcontainer.json (#15791)
  .devcontainer/devcontainer.json
Due: none

[runtime_stats] Track main loop active time and report overhead (#15743)
  esphome/components/runtime_stats/runtime_stats.cpp
  esphome/components/runtime_stats/runtime_stats.h
  esphome/core/application.h
  esphome/core/component.cpp
  esphome/core/component.h
  tests/integration/test_runtime_stats.py
Due: pylint

[wireguard] Bump esp_wireguard to 0.4.5 for ESP-IDF v6 (#15804)
  .clang-tidy.hash
  esphome/components/wireguard/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[wifi] Guard retry_phase_to_log_string with log level check to fix warning (#15801)
  esphome/components/wifi/wifi_component.cpp
Due: none

[mipi_spi] Drawing fixes for native display (#15802)
  esphome/components/mipi_spi/display.py
  esphome/components/mipi_spi/mipi_spi.h
  tests/component_tests/mipi_spi/test_final_validate.py
Due: pylint

[image] Fix byte order handling (#15800)
  esphome/components/image/__init__.py
  esphome/components/image/image.cpp
Due: pylint

[core] coerce set_interval(0) / update_interval: 0ms to 1ms (#15799)
  esphome/config_validation.py
  esphome/core/scheduler.cpp
  tests/integration/fixtures/scheduler_interval_zero_coerced.yaml
  tests/integration/test_scheduler_interval_zero_coerced.py
  tests/unit_tests/test_config_validation.py
Due: pylint

[core] Expose App.wake_loop_isrsafe() on ESP8266 (#15797)
  esphome/core/application.h
  esphome/core/wake.h
Due: none

[ethernet] Fix SPI3_HOST default breaking compile on variants without SPI3 (#15809)
  esphome/components/ethernet/ethernet_component.h
  tests/components/ethernet/test.esp32-c3-idf.yaml
  tests/components/ethernet/test.esp32-idf.yaml
Due: none

[core] Fix DelayAction compile error with non-const reference args (#15814)
  esphome/core/base_automation.h
  tests/components/http_request/http_request.yaml
Due: none

[esp32] Downgrade unneeded `ignore_pin_validation_error` to a warning (#15811)
  esphome/components/esp32/gpio.py
  tests/component_tests/esp32/test_esp32.py
Due: pylint

[mipi_spi] Add Sunton ESP32-2424S012 (#15812)
  esphome/components/mipi_spi/models/cyd.py
  esphome/components/mipi_spi/models/ili.py
Due: pylint

[runtime_image] Fix RGB order (#15813)
  esphome/components/runtime_image/runtime_image.cpp
Due: none

[ci] Scope local pylint pre-commit hook to esphome/ (#15818)
  .pre-commit-config.yaml
Due: none

[bme680_bsec] [bme68x_bsec2] Mark the two BSEC variants as mutually exclusive (#15826)
  esphome/components/bme680_bsec/__init__.py
  esphome/components/bme68x_bsec2/__init__.py
Due: pylint

[lvgl] Fix crash with snow on rotated display (#15822)
  esphome/components/lvgl/lvgl_esphome.cpp
Due: none

[core] Feed WDT unconditionally in main loop to fix empty-config panic (#15830)
  esphome/core/application.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[core] Default PollingComponent() to 1ms when codegen is bypassed (#15831)
  esphome/core/component.h
Due: none

[ci] Honor CONFLICTS_WITH when grouping component tests (#15834)
  script/helpers.py
  script/split_components_for_ci.py
  script/test_build_components.py
  tests/script/test_helpers.py
Due: pylint

[ld2412] Fix flaky integration test race condition (#15833)
  tests/integration/test_uart_mock_ld2412.py
Due: pylint

[substitutions] Fix `substitutions: !include file.yaml` regression (#15850)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  tests/unit_tests/fixtures/substitutions/15-substitutions_as_include.approved.yaml
  tests/unit_tests/fixtures/substitutions/15-substitutions_as_include.input.yaml
  tests/unit_tests/fixtures/substitutions/15-substitutions_inc.yaml
  tests/unit_tests/fixtures/substitutions/16-substitutions_as_include_with_packages.approved.yaml
  tests/unit_tests/fixtures/substitutions/16-substitutions_as_include_with_packages.input.yaml
  tests/unit_tests/fixtures/substitutions/17-substitutions_include_cli_var.approved.yaml
  tests/unit_tests/fixtures/substitutions/17-substitutions_include_cli_var.input.yaml
  tests/unit_tests/test_substitutions.py
Due: pylint

[packages] Improve error messages with include stack and fix missing path propagation (#15844)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  tests/component_tests/packages/test_packages.py
  tests/unit_tests/test_substitutions.py
Due: pylint

[core] Default PollingComponent() to not run when codegen is bypassed (#15832)
  esphome/core/component.h
Due: none

[core] Inline feed_wdt hot path with out-of-line slow path (#15656)
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/scheduler.cpp
Due: none

[st7789v] Fix swapped offset_width/offset_height in model presets (#15755)
  esphome/components/st7789v/display.py
Due: pylint

[core] Fix app_state_ status bits clobbered for non-looping components (#15658)
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.cpp
  esphome/core/component.h
  tests/integration/fixtures/status_flags.yaml
  tests/integration/test_status_flags.py
Due: pylint

[qmc5883l] Move per-update log line from DEBUG to VERBOSE (#15781)
  esphome/components/qmc5883l/qmc5883l.cpp
Due: none

[sx126x][sx127x] Fix frequency precision loss from float32 codegen (#15753)
  esphome/components/sx126x/__init__.py
  esphome/components/sx127x/__init__.py
Due: pylint

[bundle] Force-resolve nested IncludeFile during file discovery (#15762)
  esphome/bundle.py
  tests/unit_tests/fixtures/bundle/bundle_test.yaml
  tests/unit_tests/fixtures/bundle/common/wifi.yaml
  tests/unit_tests/test_bundle.py
Due: pylint

[core] Diagnose missing cg.templatable in codegen for TEMPLATABLE_VALUE fields (#15758)
  esphome/core/automation.h
Due: none

[mitsubishi_cn105] use HEAT_COOL mode to enable temperature slider (#15748)
  esphome/components/mitsubishi_cn105/mitsubishi_cn105_climate.cpp
Due: none
