Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

Fix bare hostname ping fallback in dashboard (#13760)
  esphome/dashboard/dns.py
  tests/dashboard/status/test_dns.py
Due: pylint

[logger] Refactor to reduce code duplication and flash size (#13750)
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/logger_esp32.cpp
  esphome/components/logger/logger_esp8266.cpp
  esphome/components/logger/logger_host.cpp
  esphome/components/logger/logger_libretiny.cpp
  esphome/components/logger/logger_rp2040.cpp
  esphome/components/logger/logger_zephyr.cpp
Due: none

[web_server] Fix ESP8266 watchdog panic by deferring actions to main loop (#13765)
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server.h
Due: none

[web_server] Add some more missing ESPHOME_F macros (#13748)
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server/web_server_v1.cpp
Due: none

[rd03d] Revert incorrect field order swap (#13769)
  esphome/components/rd03d/rd03d.cpp
Due: none

[esp32] Reduce Arduino build size by 44% and build time by 36% (#13623)
  esphome/components/bme680_bsec/__init__.py
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
  esphome/components/espnow/__init__.py
  esphome/components/ethernet/__init__.py
  esphome/components/i2s_audio/media_player/__init__.py
  esphome/components/midea/climate.py
  esphome/components/network/__init__.py
  esphome/components/web_server_base/__init__.py
  esphome/components/wled/__init__.py
  esphome/core/__init__.py
  esphome/writer.py
  tests/components/i2s_audio/test.esp32-ard.yaml
  tests/unit_tests/test_core.py
Due: pylint

[esp32] Skip downloading precompiled Arduino libs (#13775)
  esphome/components/esp32/__init__.py
Due: pylint

[esp32] Remove specific claims from framework migration message (#13777)
  esphome/components/esp32/__init__.py
Due: pylint

[epaper_spi] Refactor initialise for future use (#13774)
  esphome/components/epaper_spi/epaper_spi.cpp
  esphome/components/epaper_spi/epaper_spi.h
  esphome/components/epaper_spi/epaper_waveshare.cpp
  esphome/components/epaper_spi/epaper_waveshare.h
Due: none

[ci] Block new scanf() usage to prevent ~9.8KB flash bloat (#13657)
  script/ci-custom.py
Due: pylint

[core] Add capacity check to register_component_ (#13778)
  esphome/core/application.cpp
Due: none

[api] Remove is_single parameter and fix batch buffer preparation (#13773)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2_service.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[vbus] Add DeltaSol BS/2 support with sensors and binary sensors (#13762)
  esphome/components/vbus/__init__.py
  esphome/components/vbus/binary_sensor/__init__.py
  esphome/components/vbus/binary_sensor/vbus_binary_sensor.cpp
  esphome/components/vbus/binary_sensor/vbus_binary_sensor.h
  esphome/components/vbus/sensor/__init__.py
  esphome/components/vbus/sensor/vbus_sensor.cpp
  esphome/components/vbus/sensor/vbus_sensor.h
  tests/components/vbus/common.yaml
Due: pylint

[esp32] Use underscores in arduino_libs_stub folder name (#13785)
  esphome/components/esp32/__init__.py
Due: pylint

[ota] Fix CLI upload option shown when only http_request platform configured (#13784)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

[rdm6300] Add ID-20LA compatibility by skipping CR/LF bytes (#13779)
  esphome/components/rdm6300/rdm6300.cpp
Due: none

[const] Move some constants to common (#13788)
  esphome/components/const/__init__.py
  esphome/components/daly_bms/sensor.py
  esphome/components/ina2xx_base/__init__.py
  esphome/components/pipsolar/sensor/__init__.py
Due: pylint

[esp32_ble] include sdkconfig.h before ESP-Hosted preprocessor guards (#13787)
  esphome/components/esp32_ble/ble_advertising.h
  esphome/components/esp32_ble_beacon/__init__.py
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.cpp
  esphome/components/esp32_ble_beacon/esp32_ble_beacon.h
  esphome/config_validation.py
  tests/component_tests/config_validation/test_config.py
  tests/components/esp32_ble/test.esp32-p4-idf.yaml
  tests/components/esp32_ble_beacon/test.esp32-p4-idf.yaml
  tests/components/esp32_ble_client/test.esp32-p4-idf.yaml
  tests/components/esp32_ble_server/test.esp32-p4-idf.yaml
  tests/components/esp32_ble_tracker/test.esp32-p4-idf.yaml
  tests/test_build_components/common/ble/esp32-p4-idf.yaml
Due: pylint

[core] Add PROGMEM_STRING_TABLE macro for flash-optimized string lookups (#13659)
  esphome/components/cover/cover.cpp
  esphome/components/light/light_json_schema.cpp
  esphome/components/logger/logger.cpp
  esphome/components/sensor/sensor.cpp
  esphome/components/sensor/sensor.h
  esphome/components/valve/valve.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/core/progmem.h
Due: none

[http_request] Fix chunked transfer encoding on Arduino platforms (#13790)
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/http_request/http_request_arduino.h
  esphome/components/http_request/ota/ota_http_request.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
Due: none

[wifi] Defer ESP8266 WiFi listener callbacks from system context to main loop (#13789)
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
Due: none

[gpio] Convert interrupt_type_to_string to PROGMEM_STRING_TABLE (#13795)
  esphome/components/gpio/binary_sensor/gpio_binary_sensor.cpp
Due: none

[core] Convert entity string lookups to PROGMEM_STRING_TABLE (#13794)
  esphome/components/alarm_control_panel/alarm_control_panel_state.cpp
  esphome/components/climate/climate_mode.cpp
  esphome/components/fan/fan.cpp
  esphome/components/lock/lock.cpp
  esphome/components/water_heater/water_heater.cpp
Due: none

[update] Move update_state_to_string to update component and convert to PROGMEM_STRING_TABLE (#13796)
  esphome/components/update/update_entity.cpp
  esphome/components/update/update_entity.h
  esphome/components/web_server/web_server.cpp
Due: none

[light] Convert color_mode_to_human to PROGMEM_STRING_TABLE using to_bit() (#13797)
  esphome/components/light/light_call.cpp
Due: none

[analyze-memory] Trace CSWTCH switch table symbols to source components (#13798)
  esphome/analyze_memory/__init__.py
  esphome/analyze_memory/cli.py
  esphome/analyze_memory/const.py
Due: pylint

[wifi] Avoid jump tables in LOG_STR switch statements to save ESP8266 RAM (#13799)
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component_esp8266.cpp
Due: none

[light] Move CSWTCH lookup table to PROGMEM in get_suitable_color_modes_mask_ (#13801)
  esphome/components/light/light_call.cpp
Due: none

[dsmr] Fix issue with parsing lines like `1-0:0.2.0((ER11))` (#13780)
  .clang-tidy.hash
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/sensor.py
  esphome/components/dsmr/text_sensor.py
  platformio.ini
Due: pylint, clang-tidy-hash

[core] Add missing requests dependency to requirements.txt (#13803)
  requirements.txt
Due: none

[template] Convert alarm sensor type to PROGMEM_STRING_TABLE and narrow enum to uint8_t (#13804)
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.cpp
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.h
Due: none

[mqtt] Move switch string tables to PROGMEM_STRING_TABLE (#13802)
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_client.cpp
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_text.cpp
Due: none

Add target_temperature to the template water heater (#13661)
  esphome/components/template/water_heater/__init__.py
  esphome/components/template/water_heater/template_water_heater.cpp
  esphome/components/template/water_heater/template_water_heater.h
  tests/components/template/common-base.yaml
  tests/integration/fixtures/water_heater_template.yaml
  tests/integration/test_water_heater_template.py
Due: pylint

[epaper_spi] Add Waveshare 1.54-G (#13758)
  esphome/components/epaper_spi/colorconv.h
  esphome/components/epaper_spi/epaper_spi_jd79660.cpp
  esphome/components/epaper_spi/epaper_spi_jd79660.h
  esphome/components/epaper_spi/models/jd79660.py
  tests/components/epaper_spi/test.esp32-s3-idf.yaml
Due: pylint

[dashboard] Close WebSocket after process exit to prevent zombie connections (#13834)
  esphome/dashboard/web_server.py
  tests/dashboard/test_web_server.py
Due: pylint

[epaper_spi] Declare leaf classes final (#13776)
  esphome/components/epaper_spi/epaper_spi_spectra_e6.h
  esphome/components/epaper_spi/epaper_waveshare.h
Due: none

[udp] Eliminate per-loop heap allocation using std::span (#13838)
  esphome/codegen.py
  esphome/components/packet_transport/packet_transport.cpp
  esphome/components/packet_transport/packet_transport.h
  esphome/components/udp/__init__.py
  esphome/components/udp/packet_transport/udp_transport.cpp
  esphome/components/udp/udp_component.cpp
  esphome/components/udp/udp_component.h
  esphome/cpp_types.py
  tests/integration/test_udp.py
Due: pylint

[nrf52,logger] fix printk (#13874)
  esphome/components/logger/logger_zephyr.cpp
Due: none

[lvgl] Fix crash with unconfigured `top_layer` (#13846)
  esphome/components/lvgl/schemas.py
  tests/components/lvgl/test.host.yaml
Due: pylint

[api] Elide empty message construction in protobuf dispatch (#13871)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2_service.cpp
  esphome/components/api/api_pb2_service.h
  script/api_protobuf/api_protobuf.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
