Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[zwave_proxy] Inline loop() hot-path fast-paths for response_handler_ and process_uart_ (#15887)
  esphome/components/zwave_proxy/zwave_proxy.cpp
  esphome/components/zwave_proxy/zwave_proxy.h
Due: none

[core] Inline api_is_connected() for hot-path callers (#15888)
  esphome/core/util.cpp
  esphome/core/util.h
Due: none

[core] Replace strnlen in buf_append_str for Zephyr compatibility (#15892)
  esphome/core/helpers.h
Due: none

[core] decouple main loop cadence from scheduler wake timing (#15792)
  esphome/components/runtime_stats/runtime_stats.cpp
  esphome/components/runtime_stats/runtime_stats.h
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/wake.cpp
  esphome/core/wake.h
  tests/integration/fixtures/external_components/wake_test_component/__init__.py
  tests/integration/fixtures/external_components/wake_test_component/wake_test_component.cpp
  tests/integration/fixtures/external_components/wake_test_component/wake_test_component.h
  tests/integration/fixtures/loop_interval_decoupling.yaml
  tests/integration/fixtures/loop_interval_default_not_pulled_forward.yaml
  tests/integration/fixtures/wake_loop_forces_phase_b.yaml
  tests/integration/test_loop_interval_decoupling.py
  tests/integration/test_loop_interval_default_not_pulled_forward.py
  tests/integration/test_wake_loop_forces_phase_b.py
Due: pylint

[debug] Migrate trivial buf_append_printf sites to buf_append_str (#15885)
  esphome/components/debug/debug_component.cpp
  esphome/components/debug/debug_esp32.cpp
  esphome/components/debug/debug_libretiny.cpp
  esphome/components/debug/debug_zephyr.cpp
Due: none

[lock] Implemented open states support (#15120)
  esphome/components/lock/__init__.py
  esphome/components/lock/lock.cpp
  esphome/components/lock/lock.h
Due: pylint

[template] Use placement new for template text restore saver (#15883)
  esphome/components/template/text/__init__.py
  tests/component_tests/template/__init__.py
  tests/component_tests/template/config/template_text_restore.yaml
  tests/component_tests/template/test_template_text.py
Due: pylint

[esp32_ble] Add `use_psram` option to offload BT memory allocation to SPIRAM (#15644)
  esphome/components/esp32_ble/__init__.py
  esphome/components/esp32_ble/ble.cpp
  esphome/core/defines.h
  tests/components/esp32_ble/common_use_psram.yaml
  tests/components/esp32_ble/test.esp32-ard.yaml
  tests/components/esp32_ble/test.esp32-idf.yaml
  tests/components/esp32_ble/test.esp32-p4-idf.yaml
Due: pylint

[sensor] Filter to round to significant digits (#11157)
  esphome/components/sensor/__init__.py
  esphome/components/sensor/filter.h
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  tests/components/core/helpers_test.cpp
  tests/components/template/common-base.yaml
Due: pylint

[esp32] Add Secure Boot V1 ECDSA signing scheme for pre-rev-3.0 ESP32 (#15882)
  esphome/components/esp32/__init__.py
  esphome/components/esp32/post_build.py.script
  tests/components/esp32/dummy_signing_key_v1_ecdsa.pem
  tests/components/esp32/test-signed_ota_v1.esp32-idf.yaml
Due: pylint

[bl0906] Disable loop when idle and introduce BL0906Stage enum (#15884)
  esphome/components/bl0906/bl0906.cpp
  esphome/components/bl0906/bl0906.h
Due: none

[substitutions] Improve error messages with include stack trace (#15874)
  esphome/components/packages/__init__.py
  esphome/components/substitutions/__init__.py
  esphome/yaml_util.py
  tests/component_tests/packages/test_packages.py
  tests/unit_tests/test_substitutions.py
  tests/unit_tests/test_yaml_util.py
Due: pylint

[wifi] Use queue abstraction for LibreTiny WiFi events (#15343)
  esphome/components/libretiny/__init__.py
  esphome/components/libretiny/freertos_static_alloc.c
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  esphome/core/freertos_queue.h
Due: pylint

[rp2040] Tune oversized lwIP defaults for ESPHome (#14843)
  MANIFEST.in
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/const.py
  esphome/components/rp2040/inject_lwip_include.py.script
  esphome/components/rp2040/lwipopts.h.jinja
  esphome/components/wifi/__init__.py
  script/stress_test_connect.py
Due: pylint

[core] Optimize value_accuracy_to_buf to avoid snprintf (#15596)
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  tests/components/core/test_helpers.cpp
  tests/components/core/test_value_accuracy.cpp
Due: none

[light] Reduce validate_ clamp code size and speed up unit-range clamps (#15728)
  esphome/components/light/light_call.cpp
  esphome/components/light/light_call.h
  esphome/components/light/light_color_values.h
Due: none

[core] Use MAC_ADDRESS_BUFFER_SIZE constant instead of duplicated literal (#15913)
  esphome/components/esp32_ble/ble.cpp
  esphome/core/application.h
Due: none

[esp32] Use xTaskGetTickCount() for millis() when tick rate is 1kHz (#15661)
  esphome/components/esp32/core.cpp
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.h
  esphome/core/millis_internal.h
  esphome/core/scheduler.h
Due: none

[core] Collapse adjacent USE_HOST ifdef blocks in Application (#15914)
  esphome/core/application.h
Due: none

[libretiny] Inline xTaskGetTickCount() for millis() fast path (#15918)
  esphome/components/libretiny/core.cpp
  esphome/core/millis_internal.h
Due: none

[core] Dedupe yield() fast path in wakeable_delay and always-inline (#15915)
  esphome/core/application.h
  esphome/core/wake.cpp
  esphome/core/wake.h
Due: none

[core] RAII guard for component loop phase (#15897)
  esphome/core/application.cpp
  esphome/core/application.h
Due: none

[esp32] add watchdog_timeout configuration variable (#15908)
  esphome/components/esp32/__init__.py
  tests/components/esp32/test.esp32-idf.yaml
Due: pylint

[network] Reorder IPv6 configuration for network components (#11694)
  esphome/components/network/__init__.py
Due: pylint

[cse7761] bidirectional active power (#15162)
  esphome/components/cse7761/cse7761.cpp
  esphome/components/cse7761/cse7761.h
Due: none

[one_wire] Reset bus before SKIP ROM command (#14669)
  esphome/components/one_wire/one_wire_bus.cpp
  esphome/components/one_wire/one_wire_bus.h
Due: none

[dsmr] Improve performance. Add missing sensors. Remove Crypto-no-arduino. (#15875)
  .clang-tidy.hash
  esphome/components/dsmr/__init__.py
  esphome/components/dsmr/dsmr.cpp
  esphome/components/dsmr/dsmr.h
  esphome/components/dsmr/sensor.py
  esphome/components/dsmr/text_sensor.py
  platformio.ini
  tests/components/dsmr/test.esp32-ard.yaml
  tests/components/dsmr/test.esp32-idf.yaml
  tests/components/dsmr/test.esp8266-ard.yaml
Due: pylint, clang-tidy-hash

[internal_temperature] Fix internal Temperature discrepancy on BK7231T (#15771)
  esphome/components/internal_temperature/internal_temperature_bk72xx.cpp
Due: none

[ac_dimmer] Zero-crossing interrupt type (#15862)
  esphome/components/ac_dimmer/ac_dimmer.cpp
  esphome/components/ac_dimmer/ac_dimmer.h
  esphome/components/ac_dimmer/output.py
  tests/components/ac_dimmer/common.yaml
Due: pylint

[i2s_audio] Split speaker into base class and standard subclass (#15404)
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.h
  esphome/components/i2s_audio/speaker/i2s_audio_speaker_standard.cpp
  esphome/components/i2s_audio/speaker/i2s_audio_speaker_standard.h
Due: pylint

[io_expanders] Self-heal interrupt-driven expanders when INT stays asserted across the read (#15923)
  esphome/components/mcp23016/mcp23016.cpp
  esphome/components/mcp23xxx_base/mcp23xxx_base.h
  esphome/components/pca6416a/pca6416a.cpp
  esphome/components/pca9554/pca9554.cpp
  esphome/components/pcf8574/pcf8574.cpp
  esphome/components/pi4ioe5v6408/pi4ioe5v6408.cpp
  esphome/components/tca9555/tca9555.cpp
Due: none

[usb_uart] Derive TX output chunk count from `buffer_size` config (#15909)
  esphome/components/usb_uart/__init__.py
  esphome/components/usb_uart/usb_uart.h
  esphome/core/defines.h
Due: pylint

[api_protobuf] Support compound `ifdef` conditions in proto generator (#15930)
  script/api_protobuf/api_protobuf.py
Due: pylint

[lvgl] Fix format of hello world page (#15868)
  esphome/components/lvgl/hello_world.yaml
Due: none

[lvgl] Fix overloads for setting images on styles (#15864)
  esphome/components/lvgl/lvgl_esphome.h
Due: none

[lvgl] Fix update of textarea attached to keyboard (#15866)
  esphome/components/lvgl/widgets/keyboard.py
Due: pylint

Bump version to 2026.4.2
  Doxyfile
  esphome/const.py
Due: pylint

[image] Fix rodata bloat for multi-frame RGB565+alpha animations (#15873)
  esphome/components/image/__init__.py
Due: pylint

[ld2412] Fix null deref in set_basic_config when entities unconfigured (#15893)
  esphome/components/ld2412/ld2412.cpp
Due: none
