Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[logger] Mark Logger and LoggerMessageTrigger as final (#14291)
  esphome/components/logger/logger.h
Due: none

[ota] Mark OTA backend and component leaf classes as final (#14287)
  esphome/components/esphome/ota/ota_esphome.h
  esphome/components/http_request/ota/ota_http_request.h
  esphome/components/ota/ota_backend_arduino_libretiny.h
  esphome/components/ota/ota_backend_arduino_rp2040.h
  esphome/components/ota/ota_backend_esp8266.h
  esphome/components/ota/ota_backend_esp_idf.h
  esphome/components/ota/ota_backend_host.h
  esphome/components/web_server/ota/ota_web_server.h
Due: none

[core] ESP32: massively reduce main loop socket polling overhead by replacing select() (#14249)
  esphome/components/socket/__init__.py
  esphome/components/socket/socket.h
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/lwip_fast_select.c
  esphome/core/lwip_fast_select.h
  tests/components/socket/test_wake_loop_threadsafe.py
Due: pylint

[ci] Add undocumented C++ API change checkbox and auto-label (#14317)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/auto-label-pr/constants.js
  .github/scripts/auto-label-pr/detectors.js
Due: none

Add socket compile tests for libretiny platforms (#14314)
  tests/components/socket/test.bk72xx-ard.yaml
  tests/components/socket/test.ln882x-ard.yaml
  tests/components/socket/test.rtl87xx-ard.yaml
Due: none

[core] Use placement new for global Application instance (#14052)
  esphome/core/application.cpp
  esphome/core/config.py
Due: pylint

[wifi] Use memcpy-based insertion sort for scan results (#13960)
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
Due: none

[libretiny] Use -Os optimization for ESPHome source on BK72xx (SDK remains at -O1) (#14322)
  esphome/components/libretiny/__init__.py
  esphome/components/libretiny/lt_component.cpp
Due: pylint

[esp_ldo] Add channels 1&2 support and passthrough mode (#14177)
  esphome/components/esp_ldo/__init__.py
  esphome/components/esp_ldo/esp_ldo.cpp
  esphome/components/esp_ldo/esp_ldo.h
  tests/components/esp_ldo/test.esp32-p4-idf.yaml
Due: pylint

[api] Add DEFROSTING to ClimateAction (#13976)
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/climate/climate_mode.cpp
  esphome/components/climate/climate_mode.h
  esphome/components/mqtt/mqtt_climate.cpp
Due: none

[mipi_dsi] Add more Waveshare panels and comments (#14023)
  esphome/components/mipi_dsi/models/waveshare.py
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

[time] Eliminate libc timezone bloat (~9.5KB flash ESP32, ~2% RAM on ESP8266) (#13635)
  esphome/components/time/posix_tz.cpp
  esphome/components/time/posix_tz.h
  esphome/components/time/real_time_clock.cpp
  esphome/components/time/real_time_clock.h
  esphome/core/time.cpp
  esphome/core/time.h
  script/cpp_unit_test.py
  tests/components/time/posix_tz_parser.cpp
Due: pylint

[rp2040] Update arduino-pico framework from 3.9.4 to 5.5.0 (#14328)
  .clang-tidy.hash
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/gpio.cpp
  esphome/components/uart/uart_component_rp2040.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  platformio.ini
Due: pylint, clang-tidy-hash

[esp8266] Remove forced scanf linkage to save ~8KB flash (#13678)
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/remove_float_scanf.py.script
Due: pylint

[usb_uart] Performance, correctness and reliability improvements (#14333)
  esphome/components/usb_host/usb_host_client.cpp
  esphome/components/usb_uart/ch34x.cpp
  esphome/components/usb_uart/cp210x.cpp
  esphome/components/usb_uart/usb_uart.cpp
  esphome/components/usb_uart/usb_uart.h
Due: none

[core] Extend fast select optimization to LibreTiny platforms (#14254)
  esphome/components/socket/__init__.py
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/defines.h
  esphome/core/lwip_fast_select.c
  esphome/core/lwip_fast_select.h
  tests/components/socket/test_wake_loop_threadsafe.py
Due: pylint

[core] Add millis_64() HAL function with native ESP32 implementation (#14339)
  esphome/components/esp32/core.cpp
  esphome/components/esp8266/core.cpp
  esphome/components/host/core.cpp
  esphome/components/libretiny/core.cpp
  esphome/components/rp2040/core.cpp
  esphome/components/uptime/sensor/uptime_seconds_sensor.cpp
  esphome/components/uptime/text_sensor/uptime_text_sensor.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/zephyr/core.cpp
  esphome/core/hal.h
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[wifi] Use direct SDK APIs for LibreTiny SSID retrieval (#14349)
  esphome/components/wifi/wifi_component_libretiny.cpp
Due: none

[safe_mode] Add feature to explicitly mark a boot as successful (#14306)
  esphome/components/safe_mode/__init__.py
  esphome/components/safe_mode/automation.h
  esphome/components/safe_mode/safe_mode.cpp
  esphome/components/safe_mode/safe_mode.h
  tests/components/safe_mode/common-enabled.yaml
Due: pylint

[wifi] Add LibreTiny component test configs (#14351)
  tests/components/wifi/test.bk72xx-ard.yaml
  tests/components/wifi/test.ln882x-ard.yaml
  tests/components/wifi/test.rtl87xx-ard.yaml
Due: none

[core] Fix Application asm label for Mach-O using __USER_LABEL_PREFIX__ (#14334)
  esphome/core/application.cpp
Due: none

[host] Use native clock_gettime for millis_64() (#14340)
  esphome/components/host/core.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[rp2040] Use native time_us_64() for millis_64() (#14356)
  esphome/components/rp2040/core.cpp
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[ci] Fix C++ unit tests missing time component dependency (#14364)
  script/cpp_unit_test.py
Due: pylint

[web_server] Add climate preset, fan mode, and humidity support (#14061)
  esphome/components/web_server/web_server.cpp
Due: none

[sen6x] Fix test sensor ID collisions with sen5x (#14367)
  tests/components/sen6x/common.yaml
Due: none

[uart] Revert UART0 default pin workarounds (fixed in ESP-IDF 5.5.2) (#14363)
  esphome/components/uart/uart_component_esp_idf.cpp
Due: none

[esp32] Wrap printf/vprintf/fprintf to eliminate _vfprintf_r (~11 KB flash) (#14362)
  esphome/components/esp32/__init__.py
  esphome/components/esp32/printf_stubs.cpp
  tests/components/esp32/test.esp32-idf.yaml
Due: pylint

[gt911] Support for interrupt signal via IO Expander (#14358)
  esphome/components/gt911/touchscreen/__init__.py
  esphome/components/gt911/touchscreen/gt911_touchscreen.cpp
  esphome/components/gt911/touchscreen/gt911_touchscreen.h
Due: pylint

[core] Make register_component protected, remove runtime checks (#14371)
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/cpp_helpers.py
  tests/component_tests/deep_sleep/test_deep_sleep.py
  tests/component_tests/ota/test_web_server_ota.py
  tests/dummy_main.cpp
  tests/unit_tests/test_cpp_helpers.py
Due: pylint

[ld2410][ld2412] Fix signed char causing incorrect distance values (#14380)
  esphome/components/ld2410/ld2410.cpp
  esphome/components/ld2412/ld2412.cpp
Due: none

[uart] Replace wake-on-RX task+queue with direct ISR callback (#14382)
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_component_esp_idf.h
  esphome/core/application.h
  esphome/core/lwip_fast_select.c
  esphome/core/lwip_fast_select.h
Due: none

[ld2450] Use atan2f for angle calculation (#14388)
  esphome/components/ld2450/ld2450.cpp
Due: none

[ld2450] Use integer dedup for direction text sensor updates (#14386)
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
Due: none

[ld2450] Single-pass zone target counting (#14387)
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
Due: none

[core] Extract set_status_flag_ helper to deduplicate status_set methods (#14384)
  esphome/core/component.cpp
  esphome/core/component.h
Due: none

[uart] Enable wake-on-RX by default on ESP32 (#14391)
  esphome/components/uart/__init__.py
  esphome/components/zwave_proxy/__init__.py
Due: pylint
