Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[codegen] Fix templatable float type to use cg.float_ (#15568)
  esphome/components/analog_threshold/binary_sensor.py
  esphome/components/audio_adc/__init__.py
  esphome/components/audio_dac/__init__.py
  esphome/components/climate/__init__.py
  esphome/components/cover/__init__.py
  esphome/components/dfrobot_sen0395/__init__.py
  esphome/components/esp8266_pwm/output.py
  esphome/components/integration/sensor.py
  esphome/components/ledc/output.py
  esphome/components/libretiny_pwm/output.py
  esphome/components/light/automation.py
  esphome/components/media_player/__init__.py
  esphome/components/nextion/display.py
  esphome/components/nextion/sensor/__init__.py
  esphome/components/number/__init__.py
  esphome/components/output/__init__.py
  esphome/components/pid/climate.py
  esphome/components/pipsolar/output/__init__.py
  esphome/components/rp2040_pwm/output.py
  esphome/components/sensor/__init__.py
  esphome/components/servo/__init__.py
  esphome/components/speaker/__init__.py
  esphome/components/template/cover/__init__.py
  esphome/components/template/sensor/__init__.py
  esphome/components/template/valve/__init__.py
  esphome/components/template/water_heater/__init__.py
  esphome/components/ufire_ec/sensor.py
  esphome/components/ufire_ise/sensor.py
  esphome/components/valve/__init__.py
Due: pylint

[api] Peel first write iteration, inline socket writes, zero-gap batch encoding (#15063)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_frame_helper.cpp
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_noise.h
  esphome/components/api/api_frame_helper_plaintext.cpp
  esphome/components/api/api_frame_helper_plaintext.h
  esphome/components/api/proto.h
  tests/benchmarks/components/api/bench_plaintext_frame.cpp
Due: none

[api] Fix batch messages stuck in Nagle buffer (#15581)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Due: none

[climate] Store custom mode vectors on Climate entity to eliminate heap allocation (#15206)
  esphome/components/bedjet/climate/bedjet_climate.cpp
  esphome/components/bedjet/climate/bedjet_climate.h
  esphome/components/climate/climate.cpp
  esphome/components/climate/climate.h
  esphome/components/climate/climate_traits.cpp
  esphome/components/climate/climate_traits.h
  esphome/components/demo/demo_climate.h
  esphome/components/midea/ac_adapter.cpp
  esphome/components/midea/air_conditioner.cpp
  esphome/components/midea/air_conditioner.h
  esphome/components/thermostat/thermostat_climate.cpp
  tests/integration/fixtures/external_components/legacy_climate_component/__init__.py
  tests/integration/fixtures/external_components/legacy_climate_component/climate/__init__.py
  tests/integration/fixtures/external_components/legacy_climate_component/climate/legacy_climate.h
  tests/integration/fixtures/legacy_climate_compat.yaml
  tests/integration/test_legacy_climate_compat.py
Due: pylint

[fan] Store preset mode vector on Fan entity to eliminate heap allocation (#15209)
  esphome/components/copy/fan/copy_fan.cpp
  esphome/components/fan/fan.cpp
  esphome/components/fan/fan.h
  esphome/components/fan/fan_traits.h
  esphome/components/hbridge/fan/hbridge_fan.cpp
  esphome/components/hbridge/fan/hbridge_fan.h
  esphome/components/speed/fan/speed_fan.cpp
  esphome/components/speed/fan/speed_fan.h
  esphome/components/template/fan/template_fan.cpp
  esphome/components/template/fan/template_fan.h
  tests/integration/fixtures/external_components/legacy_fan_component/__init__.py
  tests/integration/fixtures/external_components/legacy_fan_component/fan/__init__.py
  tests/integration/fixtures/external_components/legacy_fan_component/fan/legacy_fan.h
  tests/integration/fixtures/legacy_fan_compat.yaml
  tests/integration/test_legacy_fan_compat.py
Due: pylint

[rpi_dpi_rgb][qspi_dbi] Add deprecation warnings (#15583)
  esphome/components/qspi_dbi/__init__.py
  esphome/components/qspi_dbi/display.py
  esphome/components/rpi_dpi_rgb/__init__.py
  esphome/components/rpi_dpi_rgb/display.py
Due: pylint

Bump version to 2026.4.0b1
  Doxyfile
  esphome/const.py
Due: pylint

[ade7953_spi] Fix SPI mode on esp-idf (#14824)
  esphome/components/ade7953_base/ade7953_base.cpp
  esphome/components/ade7953_base/ade7953_base.h
  esphome/components/ade7953_spi/ade7953_spi.cpp
  esphome/components/ade7953_spi/ade7953_spi.h
Due: none

[ci] Fix status-check-labels workflow flooding CI queue (#15585)
  .github/workflows/status-check-labels.yml
Due: none

Bump version to 2026.5.0-dev
  Doxyfile
  esphome/const.py
Due: pylint

[api] Fix ListEntitiesRequest not read due to LWIP rcvevent tracking (#15589)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Due: none

[safe_mode] Use loop component start time instead of millis() (#15591)
  esphome/components/safe_mode/safe_mode.cpp
Due: none

[safe_mode] Combine related OTA rollback log messages (#15592)
  esphome/components/safe_mode/safe_mode.cpp
Due: none

[gdk101] Increase reset retries for slow-booting sensor MCU (#15584)
  esphome/components/gdk101/gdk101.cpp
Due: none

[socket] Document ready() contract: callers must drain or track (#15590)
  esphome/components/api/api_frame_helper.h
  esphome/components/socket/bsd_sockets_impl.h
  esphome/components/socket/lwip_raw_tcp_impl.h
  esphome/components/socket/lwip_sockets_impl.h
  esphome/components/socket/socket.h
Due: none

[ci] Use --base-only for memory impact builds (#15598)
  .github/workflows/ci.yml
Due: none

[core] Add CodSpeed benchmarks for hot helper functions (#15593)
  tests/benchmarks/core/bench_helpers.cpp
Due: none

[sx127x][cc1101] Disable loop when packet mode is inactive (#15606)
  esphome/components/cc1101/cc1101.cpp
  esphome/components/sx127x/sx127x.cpp
Due: none

[CI] Add org fork detection warning to auto-label PR workflow (#15588)
  .github/scripts/auto-label-pr/constants.js
  .github/scripts/auto-label-pr/detectors.js
  .github/scripts/auto-label-pr/index.js
  .github/scripts/auto-label-pr/reviews.js
Due: none

[hbridge] Move light pin switching to loop (#15615)
  esphome/components/hbridge/light/__init__.py
  esphome/components/hbridge/light/hbridge_light_output.h
Due: pylint

[tca9555] Add interrupt pin support (#15613)
  esphome/components/tca9555/__init__.py
  esphome/components/tca9555/tca9555.cpp
  esphome/components/tca9555/tca9555.h
  tests/components/tca9555/common.yaml
  tests/components/tca9555/test.esp32-idf.yaml
  tests/components/tca9555/test.esp8266-ard.yaml
  tests/components/tca9555/test.rp2040-ard.yaml
Due: pylint

[pca6416a] Add interrupt pin support (#15614)
  esphome/components/pca6416a/__init__.py
  esphome/components/pca6416a/pca6416a.cpp
  esphome/components/pca6416a/pca6416a.h
  tests/components/pca6416a/common.yaml
  tests/components/pca6416a/test.esp32-idf.yaml
  tests/components/pca6416a/test.esp8266-ard.yaml
  tests/components/pca6416a/test.rp2040-ard.yaml
Due: pylint

[mcp23016] Add interrupt pin support (#15616)
  esphome/components/mcp23016/__init__.py
  esphome/components/mcp23016/mcp23016.cpp
  esphome/components/mcp23016/mcp23016.h
  tests/components/mcp23016/common.yaml
  tests/components/mcp23016/test.esp32-idf.yaml
  tests/components/mcp23016/test.esp8266-ard.yaml
  tests/components/mcp23016/test.rp2040-ard.yaml
Due: pylint

[api] Add (inline_encode) proto option for sub-message inlining (#15599)
  esphome/components/api/api.proto
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[micro_wake_word] Pin esp-nn version (#15628)
  esphome/components/micro_wake_word/__init__.py
  esphome/components/micro_wake_word/streaming_model.cpp
  esphome/components/micro_wake_word/streaming_model.h
Due: pylint

[sx127x][cc1101][sx126x] Use GPIO interrupt to wake loop (#15627)
  esphome/components/cc1101/cc1101.cpp
  esphome/components/cc1101/cc1101.h
  esphome/components/sx126x/sx126x.cpp
  esphome/components/sx126x/sx126x.h
  esphome/components/sx127x/sx127x.cpp
  esphome/components/sx127x/sx127x.h
Due: none

[rp2040] Fix W5500 Ethernet pbuf corruption by mirroring LWIPMutex semantics (#15624)
  esphome/components/rp2040/helpers.cpp
Due: none

[epaper_spi] Add Waveshare 3.97inch E-Paper Display (#15466)
  esphome/components/epaper_spi/models/ssd1677.py
Due: pylint

[cc1101] Extract chip configuration into configure() method (#15635)
  esphome/components/cc1101/cc1101.cpp
  esphome/components/cc1101/cc1101.h
Due: none

[mdns] Bump espressif/mdns to 1.11.0 (#15670)
  esphome/components/mdns/__init__.py
  esphome/idf_component.yml
Due: pylint

[canbus] Fix canbus.send can_id compile error (#15668)
  esphome/components/canbus/__init__.py
  tests/components/canbus/common.yaml
Due: pylint

[esp32] Bump platform to 55.03.38, Arduino to 3.3.8, ESP-IDF to 5.5.4 (#15666)
  .clang-tidy.hash
  esphome/components/esp32/__init__.py
  esphome/components/esp32/boards.py
  esphome/platformio_api.py
  esphome/platformio_runner.py
  platformio.ini
  pyproject.toml
  tests/unit_tests/conftest.py
  tests/unit_tests/test_platformio_api.py
Due: pylint, clang-tidy-hash

[packages] Fix false deprecation warning and wrong error paths in nested packages (#15605)
  esphome/components/packages/__init__.py
  tests/component_tests/packages/test_packages.py
Due: pylint

[lvgl] Fix use of rotation on host SDL (#15611)
  esphome/components/lvgl/__init__.py
  tests/components/lvgl/test.host.yaml
Due: pylint
