Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[core] Warn on crystal frequency mismatch during serial upload (#14582)
  esphome/__main__.py
  esphome/util.py
  tests/unit_tests/test_main.py
  tests/unit_tests/test_util.py
Due: pylint

[dew_point] Add dew_point sensor component (#14441)
  CODEOWNERS
  esphome/components/dew_point/__init__.py
  esphome/components/dew_point/dew_point.cpp
  esphome/components/dew_point/dew_point.h
  esphome/components/dew_point/sensor.py
  tests/components/dew_point/common.yaml
  tests/components/dew_point/test.esp32-idf.yaml
  tests/components/dew_point/test.esp8266-ard.yaml
  tests/components/dew_point/test.rp2040-ard.yaml
Due: pylint

[socket] Fix RP2040 TCP race condition between lwip callbacks and main loop (#14679)
  esphome/components/rp2040/helpers.cpp
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/lwip_raw_tcp_impl.h
Due: none

[esp32] gpio type improvements (#14517)
  esphome/components/esp32/gpio.py
  esphome/components/esp32/gpio_esp32.py
  esphome/components/esp32/gpio_esp32_c2.py
  esphome/components/esp32/gpio_esp32_c3.py
  esphome/components/esp32/gpio_esp32_c5.py
  esphome/components/esp32/gpio_esp32_c6.py
  esphome/components/esp32/gpio_esp32_c61.py
  esphome/components/esp32/gpio_esp32_h2.py
  esphome/components/esp32/gpio_esp32_p4.py
  esphome/components/esp32/gpio_esp32_s2.py
  esphome/components/esp32/gpio_esp32_s3.py
Due: pylint

[bme280] Change communication error message to include "no response" hint. (#14686)
  esphome/components/bme280_base/bme280_base.cpp
  esphome/components/bmp280_base/bmp280_base.cpp
Due: none

[rp2040] Add HardFault crash handler with backtrace (#14685)
  esphome/components/logger/logger_rp2040.cpp
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/core.cpp
  esphome/components/rp2040/crash_handler.cpp
  esphome/components/rp2040/crash_handler.h
Due: pylint

[core] Fix waiting for port indefinitely (#14688)
  esphome/__main__.py
Due: pylint

[logger] Fix UART selection not applied before `pre_setup()` (#14690)
  esphome/components/logger/__init__.py
Due: pylint

Enable the address and behavior sanitizers for C++ component unit tests (#13490)
  script/cpp_unit_test.py
Due: pylint

[socket] Fix RP2040 heap corruption from malloc in lwip accept callback (#14687)
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/lwip_raw_tcp_impl.h
Due: none

[micronova] Add command queue (#12268)
  esphome/components/micronova/__init__.py
  esphome/components/micronova/button/__init__.py
  esphome/components/micronova/button/micronova_button.cpp
  esphome/components/micronova/button/micronova_button.h
  esphome/components/micronova/micronova.cpp
  esphome/components/micronova/micronova.h
  esphome/components/micronova/number/__init__.py
  esphome/components/micronova/number/micronova_number.cpp
  esphome/components/micronova/number/micronova_number.h
  esphome/components/micronova/sensor/micronova_sensor.cpp
  esphome/components/micronova/sensor/micronova_sensor.h
  esphome/components/micronova/switch/__init__.py
  esphome/components/micronova/switch/micronova_switch.cpp
  esphome/components/micronova/switch/micronova_switch.h
  esphome/components/micronova/text_sensor/micronova_text_sensor.cpp
  esphome/components/micronova/text_sensor/micronova_text_sensor.h
  esphome/core/defines.h
  esphome/core/helpers.h
Due: pylint

[multiple] Convert static function locals to member variables (#14689)
  esphome/components/daikin_arc/daikin_arc.cpp
  esphome/components/daikin_arc/daikin_arc.h
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/ina2xx_base/ina2xx_base.cpp
  esphome/components/ltr_als_ps/ltr_als_ps.cpp
  esphome/components/ltr_als_ps/ltr_als_ps.h
  esphome/components/matrix_keypad/matrix_keypad.cpp
  esphome/components/matrix_keypad/matrix_keypad.h
  esphome/components/mqtt/mqtt_backend_esp32.cpp
  esphome/components/mqtt/mqtt_backend_esp32.h
  esphome/components/sgp4x/sgp4x.cpp
  esphome/components/sgp4x/sgp4x.h
Due: none

[speaker_source] Add playlist management (#14652)
  esphome/components/speaker_source/automation.h
  esphome/components/speaker_source/media_player.py
  esphome/components/speaker_source/speaker_source_media_player.cpp
  esphome/components/speaker_source/speaker_source_media_player.h
  tests/components/speaker_source/common.yaml
Due: pylint

[sensirion_common] Use SmallBufferWithHeapFallback helper (#14270)
  esphome/components/sensirion_common/i2c_sensirion.cpp
Due: none

[speaker_source] Add shuffle support (#14653)
  esphome/components/speaker_source/speaker_source_media_player.cpp
  esphome/components/speaker_source/speaker_source_media_player.h
  tests/components/speaker_source/common.yaml
Due: none

Bump pyupgrade to v3.21.2 for Python 3.14 compatibility (#14699)
  .pre-commit-config.yaml
Due: none

[dashboard] Use sys.executable for dashboard subprocess commands (#14698)
  esphome/__main__.py
  esphome/dashboard/const.py
  esphome/dashboard/web_server.py
Due: pylint

[speaker_source] Add announcement pipeline (#14654)
  esphome/components/speaker_source/media_player.py
  esphome/components/speaker_source/speaker_source_media_player.cpp
  esphome/components/speaker_source/speaker_source_media_player.h
  tests/components/speaker_source/common.yaml
Due: pylint

Bump version to 2026.3.0b1
  Doxyfile
  esphome/const.py
Due: pylint

Bump version to 2026.4.0-dev
  Doxyfile
  esphome/const.py
Due: pylint

[ci] Add PR title check for unescaped angle brackets (#14701)
  .github/workflows/pr-title-check.yml
Due: none

[ci] Dont run codeowners workflows on release or beta PRs (#14703)
  .github/workflows/codeowner-approved-label-update.yml
  .github/workflows/codeowner-review-request.yml
Due: none

[esp32_hosted] Bump esp_hosted to 2.12.1 (#14708)
  esphome/components/esp32_hosted/__init__.py
  esphome/idf_component.yml
Due: pylint

[ethernet] ESP32-P4 Ethernet compilation fix (#14714)
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/ethernet/ethernet_component.h
  esphome/components/ethernet/ethernet_helpers.c
  tests/components/ethernet/test.esp32-p4-idf.yaml
Due: none

[esp32] Add crash handler to capture and report backtrace across reboots (#14709)
  esphome/components/api/api_connection.h
  esphome/components/api/client.py
  esphome/components/esp32/__init__.py
  esphome/components/esp32/core.cpp
  esphome/components/esp32/crash_handler.cpp
  esphome/components/esp32/crash_handler.h
  esphome/components/logger/logger_esp32.cpp
  esphome/core/defines.h
  esphome/platformio_api.py
  tests/unit_tests/test_platformio_api.py
Due: pylint

[const] Add UNIT_METER_PER_SECOND, UNIT_MILLILITRE, UNIT_POUND to const.py (#14713)
  esphome/const.py
Due: pylint

[ethernet] ESP32-S3 Ethernet compilation fix (#14717)
  esphome/components/ethernet/ethernet_component.h
  esphome/components/ethernet/ethernet_helpers.c
  tests/components/ethernet/common-w5500.yaml
  tests/components/ethernet/test.esp32-s3-idf.yaml
Due: none

[rp2040] Fix crash handler design flaws (#14716)
  esphome/components/api/api_connection.h
  esphome/components/logger/logger_rp2040.cpp
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/core.cpp
  esphome/components/rp2040/crash_handler.cpp
  esphome/components/rp2040/crash_handler.h
  esphome/core/defines.h
Due: pylint

[modbus] Fix buffer overflow in modbus (#14719)
  esphome/components/modbus/modbus.cpp
  tests/components/modbus/modbus_test.cpp
Due: none

[ledc] Fix high-pressure crash & recovery (#14720)
  esphome/components/ledc/ledc_output.cpp
  esphome/components/ledc/ledc_output.h
Due: none

[one_wire] allow changing address at runtime (#12150)
  esphome/components/one_wire/one_wire.cpp
  esphome/components/one_wire/one_wire.h
Due: none

[web_server] use DETAIL_ALL in update_all_json_generator (#14711)
  esphome/components/web_server/web_server.cpp
Due: none

[audio] Bump microOpus to v0.3.5 (#14727)
  esphome/components/audio/__init__.py
  esphome/idf_component.yml
Due: pylint

[runtime_image] Update jpegdec lib version (#14726)
  .clang-tidy.hash
  esphome/components/runtime_image/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[mqtt] Fixed permission denied error for client certificates on Windows (#13525)
  esphome/mqtt.py
Due: pylint

[socket] Fix use-after-free in LWIP PCB close/abort path (#14706)
  esphome/components/socket/lwip_raw_tcp_impl.cpp
Due: none

[socket] Fast path for TCP_NODELAY bypasses lwip_setsockopt overhead (#14693)
  esphome/components/socket/bsd_sockets_impl.h
  esphome/components/socket/lwip_sockets_impl.h
  esphome/core/lwip_fast_select.c
  esphome/core/lwip_fast_select.h
Due: none

[esp32_ble_client] Fix disconnect race that causes stuck connections (#14211)
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Due: none

[time] Fix settimeofday() failure on ESP8266 (#14707)
  esphome/components/time/real_time_clock.cpp
Due: none

[ota][socket] Fix ESP8266/RP2040 OTA timeout by using SO_RCVTIMEO instead of polling (#14675)
  esphome/components/esphome/ota/ota_esphome.cpp
  esphome/components/socket/headers.h
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/lwip_raw_tcp_impl.h
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
