Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[rpi_dpi_rgb] Fix dump_summary deprecation warning (#13461)
  esphome/components/rpi_dpi_rgb/rpi_dpi_rgb.cpp
Due: none

[wifi] Fix watchdog timeout on P4 WiFi scan (#13520)
  esphome/components/esp32_hosted/__init__.py
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/core/defines.h
Due: pylint

[st7701s] Fix dump_summary deprecation warning (#13462)
  esphome/components/st7701s/st7701s.cpp
Due: none

[sen5x] Fix store baseline functionality (#13469)
  esphome/components/sen5x/sen5x.cpp
  esphome/components/sen5x/sen5x.h
  esphome/components/sen5x/sensor.py
Due: pylint

[light] Fix cwww state restore (#13493)
  esphome/components/light/light_call.cpp
Due: none

[slow_pwm] Fix dump_summary deprecation warning (#13460)
  esphome/components/slow_pwm/slow_pwm_output.cpp
Due: none

[mhz19] Fix Uninitialized var warning message (#13526)
  esphome/components/mhz19/mhz19.cpp
Due: none

[http_request] Add custom CA certificate support for ESP32 (#13552)
  esphome/components/http_request/__init__.py
  esphome/components/http_request/http_request_idf.cpp
  esphome/components/http_request/http_request_idf.h
  tests/components/http_request/test-custom-ca.esp32-idf.yaml
  tests/components/http_request/test_ca.pem
Due: pylint

[ota] Improve error message when device closes connection without responding (#13562)
  esphome/espota2.py
  tests/unit_tests/test_espota2.py
Due: pylint

Add additional text_sensor filter tests (#13479)
  tests/components/text_sensor/common.yaml
  tests/integration/fixtures/text_sensor_raw_state.yaml
  tests/integration/test_text_sensor_raw_state.py
Due: pylint

[http_request] Use stack allocation for MD5 buffer in OTA (#13550)
  esphome/components/http_request/ota/ota_http_request.cpp
Due: none

[core] Add PROGMEM string comparison helpers and use in cover/valve/helpers (#13545)
  esphome/components/cover/cover.cpp
  esphome/components/valve/valve.cpp
  esphome/core/helpers.cpp
  esphome/core/progmem.h
Due: none

[libretiny] Bump to 1.11.0 (#13512)
  .clang-tidy.hash
  esphome/components/libretiny/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[mhz19] Refactor detection range logging to use LogString (#13541)
  esphome/components/mhz19/mhz19.cpp
  esphome/components/mhz19/mhz19.h
Due: none

[uln2003] Refactor step mode logging to use LogString (#13543)
  esphome/components/uln2003/uln2003.cpp
  esphome/components/uln2003/uln2003.h
Due: none

[light] Use member array instead of heap allocation in AddressableLightWrapper (#13503)
  esphome/components/light/addressable_light_wrapper.h
Due: none

[tm1638] Use member array instead of heap allocation for display buffer (#13504)
  esphome/components/tm1638/tm1638.cpp
  esphome/components/tm1638/tm1638.h
Due: none

[sml] Use constexpr std::array for START_SEQ constant (#13506)
  esphome/components/sml/constants.h
Due: none

[mqtt] Use stack buffers for publish_state() topic building (#13434)
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_binary_sensor.cpp
  esphome/components/mqtt/mqtt_component.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_date.cpp
  esphome/components/mqtt/mqtt_datetime.cpp
  esphome/components/mqtt/mqtt_event.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_light.cpp
  esphome/components/mqtt/mqtt_lock.cpp
  esphome/components/mqtt/mqtt_number.cpp
  esphome/components/mqtt/mqtt_select.cpp
  esphome/components/mqtt/mqtt_sensor.cpp
  esphome/components/mqtt/mqtt_switch.cpp
  esphome/components/mqtt/mqtt_text.cpp
  esphome/components/mqtt/mqtt_text_sensor.cpp
  esphome/components/mqtt/mqtt_time.cpp
  esphome/components/mqtt/mqtt_update.cpp
  esphome/components/mqtt/mqtt_valve.cpp
Due: none

[ci] Soft-deprecate str_sprintf/str_snprintf to prevent hidden heap allocations (#13227)
  esphome/core/helpers.h
  script/ci-custom.py
Due: pylint

[rp2040] Use SmallBufferWithHeapFallback for preferences (#13501)
  esphome/components/rp2040/preferences.cpp
Due: none

[wifi] Avoid heap allocation when building AP SSID (#13474)
  esphome/components/wifi/wifi_component.cpp
Due: none

[socket] ESP8266: call delay(0) instead of esp_delay(0, cb) for zero timeout (#13530)
  esphome/components/socket/lwip_raw_tcp_impl.cpp
Due: none

[core] Encapsulate entity preference creation to prepare for hash migration (#13505)
  esphome/components/bl0940/number/calibration_number.cpp
  esphome/components/climate/climate.cpp
  esphome/components/cover/cover.cpp
  esphome/components/duty_time/duty_time_sensor.cpp
  esphome/components/fan/fan.cpp
  esphome/components/haier/haier_base.cpp
  esphome/components/haier/hon_climate.cpp
  esphome/components/integration/integration_sensor.cpp
  esphome/components/ld2450/ld2450.cpp
  esphome/components/light/light_state.cpp
  esphome/components/lvgl/number/lvgl_number.h
  esphome/components/lvgl/select/lvgl_select.h
  esphome/components/number/automation.cpp
  esphome/components/opentherm/number/opentherm_number.cpp
  esphome/components/rotary_encoder/rotary_encoder.cpp
  esphome/components/sensor/automation.h
  esphome/components/speaker/media_player/speaker_media_player.cpp
  esphome/components/sprinkler/sprinkler.cpp
  esphome/components/switch/switch.cpp
  esphome/components/template/alarm_control_panel/template_alarm_control_panel.cpp
  esphome/components/template/datetime/template_date.cpp
  esphome/components/template/datetime/template_datetime.cpp
  esphome/components/template/datetime/template_time.cpp
  esphome/components/template/number/template_number.cpp
  esphome/components/template/select/template_select.cpp
  esphome/components/template/text/template_text.cpp
  esphome/components/total_daily_energy/total_daily_energy.cpp
  esphome/components/tuya/number/tuya_number.cpp
  esphome/components/valve/valve.cpp
  esphome/components/water_heater/water_heater.cpp
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
Due: none

[mqtt] Store command comparison strings in flash on ESP8266 (#13546)
  esphome/components/mqtt/mqtt_alarm_control_panel.cpp
  esphome/components/mqtt/mqtt_lock.cpp
Due: none

[factory_reset] Store reset reason comparison strings in flash on ESP8266 (#13547)
  esphome/components/factory_reset/factory_reset.cpp
Due: none

[web_server_base] Update ESPAsyncWebServer to 3.9.5 (#13467)
  .clang-tidy.hash
  esphome/components/web_server_base/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[nfc] Use StaticVector for NFC UID storage to eliminate heap allocation (#13507)
  esphome/components/nfc/binary_sensor/nfc_binary_sensor.cpp
  esphome/components/nfc/binary_sensor/nfc_binary_sensor.h
  esphome/components/nfc/nfc.cpp
  esphome/components/nfc/nfc.h
  esphome/components/nfc/nfc_tag.h
  esphome/components/pn532/pn532.cpp
  esphome/components/pn532/pn532.h
  esphome/components/pn532/pn532_mifare_classic.cpp
  esphome/components/pn532/pn532_mifare_ultralight.cpp
  esphome/components/pn7150/pn7150.cpp
  esphome/components/pn7150/pn7150.h
  esphome/components/pn7150/pn7150_mifare_ultralight.cpp
  esphome/components/pn7160/pn7160.cpp
  esphome/components/pn7160/pn7160.h
  esphome/components/pn7160/pn7160_mifare_ultralight.cpp
  esphome/core/helpers.h
Due: none

[esp32] Eliminate dead exception class code via linker wraps (#13564)
  esphome/components/esp32/__init__.py
  esphome/components/esp32/throw_stubs.cpp
Due: pylint

[libretiny] Regenerate boards for v1.11.0 (#13539)
  esphome/components/rtl87xx/boards.py
Due: pylint

[web_server] Add name_id to SSE for entity ID format migration (#13535)
  esphome/components/web_server/web_server.cpp
Due: none

Update webserver local assets to 20260127-190637 (#13573)
  esphome/components/web_server/server_index_v2.h
  esphome/components/web_server/server_index_v3.h
Due: none

[hub75] Update esp-hub75 to 0.3.2 (#13572)
  esphome/components/hub75/display.py
  esphome/idf_component.yml
Due: pylint

[web_server_idf] Replace heap-allocated url() with stack-based url_to() (#13407)
  esphome/components/captive_portal/captive_portal.cpp
  esphome/components/prometheus/prometheus_handler.h
  esphome/components/web_server/ota/ota_web_server.cpp
  esphome/components/web_server/web_server.cpp
  esphome/components/web_server_idf/web_server_idf.cpp
  esphome/components/web_server_idf/web_server_idf.h
Due: none

[nextion] Fix alternative code path for `dump_device_info` (#13566)
  esphome/components/nextion/nextion.cpp
  tests/components/nextion/common.yaml
Due: none

[web_server] Add RP2040 platform support (#13576)
  .clang-tidy.hash
  esphome/components/async_tcp/__init__.py
  esphome/components/async_tcp/async_tcp.h
  esphome/components/web_server/__init__.py
  esphome/components/web_server_base/__init__.py
  platformio.ini
  tests/components/web_server/test.rp2040-ard.yaml
Due: pylint, clang-tidy-hash

[text_sensor] Use in-place mutation for filters to reduce heap allocations (#13475)
  esphome/components/text_sensor/filter.cpp
  esphome/components/text_sensor/filter.h
Due: none

[esp32] Default to CMN certificate bundle, saving ~51KB flash (#13574)
  esphome/components/esp32/__init__.py
  esphome/components/esp32/const.py
  esphome/components/http_request/__init__.py
  tests/components/esp32/test.esp32-idf.yaml
Due: pylint

[nrf52] Move toolchain to platform (#13498)
  .clang-tidy.hash
  esphome/components/nrf52/__init__.py
  platformio.ini
  tests/components/nrf52/test.nrf52-adafruit.yaml
Due: pylint, clang-tidy-hash

[core] Add LOG_ENTITY_ICON/DEVICE_CLASS/UNIT_OF_MEASUREMENT macros (#13578)
  esphome/components/binary_sensor/binary_sensor.cpp
  esphome/components/button/button.cpp
  esphome/components/cover/cover.h
  esphome/components/datetime/date_entity.h
  esphome/components/datetime/datetime_entity.h
  esphome/components/datetime/time_entity.h
  esphome/components/event/event.h
  esphome/components/lock/lock.h
  esphome/components/number/number.cpp
  esphome/components/select/select.h
  esphome/components/sensor/sensor.cpp
  esphome/components/switch/switch.cpp
  esphome/components/text/text.h
  esphome/components/text_sensor/text_sensor.cpp
  esphome/components/valve/valve.h
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
Due: none
