Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  autoupdate_commit_msg: 'pre-commit: autoupdate'
  autoupdate_schedule: off  # Disabled until ruff versions are synced between deps and pre-commit
  # Skip hooks that have issues in pre-commit CI environment
  skip: [pylint, clang-tidy-hash]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
          - pydocstyle==5.1.1
        files: ^(esphome|tests)/.+\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args:
          - --branch=dev
          - --branch=release
          - --branch=beta
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^(\.clang-format|\.clang-tidy)$
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        types_or: [c, c++]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: python3 script/run-in-env.py pylint
        language: system
        types: [python]
      - id: clang-tidy-hash
        name: Update clang-tidy hash
        entry: python script/clang_tidy_hash.py --update-if-changed
        language: python
        files: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
        pass_filenames: false
        additional_dependencies: []

[rp2040] Fix W5500 Ethernet pbuf corruption by mirroring LWIPMutex semantics (#15624)
  esphome/components/rp2040/helpers.cpp
Due: none

[mcp23016] Add interrupt pin support (#15616)
  esphome/components/mcp23016/__init__.py
  esphome/components/mcp23016/mcp23016.cpp
  esphome/components/mcp23016/mcp23016.h
  tests/components/mcp23016/common.yaml
  tests/components/mcp23016/test.esp32-idf.yaml
  tests/components/mcp23016/test.esp8266-ard.yaml
  tests/components/mcp23016/test.rp2040-ard.yaml
Due: pylint

[gdk101] Increase reset retries for slow-booting sensor MCU (#15584)
  esphome/components/gdk101/gdk101.cpp
Due: none

[sx127x][cc1101] Disable loop when packet mode is inactive (#15606)
  esphome/components/cc1101/cc1101.cpp
  esphome/components/sx127x/sx127x.cpp
Due: none

[hbridge] Move light pin switching to loop (#15615)
  esphome/components/hbridge/light/__init__.py
  esphome/components/hbridge/light/hbridge_light_output.h
Due: pylint

[canbus] Fix canbus.send can_id compile error (#15668)
  esphome/components/canbus/__init__.py
  tests/components/canbus/common.yaml
Due: pylint

[mdns] Bump espressif/mdns to 1.11.0 (#15670)
  esphome/components/mdns/__init__.py
  esphome/idf_component.yml
Due: pylint

[esp32] Bump platform to 55.03.38, Arduino to 3.3.8, ESP-IDF to 5.5.4 (#15666)
  .clang-tidy.hash
  esphome/components/esp32/__init__.py
  esphome/components/esp32/boards.py
  esphome/platformio_api.py
  esphome/platformio_runner.py
  platformio.ini
  pyproject.toml
  tests/unit_tests/conftest.py
  tests/unit_tests/test_platformio_api.py
Due: pylint, clang-tidy-hash

[packages] Fix false deprecation warning and wrong error paths in nested packages (#15605)
  esphome/components/packages/__init__.py
  tests/component_tests/packages/test_packages.py
Due: pylint

Bump version to 2026.4.0b2
  Doxyfile
  esphome/const.py
Due: pylint

[lvgl] Fix use of rotation on host SDL (#15611)
  esphome/components/lvgl/__init__.py
  tests/components/lvgl/test.host.yaml
Due: pylint

[packages] fix support `packages: !include mypackages.yaml` (#15677)
  esphome/components/packages/__init__.py
  tests/component_tests/packages/test_packages.py
  tests/unit_tests/fixtures/substitutions/13-packages_as_included_list.approved.yaml
  tests/unit_tests/fixtures/substitutions/13-packages_as_included_list.input.yaml
  tests/unit_tests/fixtures/substitutions/13-packages_list.yaml
  tests/unit_tests/fixtures/substitutions/14-packages_as_included_dict.approved.yaml
  tests/unit_tests/fixtures/substitutions/14-packages_as_included_dict.input.yaml
  tests/unit_tests/fixtures/substitutions/14-packages_dict.yaml
Due: pylint

[CI] Don't run label workflow on closed/merged PRs (#15678)
  .github/workflows/auto-label-pr.yml
Due: none

[esp32] Use static stack memory for loop task instead of heap (#15659)
  esphome/components/esp32/core.cpp
Due: none

[core] Fix PlatformIO progress bar rendering in subprocess mode (#15681)
  esphome/platformio_api.py
  esphome/platformio_runner.py
Due: pylint

[benchmark] Use -Os to match firmware optimization level (#15688)
  script/cpp_benchmark.py
Due: pylint

[benchmark] Add SubscribeLogsResponse encode benchmarks (#15696)
  tests/benchmarks/components/api/bench_log_response.cpp
Due: none

[api] Add speed_optimized proto option for hot encode paths (#15691)
  esphome/components/api/api.proto
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[bme68x_bsec2] use esphome-libs wrappers for ESP32 (#15697)
  esphome/components/bme68x_bsec2/__init__.py
Due: pylint

[esp32] Fix some compiler warnings & bugs (#15610)
  esphome/components/atm90e32/atm90e32.h
  esphome/components/midea/air_conditioner.cpp
  esphome/components/mipi_spi/mipi_spi.h
  esphome/components/tcs34725/tcs34725.cpp
  esphome/cpp_helpers.py
Due: pylint

[micro_wake_word] Bugfix: Use es-nn v1.1.2 (last known working version) (#15703)
  esphome/components/micro_wake_word/__init__.py
Due: pylint

[zephyr] Remove redundant yield() from main loop (#15694)
  esphome/components/zephyr/core.cpp
Due: none

[core] Move FILTER_PLATFORMIO_LINES into platformio_runner (#15707)
  esphome/platformio_api.py
  esphome/platformio_runner.py
  tests/unit_tests/test_platformio_api.py
Due: pylint

[esp32] Update the recommended platform to 55.03.38-1 (#15705)
  .clang-tidy.hash
  esphome/components/esp32/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[api] Add speed_optimized to SubscribeLogsResponse (#15698)
  esphome/components/api/api.proto
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[scheduler] Force-inline process_defer_queue_() fast path (#15686)
  esphome/core/scheduler.h
Due: none

[scheduler] Force-inline cleanup_() fast path (#15683)
  esphome/core/scheduler.h
Due: none

[scheduler] Force-inline process_to_add() fast path (#15685)
  esphome/core/scheduler.h
Due: none

[heatpumpir] Bump tonia/HeatpumpIR to 1.0.41 (#15711)
  .clang-tidy.hash
  esphome/components/heatpumpir/climate.py
  platformio.ini
Due: pylint, clang-tidy-hash

[adc] Place ADC oneshot control functions in IRAM for cache safety (#15717)
  esphome/components/adc/sensor.py
  esphome/components/esp32/__init__.py
Due: pylint

[web_server] Reset OTA backend on new upload to avoid brick after interrupted OTA (#15720)
  esphome/components/web_server/ota/ota_web_server.cpp
Due: none

[esphome] Skip missing extra flash images in upload_using_esptool (#15723)
  esphome/__main__.py
  tests/unit_tests/test_main.py
Due: pylint

[globals] Fix TemplatableFn deprecation warning for globals.set (#15733)
  esphome/components/globals/__init__.py
  tests/components/globals/common.yaml
Due: pylint

[core] Optimize format_hex_internal by splitting separator loop (#15594)
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  tests/components/core/test_helpers.cpp
Due: none

[audio] Add/configure microDecoder library in preparation for use in future PRs (#15679)
  esphome/components/audio/__init__.py
  esphome/idf_component.yml
Due: pylint

[ld24xx] Replace heap-allocated SensorWithDedup with inline SensorWithDedup (#15676)
  esphome/components/ld2410/ld2410.cpp
  esphome/components/ld2410/ld2410.h
  esphome/components/ld2412/ld2412.cpp
  esphome/components/ld2412/ld2412.h
  esphome/components/ld2450/ld2450.cpp
  esphome/components/ld2450/ld2450.h
  esphome/components/ld24xx/ld24xx.h
Due: none

[core] Add uint32_to_str helper and use in preferences (#15597)
  esphome/components/esp32/preferences.cpp
  esphome/components/libretiny/preferences.cpp
  esphome/core/helpers.cpp
  esphome/core/helpers.h
  tests/benchmarks/core/bench_helpers.cpp
  tests/components/core/test_uint32_to_str.cpp
Due: none

[core] Fix app_state_ status bits clobbered for non-looping components (#15658)
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.cpp
  esphome/core/component.h
  tests/integration/fixtures/status_flags.yaml
  tests/integration/test_status_flags.py
Due: pylint

[light] Deduplicate color_uncorrect channel math via shared helper (#15727)
  esphome/components/light/esp_color_correction.cpp
  esphome/components/light/esp_color_correction.h
Due: none

[i2s_audio] Add PDM mics support for ESP32-P4 (#15333)
  esphome/components/i2s_audio/microphone/__init__.py
Due: pylint
