Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[core] Use ETag in external_files cache to fix re-downloads from raw.githubusercontent.com (#16020)
  esphome/external_files.py
  tests/unit_tests/test_external_files.py
Due: pylint

[feedback] Fix bugprone-unchecked-optional-access in start_direction_ (#16103)
  esphome/components/feedback/feedback_cover.cpp
Due: none

patched mqtt and dht
  .components.list
  components/dht/dht.cpp
  components/mqtt/__init__.py
  components/mqtt/mqtt_backend_rp2040.h
  components/mqtt/mqtt_client.cpp
  components/mqtt/mqtt_client.h
Due: pylint

Add version badges to README and badge update script
  README.md
  update_readme_badges.py
Due: pylint

Fixed order
  README.md
  update_readme_badges.py
Due: pylint

[analyze_memory] Attribute main.cpp setup()/loop() to esphome core (#16033)
  esphome/analyze_memory/__init__.py
  tests/unit_tests/analyze_memory/test_source_file_attribution.py
Due: pylint

[light] Use bitmask template for LightControlAction unused fields (#16039)
  esphome/components/light/automation.h
  esphome/components/light/automation.py
Due: pylint

[light] Use constexpr template for ToggleAction transition_length (#16037)
  esphome/components/light/automation.h
  esphome/components/light/automation.py
  tests/integration/fixtures/light_toggle_action.yaml
  tests/integration/test_light_toggle_action.py
Due: pylint

[light] Use constexpr template for DimRelativeAction transition_length (#16038)
  esphome/components/light/automation.h
  esphome/components/light/automation.py
  tests/components/light/common.yaml
  tests/integration/fixtures/light_dim_relative_action.yaml
  tests/integration/test_light_dim_relative_action.py
Due: pylint

[cover] Add cover.control / cover.template.publish coverage to template tests (#16051)
  tests/components/template/common-base.yaml
Due: none

[climate] Add climate.control coverage to component tests via thermostat (#16052)
  tests/components/climate/common.yaml
Due: none

[wifi] Add phy_mode option for ESP8266 (#16055)
  esphome/components/wifi/__init__.py
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/core/defines.h
  tests/components/wifi/test.esp8266-ard.yaml
Due: pylint

[script] Fix cpp_unit_test crash for non-MULTI_CONF platform components (#16104)
  script/build_helpers.py
  tests/script/test_test_helpers.py
Due: pylint

[core] Download external_files in parallel (#16021)
  esphome/components/audio_file/__init__.py
  esphome/components/speaker/media_player/__init__.py
  esphome/external_files.py
  tests/unit_tests/test_external_files.py
Due: pylint

[api] Avoid JsonDocument copy-and-swap operator= in ActionResponse ctor (#16106)
  esphome/components/api/homeassistant_service.h
Due: none

[time] Fix bugprone-unchecked-optional-access in CronTrigger::check_time_ (#16107)
  esphome/components/time/automation.cpp
Due: none

[light] Fold LightControlAction fields into a single stateless lambda (#16118)
  esphome/components/light/automation.h
  esphome/components/light/automation.py
  esphome/components/light/types.py
Due: pylint

[tormatic] Use .value() for checked optional access in read_gate_status_ (#16121)
  esphome/components/tormatic/tormatic_cover.cpp
Due: none

[api] Extend NOLINT to cover bugprone-random-generator-seed in MAC varint test (#16120)
  tests/components/api/test_proto_mac_varint.cpp
Due: none

[haier] Fix bugprone-unchecked-optional-access; switch HardwareInfo to char[9] (#16124)
  esphome/components/haier/hon_climate.cpp
  esphome/components/haier/hon_climate.h
  esphome/components/haier/smartair2_climate.cpp
Due: none

[mixer_speaker] NOLINT bugprone-unchecked-optional-access in audio_mixer_task (#16130)
  esphome/components/mixer/speaker/mixer_speaker.cpp
Due: none

[aqi] Use std::max initializer-list for non-negative AQI clamp (#16134)
  esphome/components/aqi/aqi_calculator.h
  esphome/components/aqi/caqi_calculator.h
Due: none

[kamstrup_kmp][toshiba] Fix signed/unsigned comparisons against sizeof (#16135)
  esphome/components/kamstrup_kmp/kamstrup_kmp.cpp
  esphome/components/toshiba/toshiba.cpp
Due: none

[remote_base][core] Drop redundant typename in dependent type contexts (#16137)
  esphome/components/remote_base/remote_base.h
  esphome/core/finite_set_mask.h
Due: none

[core] Inline HAL clock wrappers and split hal.h into per-platform headers (#15977)
  esphome/components/esp32/core.cpp
  esphome/components/esp8266/core.cpp
  esphome/components/libretiny/core.cpp
  esphome/components/rp2040/core.cpp
  esphome/core/hal.h
  esphome/core/hal/hal_esp32.h
  esphome/core/hal/hal_esp8266.h
  esphome/core/hal/hal_host.h
  esphome/core/hal/hal_libretiny.h
  esphome/core/hal/hal_rp2040.h
  esphome/core/hal/hal_zephyr.h
  esphome/core/helpers.h
  esphome/core/time_64.h
  esphome/core/time_conversion.h
Due: none

[valve] Add tests for valve.control action field combinations (#16126)
  tests/components/template/common-base.yaml
  tests/integration/fixtures/valve_control_action.yaml
  tests/integration/test_valve_control_action.py
Due: pylint

[fan] Add tests for fan.turn_on action field combinations (#16125)
  tests/components/fan/common.yaml
  tests/integration/fixtures/fan_turn_on_action.yaml
  tests/integration/test_fan_turn_on_action.py
Due: pylint

[core] Catch body-read errors in download_content (#16023)
  esphome/external_files.py
  tests/unit_tests/test_external_files.py
Due: pylint

[ens160] Fix sensor initialization timing (#16024)
  esphome/components/ens160_base/ens160_base.cpp
Due: none

[core] Defer heavy module-scope imports in __main__, loader, and config (#15955)
  esphome/__main__.py
  esphome/config.py
  esphome/loader.py
  script/import_time_budget.json
  tests/unit_tests/test_main.py
Due: pylint

[espnow] Cleanup method visibility and naming (#16109)
  esphome/components/espnow/__init__.py
  esphome/components/espnow/automation.h
  esphome/components/espnow/espnow_component.cpp
  esphome/components/espnow/espnow_component.h
  esphome/components/espnow/packet_transport/espnow_transport.cpp
  esphome/components/espnow/packet_transport/espnow_transport.h
Due: pylint

[scheduler] Add self-keyed timer API for callers without a Component (#16127)
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
  tests/integration/fixtures/scheduler_self_keyed.yaml
  tests/integration/test_scheduler_self_keyed.py
Due: pylint

[watchdog] Use default CHECK_IDLE_TASK and PANIC when configuring the watchdog (#16142)
  esphome/components/watchdog/watchdog.cpp
Due: none

[fan] Fold TurnOnAction fields into a single stateless lambda (#16122)
  esphome/components/fan/__init__.py
  esphome/components/fan/automation.h
Due: pylint

[valve] Fold ControlAction fields into a single stateless lambda (#16123)
  esphome/components/valve/__init__.py
  esphome/components/valve/automation.h
Due: pylint

[esp32] Move HAL bodies into components/esp32/hal.cpp + inline trivial dispatches (#16111)
  esphome/components/esp32/core.cpp
  esphome/components/esp32/hal.cpp
  esphome/core/hal.h
  esphome/core/hal/hal_esp32.h
  esphome/core/hal/hal_esp8266.h
  esphome/core/hal/hal_host.h
  esphome/core/hal/hal_libretiny.h
  esphome/core/hal/hal_rp2040.h
  esphome/core/hal/hal_zephyr.h
Due: none

[ota] Use WatchdogManager for OTA on ESP32 (#16138)
  esphome/components/ota/__init__.py
  esphome/components/ota/ota_backend_esp_idf.cpp
Due: pylint

[ci] Bump clang-tidy from 18.1.8 to 22.1.0.1 (#16078)
  .clang-tidy
  .clang-tidy.hash
  esphome/components/adalight/adalight_light_effect.cpp
  esphome/components/api/proto.h
  esphome/components/climate/climate.cpp
  esphome/components/debug/debug_zephyr.cpp
  esphome/components/e131/e131_addressable_light_effect.cpp
  esphome/components/esp8266/gpio.cpp
  esphome/components/esp8266/preferences.cpp
  esphome/components/http_request/http_request_arduino.cpp
  esphome/components/nrf52/uicr.cpp
  esphome/components/ota/ota_backend_esp8266.cpp
  esphome/components/sprinkler/sprinkler.cpp
  esphome/core/color.h
  esphome/core/helpers.cpp
  esphome/core/preference_backend.h
  requirements_dev.txt
  script/clang-tidy
Due: clang-tidy-hash

[core] DelayAction: drop Component inheritance, use self-keyed scheduler (#16129)
  esphome/automation.py
  esphome/core/base_automation.h
Due: pylint

[sx126x] Add cold sleep option and drop unused RTC wakeup bit (#16144)
  esphome/components/sx126x/__init__.py
  esphome/components/sx126x/automation.h
  esphome/components/sx126x/sx126x.cpp
  esphome/components/sx126x/sx126x.h
Due: pylint

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
