Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[captive_portal] Enable support for RP2040 (#14505)
  esphome/components/captive_portal/__init__.py
  tests/components/captive_portal/test.rp2040-ard.yaml
Due: pylint

[bluetooth_proxy] Add BLE connection parameters API (#14577)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/bluetooth_proxy/bluetooth_connection.h
  esphome/components/bluetooth_proxy/bluetooth_proxy.cpp
  esphome/components/bluetooth_proxy/bluetooth_proxy.h
  esphome/components/esp32_ble_client/ble_client_base.cpp
  esphome/components/esp32_ble_client/ble_client_base.h
Due: none

[core] Merge set_name + set_entity_strings into configure_entity_ (#14444)
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
  esphome/core/entity_helpers.py
  tests/component_tests/binary_sensor/test_binary_sensor.py
  tests/component_tests/button/test_button.py
  tests/component_tests/sensor/test_sensor.py
  tests/component_tests/text/test_text.py
  tests/component_tests/text_sensor/test_text_sensor.py
  tests/unit_tests/core/test_entity_helpers.py
Due: pylint

[api] Single-pass protobuf encode for BLE proxy advertisements (#14575)
  esphome/components/api/api_pb2.cpp
  esphome/components/api/proto.cpp
  esphome/components/api/proto.h
  script/api_protobuf/api_protobuf.py
Due: pylint

[api] Inline APIServer::is_connected() for common no-arg path (#14574)
  esphome/components/api/api_server.cpp
  esphome/components/api/api_server.h
Due: none

[core] Inline status_clear_warning/error fast path (#14571)
  esphome/core/component.cpp
  esphome/core/component.h
Due: none

[component] Fix components for compatibility with stricter compilers (#14545)
  esphome/components/esp32_ble/ble.cpp
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.cpp
  esphome/components/heatpumpir/climate.py
  esphome/components/http_request/update/http_request_update.cpp
  esphome/components/mlx90393/sensor_mlx90393.cpp
  esphome/components/whirlpool/whirlpool.cpp
  esphome/components/whirlpool/whirlpool.h
Due: pylint

[uart][usb_uart] Add debug_prefix option to distinguish multiple defined uarts in log (#14525)
  esphome/components/uart/__init__.py
  esphome/components/uart/uart_debugger.cpp
  esphome/components/uart/uart_debugger.h
  esphome/components/usb_uart/__init__.py
  esphome/components/usb_uart/usb_uart.cpp
  esphome/components/usb_uart/usb_uart.h
  tests/components/uart/test.esp32-c3-idf.yaml
  tests/components/uart/test.esp32-idf.yaml
  tests/components/uart/test.esp8266-ard.yaml
  tests/components/uart/test.host.yaml
  tests/components/uart/test.rp2040-ard.yaml
  tests/components/usb_uart/common.yaml
Due: pylint

[ci] Add RP2350 to PR template test environment (#14599)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[ld2420] Add integration tests with mock UART (#14471)
  tests/integration/fixtures/external_components/uart_mock/uart_mock.cpp
  tests/integration/fixtures/uart_mock_ld2420.yaml
  tests/integration/fixtures/uart_mock_ld2420_simple.yaml
  tests/integration/test_uart_mock_ld2420.py
Due: pylint

[i2s_audio] Include legacy driver IDF component when use_legacy is set (#14613)
  esphome/components/i2s_audio/__init__.py
Due: pylint

[api] Fix value-initialization of DeviceInfoResponse (#14615)
  esphome/components/api/api_connection.cpp
Due: none

[vbus][rf_bridge][sensirion_common] Add buffer size guards (#14597)
  esphome/components/rf_bridge/rf_bridge.cpp
  esphome/components/rf_bridge/rf_bridge.h
  esphome/components/sensirion_common/i2c_sensirion.cpp
  esphome/components/vbus/vbus.cpp
Due: none

[api] Add force proto field option to skip zero checks on hot path (#14610)
  esphome/components/api/api.proto
  esphome/components/api/api_options.proto
  esphome/components/api/api_pb2.cpp
  script/api_protobuf/api_protobuf.py
Due: pylint

[uart] Return `flush` result, expose timeout via config (#14608)
  esphome/components/ble_nus/ble_nus.cpp
  esphome/components/ble_nus/ble_nus.h
  esphome/components/uart/__init__.py
  esphome/components/uart/uart.h
  esphome/components/uart/uart_component.h
  esphome/components/uart/uart_component_esp8266.cpp
  esphome/components/uart/uart_component_esp8266.h
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_component_esp_idf.h
  esphome/components/uart/uart_component_host.cpp
  esphome/components/uart/uart_component_host.h
  esphome/components/uart/uart_component_libretiny.cpp
  esphome/components/uart/uart_component_libretiny.h
  esphome/components/uart/uart_component_rp2040.cpp
  esphome/components/uart/uart_component_rp2040.h
  esphome/components/usb_cdc_acm/usb_cdc_acm.h
  esphome/components/usb_cdc_acm/usb_cdc_acm_esp32.cpp
  esphome/components/usb_uart/usb_uart.cpp
  esphome/components/usb_uart/usb_uart.h
  esphome/components/weikai/weikai.cpp
  esphome/components/weikai/weikai.h
  tests/components/ld2450/common.h
  tests/components/uart/common.h
  tests/integration/fixtures/external_components/uart_mock/uart_mock.cpp
  tests/integration/fixtures/external_components/uart_mock/uart_mock.h
Due: pylint

[usb_uart] Return `flush` result, expose timeout via config (#14616)
  esphome/components/usb_uart/__init__.py
  esphome/components/usb_uart/usb_uart.cpp
  esphome/components/usb_uart/usb_uart.h
Due: pylint

[nrf52, ota] ble and serial OTA based on mcumgr (#11932)
  CODEOWNERS
  esphome/components/nrf52/__init__.py
  esphome/components/ota/__init__.py
  esphome/components/safe_mode/safe_mode.cpp
  esphome/components/zephyr_mcumgr/__init__.py
  esphome/components/zephyr_mcumgr/ota/__init__.py
  esphome/components/zephyr_mcumgr/ota/ota_zephyr_mcumgr.cpp
  esphome/components/zephyr_mcumgr/ota/ota_zephyr_mcumgr.h
  esphome/core/defines.h
  script/helpers_zephyr.py
  tests/components/ota/test.nrf52-mcumgr.yaml
Due: pylint

[api] Inline varint and encode_varint_raw fast paths for hot loop performance (#14607)
  esphome/components/api/proto.cpp
  esphome/components/api/proto.h
Due: none

[nrf52] allow to update OTA via cmd (#12344)
  esphome/components/nrf52/__init__.py
  esphome/components/nrf52/ota.py
  requirements.txt
Due: pylint

[serial_proxy] New component (#13944)
  CODEOWNERS
  esphome/components/api/api.proto
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/api_pb2.cpp
  esphome/components/api/api_pb2.h
  esphome/components/api/api_pb2_dump.cpp
  esphome/components/api/api_pb2_service.h
  esphome/components/serial_proxy/__init__.py
  esphome/components/serial_proxy/serial_proxy.cpp
  esphome/components/serial_proxy/serial_proxy.h
  esphome/core/application.h
  esphome/core/defines.h
  tests/components/serial_proxy/common.yaml
  tests/components/serial_proxy/test.esp32-idf.yaml
  tests/components/serial_proxy/test.esp8266-ard.yaml
  tests/components/serial_proxy/test.rp2040-ard.yaml
Due: pylint

[usb_uart] ch34x chip-type & port-count enumeration (#14544)
  esphome/components/usb_uart/ch34x.cpp
  esphome/components/usb_uart/usb_uart.h
Due: none

[ethernet] Fix commit 3f700bac1cebf7eb6ff3b20a87d8c8af5cb9fc41 (#14618)
  esphome/components/ethernet/esp_eth_phy_jl1101.c
  esphome/components/ethernet/ethernet_component.h
Due: none

[ble_nus] make ble_nus timeout shorter than watchdog (#14619)
  esphome/components/ble_nus/ble_nus.cpp
Due: none

[ci] Add medium-pr label for PRs with ≤100 lines changed (#14628)
  .github/scripts/auto-label-pr/constants.js
  .github/scripts/auto-label-pr/detectors.js
  .github/scripts/auto-label-pr/index.js
  .github/workflows/auto-label-pr.yml
Due: none

[mixer_speaker] Add task debounce (#14581)
  esphome/components/mixer/speaker/mixer_speaker.cpp
  esphome/components/mixer/speaker/mixer_speaker.h
Due: none

[i2s_audio] Fix mono sample swap and block 8-bit mono on ESP32 (#14516)
  esphome/components/i2s_audio/microphone/__init__.py
  esphome/components/i2s_audio/microphone/i2s_audio_microphone.cpp
  esphome/components/i2s_audio/speaker/__init__.py
  esphome/components/i2s_audio/speaker/i2s_audio_speaker.cpp
  esphome/components/speaker/media_player/audio_pipeline.cpp
Due: pylint

[esp32_ble] Optimize BLE event hot path performance (#14627)
  esphome/components/esp32_ble/ble_event.h
  esphome/core/lock_free_queue.h
Due: none

[scheduler] Use std::atomic<uint8_t> instead of std::atomic<bool> for remove flag (#14626)
  esphome/core/scheduler.h
Due: none

[api] Inline fast path of try_to_clear_buffer (#14630)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Due: none

[core] Skip zero-initialization of StaticVector data array (#14592)
  esphome/core/helpers.h
Due: none

[esp32_ble] Inline ble_addr_to_uint64 to eliminate call overhead (#14591)
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
Due: none

[modbus] Fix timeout for non-hardware UARTs (e.g., USB UART) (#14614)
  esphome/components/modbus/modbus.cpp
  esphome/components/uart/uart_component.h
  tests/integration/fixtures/external_components/uart_mock/__init__.py
  tests/integration/fixtures/external_components/uart_mock/automation.h
  tests/integration/fixtures/external_components/uart_mock/uart_mock.cpp
  tests/integration/fixtures/external_components/uart_mock/uart_mock.h
  tests/integration/fixtures/uart_mock_modbus_no_threshold.yaml
  tests/integration/test_uart_mock_modbus.py
Due: pylint

[rp2040] Wrap printf/vprintf/fprintf to eliminate _vfprintf_r (~9.2 KB flash) (#14622)
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/const.py
  esphome/components/rp2040/printf_stubs.cpp
  tests/components/rp2040/test.rp2040-ard.yaml
Due: pylint

[esp8266] Wrap printf/vprintf/fprintf to eliminate _vfiprintf_r (~1.6 KB flash) (#14621)
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/const.py
  esphome/components/esp8266/printf_stubs.cpp
  tests/components/esp8266/test.esp8266-ard.yaml
Due: pylint

[ld2450] Add integration tests with mock UART (#14611)
  tests/integration/fixtures/uart_mock_ld2450.yaml
  tests/integration/state_utils.py
  tests/integration/test_uart_mock_ld2450.py
Due: pylint

[api] Bump noise-c to 0.1.11 (#14632)
  .clang-tidy.hash
  esphome/components/api/__init__.py
  platformio.ini
Due: pylint, clang-tidy-hash

[const] Move CONF_ENABLE_FULL_PRINTF to const.py (#14633)
  esphome/components/esp32/__init__.py
  esphome/components/esp8266/__init__.py
  esphome/components/esp8266/const.py
  esphome/components/rp2040/__init__.py
  esphome/components/rp2040/const.py
  esphome/const.py
Due: pylint

[core] Pack entity flags into configure_entity_() and protect setters (#14564)
  esphome/core/entity_base.cpp
  esphome/core/entity_base.h
  esphome/core/entity_helpers.py
  tests/component_tests/binary_sensor/test_binary_sensor.py
  tests/component_tests/button/test_button.py
  tests/component_tests/helpers.py
  tests/component_tests/sensor/test_sensor.py
  tests/component_tests/text/test_text.py
  tests/component_tests/text_sensor/test_text_sensor.py
  tests/unit_tests/core/test_entity_helpers.py
Due: pylint

[socket] Add socket wake support for RP2040 (#14498)
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/socket.h
  esphome/core/application.cpp
  esphome/core/application.h
  esphome/core/component.cpp
Due: none

[api] Skip state_action_() call in noise data path (#14629)
  esphome/components/api/api_frame_helper.h
  esphome/components/api/api_frame_helper_noise.cpp
  esphome/components/api/api_frame_helper_plaintext.cpp
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
