Repository zet-root/esphome-components: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, clang-tidy-hash

pylint:
  name: pylint
  entry: python3 script/run-in-env.py pylint
  language: system

clang-tidy-hash:
  name: Update clang-tidy hash
  entry: python script/clang_tidy_hash.py --update-if-changed
  language: python
  pass_filenames: false
  additional_dependencies: []

[mqtt] Avoid heap allocation in on_log by using const char* publish overload (#13809)
  esphome/components/mqtt/mqtt_client.cpp
Due: none

[rtttl] Convert state_to_string to PROGMEM_STRING_TABLE (#13807)
  esphome/components/rtttl/rtttl.cpp
Due: none

[debug] Move ESP8266 switch tables to flash with PROGMEM_STRING_TABLE (#13813)
  esphome/components/debug/debug_esp8266.cpp
Due: none

[sprinkler] Convert state and request origin strings to PROGMEM_STRING_TABLE (#13806)
  esphome/components/sprinkler/sprinkler.cpp
Due: none

[mqtt] Add zero-allocation topic getters to MQTT_COMPONENT_CUSTOM_TOPIC macro (#13811)
  esphome/components/mqtt/mqtt_climate.cpp
  esphome/components/mqtt/mqtt_component.h
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_fan.cpp
  esphome/components/mqtt/mqtt_valve.cpp
Due: none

[web_server_idf] Reduce heap allocations by using stack buffers (#13549)
  esphome/components/web_server_idf/web_server_idf.cpp
Due: none

[libretiny] Update LibreTiny to v1.12.1 (#13851)
  .clang-tidy.hash
  esphome/components/bk72xx/boards.py
  esphome/components/libretiny/__init__.py
  esphome/components/ln882x/boards.py
  esphome/components/rtl87xx/boards.py
  platformio.ini
Due: pylint, clang-tidy-hash

[esp32] Fix ESP32-P4 test: replace stale esp_hosted component ref (#13920)
  tests/components/esp32/test.esp32-p4-idf.yaml
Due: none

[esp32] Upgrade uv to 0.10.1 and increase HTTP retries (#13918)
  docker/Dockerfile
  esphome/components/esp32/__init__.py
  esphome/platformio_api.py
Due: pylint

[mdns] Throttle MDNS.update() polling on ESP8266 and RP2040 (#13917)
  esphome/components/mdns/mdns_component.h
  esphome/components/mdns/mdns_esp8266.cpp
  esphome/components/mdns/mdns_rp2040.cpp
Due: none

[rtttl] Code Improvements (#13653)
  esphome/components/rtttl/rtttl.cpp
  esphome/components/rtttl/rtttl.h
Due: none

[esp32_ble] Extract state transitions from ESP32BLE::loop() hot path (#13903)
  esphome/components/esp32_ble/ble.cpp
  esphome/components/esp32_ble/ble.h
Due: none

[api] Extract cold code from APIConnection::loop() hot path (#13901)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
  esphome/components/api/list_entities.h
  esphome/components/api/subscribe_state.h
  esphome/core/component_iterator.h
Due: none

[core] Extract dump_config from Application::loop() hot path (#13900)
  esphome/core/application.cpp
  esphome/core/application.h
Due: none

[scheduler] Reduce set_timer_common_ hot path size by 25% (#13899)
  esphome/core/scheduler.cpp
  esphome/core/scheduler.h
Due: none

[api] Fix compiler format warnings (#13931)
  esphome/components/api/api_connection.cpp
  esphome/components/api/proto.cpp
Due: none

[web_server] Remove unnecessary packed attribute from DeferredEvent (#13932)
  esphome/components/web_server/web_server.h
  esphome/components/web_server_idf/web_server_idf.h
Due: none

[esp8266][rp2040] Eliminate heap fallback in preference save/load (#13928)
  esphome/components/esp8266/preferences.cpp
  esphome/components/rp2040/preferences.cpp
Due: none

[nrf52,logger] add support for task_log_buffer_size (#13862)
  esphome/components/logger/__init__.py
  esphome/components/logger/log_buffer.h
  esphome/components/logger/logger.cpp
  esphome/components/logger/logger.h
  esphome/components/logger/logger_zephyr.cpp
  esphome/components/logger/task_log_buffer_esp32.cpp
  esphome/components/logger/task_log_buffer_esp32.h
  esphome/components/logger/task_log_buffer_host.cpp
  esphome/components/logger/task_log_buffer_host.h
  esphome/components/logger/task_log_buffer_libretiny.cpp
  esphome/components/logger/task_log_buffer_libretiny.h
  esphome/components/logger/task_log_buffer_zephyr.cpp
  esphome/components/logger/task_log_buffer_zephyr.h
  esphome/core/defines.h
  tests/components/logger/test.nrf52-adafruit.yaml
Due: pylint

[light] Eliminate redundant clamp in LightCall::validate_() (#13923)
  esphome/components/light/light_call.cpp
  esphome/components/light/light_color_values.h
Due: none

[bl0942] Update reference values (#12867)
  esphome/components/bl0942/bl0942.h
Due: none

[web_server_idf] Use constant-time comparison for Basic Auth (#13868)
  esphome/components/web_server_idf/web_server_idf.cpp
Due: none

[api] Split process_batch_ to reduce stack on single-message hot path (#13907)
  esphome/components/api/api_connection.cpp
  esphome/components/api/api_connection.h
Due: none

[mqtt.cover] Add option to publish states as JSON payload (#12639)
  esphome/components/cover/__init__.py
  esphome/components/mqtt/mqtt_cover.cpp
  esphome/components/mqtt/mqtt_cover.h
  esphome/const.py
  esphome/core/defines.h
  tests/components/mqtt/common.yaml
Due: pylint

[preferences] Replace per-element erase with clear() in sync() (#13934)
  esphome/components/esp32/preferences.cpp
  esphome/components/libretiny/preferences.cpp
Due: none

[openthread] Fix warning on old C89 implicit field zero init (#13935)
  esphome/components/openthread/openthread_esp.cpp
Due: none

[socket] Devirtualize Socket::ready() and implement working ready() for LWIP raw TCP (#13913)
  esphome/components/socket/bsd_sockets_impl.cpp
  esphome/components/socket/lwip_raw_tcp_impl.cpp
  esphome/components/socket/lwip_sockets_impl.cpp
  esphome/components/socket/socket.cpp
  esphome/components/socket/socket.h
  esphome/core/application.cpp
  esphome/core/application.h
Due: none

[api] Fix debug asserts in production code, encode_bool bug, and reduce flash overhead (#13936)
  esphome/components/api/api_frame_helper_plaintext.cpp
  esphome/components/api/proto.h
  esphome/core/defines.h
  tests/integration/conftest.py
Due: pylint

[nrf52,zigbee] count sleep time of zigbee thread (#13933)
  esphome/components/zigbee/zigbee_zephyr.cpp
  esphome/components/zigbee/zigbee_zephyr.h
Due: none

[wifi] Add CompactString to reduce WiFi scan heap fragmentation (#13472)
  esphome/components/esp32_improv/esp32_improv_component.cpp
  esphome/components/improv_serial/improv_serial_component.cpp
  esphome/components/wifi/wifi_component.cpp
  esphome/components/wifi/wifi_component.h
  esphome/components/wifi/wifi_component_esp8266.cpp
  esphome/components/wifi/wifi_component_esp_idf.cpp
  esphome/components/wifi/wifi_component_libretiny.cpp
  esphome/components/wifi/wifi_component_pico_w.cpp
  esphome/components/wifi_info/wifi_info_text_sensor.cpp
Due: none

[web_server_idf] Revert multipart upload buffer back to heap to fix httpd stack overflow (#13941)
  esphome/components/web_server_idf/web_server_idf.cpp
Due: none

[web_server_idf] Remove std::string temporaries from multipart header parsing (#13940)
  esphome/components/web_server_idf/multipart.cpp
  esphome/components/web_server_idf/multipart.h
  esphome/components/web_server_idf/utils.cpp
  esphome/components/web_server_idf/utils.h
  esphome/components/web_server_idf/web_server_idf.cpp
Due: none

[esp32] Bump Arduino to 3.3.7, platform to 55.03.37 (#13943)
  .clang-tidy.hash
  esphome/components/esp32/__init__.py
  esphome/components/esp32/boards.py
  esphome/core/defines.h
  platformio.ini
Due: pylint, clang-tidy-hash

Allow Python 3.14 (#13945)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

[wifi] Allow fast_connect without preconfigured networks (#13946)
  esphome/components/wifi/__init__.py
Due: pylint

[ethernet] Add per-PHY compile guards to eliminate unused PHY drivers (#13947)
  esphome/components/ethernet/__init__.py
  esphome/components/ethernet/ethernet_component.cpp
  esphome/core/defines.h
Due: pylint

Bump version to 2026.2.0b1
  Doxyfile
  esphome/const.py
Due: pylint

[docker] Suppress git detached HEAD advice (#13962)
  docker/Dockerfile
Due: none

[schema-gen] fix Windows: ensure UTF-8 encoding when reading component files (#13952)
  script/build_language_schema.py
Due: pylint

[uart] Remove redundant mutex, fix flush race, conditional event queue (#13955)
  esphome/components/uart/uart_component_esp_idf.cpp
  esphome/components/uart/uart_component_esp_idf.h
Due: none

Path conditions:
  pylint: any of: \.py$
  clang-tidy-hash: any of: ^(\.clang-tidy|platformio\.ini|requirements_dev\.txt)$
